@import 'variables';
@import 'mixins';
@import 'type';
@import 'admin';

html,body{
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(/images/backgrounds/exclusive_paper.png);
   font-family: "Lora", sans-serif;
}


/* Type ------------------------*/
	h1{
		color: $black-0;
	}
	h2{
		color: $black-1;
	}
	h3{
		color: $black-2;
	}
	h4{
		color: $black-0;
	}
	h5{
		color: $black-1;
	}
	h6{
		color: $black-2;
	}
	p{
		color: $black-0;
	}
	strong {
	 font-weight: bold;
	}
	/* Type adjustments */
	.truncate {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.orange-type{
		color: $orange;
	}
	.red-type{
		color: $red;
	}
	.font-sm{
		font-size: $font-sm!important;
	}

/* Containers ------------------------*/
	.container-main{
		min-height: 100vh;
	}
	.box{
		margin: $margin-lg 0;
		padding: $pad-md $pad-lg;
	}
	.edit-box{
		@extend .box;
		.row{
			margin: 0;
		}
		.col{
			margin-top: $margin-md;
			margin-bottom: $margin-md;
		}
	}
	.border-box{
		@extend .box;
		border: 1px solid $black-0;
	}
	.card {
		h4 {
			margin-top:0em;
			margin-bottom:0.3em;
		}
	}
	.pad-md{
		padding: $pad-sm;
	}

/* Navigation ------------------------*/
	/*// pushing the logo around at the top*/
	.brand-logo {
		position: relative;
		top: 2px;
		img{
			width: 100%;
		}
	}
	nav{
		a{
			text-align: center;
		}
	}
	.journal-nav {
		/*background-color: rgba(97, 7, 19, 0.9);*/
	}

/* Borders ------------------------*/
	.border-gray{
		border: 1px solid $gray-2;
	}

/* Footer ------------------------*/
	.footer{
		padding: 0 0;
		.container{
			min-height: 100px;
		}
		.row{
			margin-top: 0;
			margin-bottom: 0;
		}
		ul{
			list-style: none;
			text-align: center;
			li{
				display: inline-block;
				margin: 0 auto;
			}
		}
	}

/* Home ------------------------*/
	.edboard-name {
	  cursor: pointer;
	}
	.edboard-bio {
	   display: none;
	}
	.home-left-nav {
		li {
			margin: 8px 0px;
			a {
				color: $black-1;
				font-weight:bold;
				font-size:1.1em;
				line-height:1em;
			}
		}
	}

/* Article ------------------------*/
	#article-title{
		margin:0px;
	}
	.authors{
		span{
			&:last-child{
				.comma{
					display:none;
				}
			}
		}
	}
	.author-affiliations{
		span{
			.comma{
				display: inline-block!important;
			}
			&:last-child{
				.comma{
					display:none!important;
				}
			}
		}
	}
	.affiliations{
		color: $gray-2;
		font-size: $font-sm;
	}
	.kw{
		margin: $margin-sm 0 $margin-sm $margin-sm;
		@extend .serif;
		text-transform: none!important;
	}
	/* Figures */
	/* --------- */
	.owl-carousel{
		background-color: $gray-0;
	}
	.owl-item{
		div:not(.material-placeholder){
			margin: $margin-lg;
			padding: $pad-lg;
			@extend .border-gray;
		}
	}

	/* Full Text */
	/* --------- */
	.full-text-image-container{
		width: 50%;
		margin: $margin-md auto;
		h4{
			padding: $pad-md;
			border-bottom: 1px solid $gray-2;
		}
	}
	.full-text-image{
		width: 100%;
		margin: $margin-md 0;
	}
	/* section headers */
	.article-header-1{
		@extend h2;
	}
	.article-header-2{
		@extend h3;
	}
	.article-header-3{
		@extend h4;
	}
	.article-table{
		@extend .box;
		padding: 0px!important;
		border: 1px solid $black-0;
		table{
			caption{
				background: $gray-1;
				padding: $pad-md;
				border-bottom: 1px solid $black-0;
			}
			thead{;
				border-bottom: 1px solid $black-0;
				tr{
					border: 0px!important; /* using .bordered on table, but we do not want table header bordered */
				}
			}
		}
	}
	/* section nav */
	.section-nav{
		height: 90vh;
		background: $white;
		border: 1px solid $gray-2;
		padding: $pad-md;
		/*height: calc(100vh - 100px - 70px); //minus header and footer*/
		li{
			margin: 0;
			padding: $margin-md 0;
			overflow: hidden;
			text-overflow: ellipsis;
			border-bottom: 1px solid $gray-0;
		}
		a{
			display: block;
			width: 100%;
		}
		.article-header-1{
			@extend h4;
		}
		.article-header-2{
			@extend h5;
			margin-left: $margin-md;
		}
		.article-header-3{
			@extend p;
			margin-left: $margin-lg;
		}
		a{
			/*color: $link-text!important;*/
			&:hover{
				color: $link-text-hover!important;
			};
		}
	}
	.sticky-wrapper.is-sticky{
		.section-nav{
			/*height: 90vh;*/ /* leave space for footer */
			overflow: scroll;
		}
	}

/* Archive ------------------------*/
	.archive-issue{
		float:left;
		display:block;
		width: 25%;
		img{
			width: 90%;
		}
		&:nth-child(4n+1){
			clear: both;
		};
	}

/* Buttons ------------------------*/
	.btn{
		@extend .serif;
	}
	.btn-sm{
		font-size: $font-sm;
	}
	.btn-group{
		/*padding: $pad-lg;*/
	}
	.btn-primary{
		background-color: $btn-color-primary;
	}
	.btn-secondary{
		background-color: $btn-color-secondary;
	}
	.btn-update{
		background-color: $btn-color-update;
	}
	.btn-add{
		background-color: $btn-color-add;
	}
	.btn-edit{
		background-color: $btn-color-edit;
	}
	.btn-delete{
		background-color: $btn-color-delete;
	}
	.btn-cancel{
		background-color: $btn-color-cancel;
	}
	.submit{
		background-color: $btn-color-primary;
	}
	.kw{
		font-size: 0.8rem;
	}
	.close-icon{
		font-size: $font-lg;
		cursor: pointer;
	}
	.btn.active{
		pointer-events: none;
	}

/* Issue --------------------------*/
.issue-article{
	margin: $margin-xl 0;
}

/* Links --------------------------*/
	a:not(.btn):not(.nav-links > a){
		color: $link-text;
		&:hover{
			color: $link-text-hover;
		};
	}

/* List --------------------------*/
	.roman-list{
		list-style: upper-roman;
	}

/* Materialize ------------------------*/
	.card-header{
		border-bottom: 2px solid $journal-primary-color;
	}
	.chip{
		padding: $pad-sm;
		margin-right: $margin-sm;
	}

/* Forms ------------------------*/
	fieldset{
		margin-top: $margin-lg;
		margin-bottom: $margin-lg;
	}
	.loading-img{
		width: 100px;
		margin: 0 auto;
	}
	.saving{
		padding: $pad-lg;
	}
	.success{
		.col{
			padding: $pad-lg;
		}
	}
	.clear{
		background-color: $red;
	}
	#close-success-msg{
		cursor: pointer;
	}
	.error-box{
		padding: $pad-lg;
		background-color: $red-lightest;
	}

/* MISC ------------------------*/
	.pointer{
		cursor: pointer;
	}
	.no-margin{
		margin: 0px;
	}
	.ip-alert{
		padding: $pad-md 0;
		background: $journal-primary-color;
		p{
			margin: 0;
			color: $white-dark;
		}
	}
	.columns{
		@include columns-count(3);
	}

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */
