@mixin columns-count($count){
    -webkit-column-count: $count;
    -moz-column-count: $count;
    column-count: $count;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius!important;
     -moz-border-radius: $radius!important;
      -ms-border-radius: $radius!important;
          border-radius: $radius!important;
}

@mixin opacity($value) {
  -webkit-opacity: $value!important;
     -moz-opacity: $value!important;
      -ms-opacity: $value!important;
          opacity: $value!important;
}

@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value!important;
     -moz-backface-visibility: $value!important;
      -ms-backface-visibility: $value!important;
          backface-visibility: $value!important;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// FANCY CSS STUFF
@mixin padding-vertical($value) {
  padding-top: $value;
  padding-bottom: $value - 2;
}

.uppercase-titles {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
}

@mixin clearfix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$small: 750px;
$medium: 970px;
$large: 1170px;
$wide: 1460px;

$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

/* Type */
/*https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/*/
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}