@import 'mixins';
.sans{
  font-family: 'Open Sans', Geneva, sans-serif;
}
h3,h5,p, .btn{
  @extend .sans;
}

$breakpoints: (
  medium: 43.75em,
  large : 56.25em
);


$h1-font-sizes: (
  null  : 2em,
  medium: 2.5em,
  large : 3em
);
$h2-font-sizes: (
  null  : 1.625em,
  medium: 2em,
  large : 2.25em
);
$h3-font-sizes: (
  null  : 1.375em,
  medium: 1.5em,
  large : 1.75em
);
$h4-font-sizes: (
  null  : 1.125em
);
$h5-font-sizes: (
  null  : 1.12em
);
$h6-font-sizes: (
  null  : 1.1em
);
$h7-font-sizes: (
  null  : 1.1em
);
$p-font-sizes: (
  null  : (1em, 1.3)
);
$blockquote-font-sizes: (
  null  : (1.25em, 1.3)
);


h1 {
  @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes);
}
h3 {
  @include font-size($h3-font-sizes);
}
h4 {
  @include font-size($h4-font-sizes);
}
h4 {
  @include font-size($h4-font-sizes);
}
h5 {
  @include font-size($h5-font-sizes);
}
h6 {
  @include font-size($h6-font-sizes);
}
h7 {
  @include font-size($h7-font-sizes);
}
p {
  @include font-size($p-font-sizes);
}
blockquote {
  @include font-size($blockquote-font-sizes);
}