/*
COLORS
*/
$journal-primary-color: #610713;

$black-0:		#111111;
$black-1:		#313131;
$black-2:		#424242;

$blue-0:		#42a5f5;
$blue-1:		#1e88e5;
$blue-2:		#1565c0;

$blue-gray:		#eceff1;

$gray-0:		#f5f5f5;
$gray-1:		#e0e0e0;
$gray-2:		#9e9e9e;

$green:			#66bb6a;

$orange:		#ffb74d;
$orange-deep:	#f4511e;

$red:			#ef5350;
$red-light:		#ef9a9a;
$red-lightest: 	#ffcdd2;

$white: 		#ffffff;
$white-dark: 	#dddddd;

$yellow:		#ffd600;

$btn-color-update:		$blue-0;
$btn-color-add:			$green;
$btn-color-delete:		$red;
$btn-color-primary: 	$blue-0;
$btn-color-secondary: 	$gray-1;
$btn-color-edit: 		$orange;
$btn-color-cancel: 		$orange-deep;

$link-text: $blue-1;
$link-text-hover: $blue-2;

/*
PADDING
*/
$pad-sm:		5px;
$pad-md:		10px;
$pad-lg:		20px;

/*
MARGIN
*/
$margin-sm:		5px;
$margin-md:		10px;
$margin-lg:		20px;
$margin-xl:		40px;
$margin-xxl:	80px;

/*
FONT
*/
$font-sm:		.8rem;
$font-md:		1.2rem;
$font-lg:		1.5rem;