@import '/{meta:susy}/susy',
        '../style/mixins',

        'partials/variables',
        'partials/mixins',
        'partials/grid',
        'partials/overrides',

        'modules/type',
        'modules/layout',
        'modules/cards',
        'modules/home';


/**
 * Issues, Articles, News
 *
 * Issue archive, table of contents,
 * news, and article pages.
 */


/** Page Titles
 ---------------------------------------------------------*/
.page-title {
    span.page-desc {
        display: block;
        font-size: 14px;
        margin: 12px 0 20px;
        @extend .uppercase-titles;
        color: rgba(162, 169, 176, .75);

        &.accented {
            color: $accent;
        }

        + h1 {
            margin: 0;
            padding: 0;
        }
    }

    span.issue-date {
        @extend h2;
        display: inline-block;
        margin: 10px 0 10px;
    }
}


/** Table of Contents Page
 ---------------------------------------------------------*/
.toc-title {
  margin-bottom: 10px;
  @include clearfix;
}

.toc-title > .cover-image {
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
}

.toc-info {
    margin: 30px 0;

    h2.title, h6.desc {
        line-height: 1.3;
    }

    h6.desc, span.meta {
        font-size: 15px;
        color: darken($kashmir, 10%);
    }

    h2.title {
        font-size: 17px;
        margin: 0 0 5px 0;
        font-weight: 700;
        color: $cello;
    }

    h6.desc {
        margin: 0;
        padding: 0;
    }

    span.meta {
        margin: 10px 23px 0 0;
        display: inline-block;
    }
}

.article-links {
    margin: 20px 0 50px;
}

/** Issue Scroller (Prev / Next)
 ---------------------------------------------------------*/
.issue-scroller {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #F0F0F0;
    border-bottom: 2px solid #F0F0F0;
    @include padding-vertical(14px);
    margin-bottom: 20px;

    span {
        display: inline-block;
        @extend .uppercase-titles;
        font-size: 14px;

        &.prev a,
        &.next a {
            color: $kashmir;
        }

        span.icon {
            font-size: 11px;

            &.icon-angle-right { margin-left: 3px; }
            &.icon-angle-left { margin-right: 3px; }
        }
    }
}

/** Article Pages
 ---------------------------------------------------------*/
h5.article-header {
    position: relative;
    margin-bottom: 20px;
    @extend .uppercase-titles;
    left: 1px;

    span {
        margin-right: 10px;
        padding-right: 15px;
        border-right: 2px solid rgba(119, 130, 142, .2);
        font-weight: 500;
        &:last-child { border: 0 none; }
    }

    span.article-type {
        color: $accent;
        font-weight: 700;
    }
}

h2.authors {
    line-height: 1.6;
    font-size: 17px;

    span.author {
        white-space: nowrap;

        // fix trailing comma whitespace
        > span.comma {
            position: relative;
            right: 2px;
        }
    }

    // superscript
    sup.author-affiliations a {
        font-size: 13px;
        color: $kashmir;
        font-weight: 500;
        margin: 0;
        padding: 0 !important;

        &:hover { color: $accent; }
    }
}

.featured-photo {
    width: 100%;
    position: relative;
    margin: 35px 0;

    .photo {
        width: 100%;
        max-width: 100%;
        @extend .faint-shadow;
        @include border-radius(2px);
    }

    .tag {
        position: absolute;
        bottom: -15px;
        right: 20px;
    }
}

.article-text {
    margin-top: 3rem;

    h3.article-header-1 {
        @extend .uppercase-titles;
        color: $electric;
        margin: 80px 0 0;

        &#abstract {
            margin-top: 20px;
        }

        &.bordered {
            padding-bottom: 8px;
            border-bottom: 2px solid rgba(119, 130, 142, .2);
        }
    }

    h3.article-header-2,
    h3#references {
        font-weight: 700;
    }

    p {
        text-align: justify;
        line-height: 1.5;
    }

    // Abstract-Specific Styles
    &.abstract {
        @extend .faint-shadow;
        padding: 30px 40px;
    }
}

/** Full Text Article
 ---------------------------------------------------------*/
.full-text-image-container {
    label { font-size: 15px; }
    width: 100%;
    margin: 50px auto;
    padding: 30px 40px;
    @extend .faint-shadow;

    h4 {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

    .full-text-image {
        width: 100%;
        margin: 25px 0;
    }
}

h3#references + ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

/*================ Sidebar Article Content | Article-Level Modules ================*/

//
//
//
//


/** Modals
 ---------------------------------------------------------*/
.lean-modal {
    display: none;
    width: 95%;
    background: #fff;
    position: absolute !important;

    div.modal-body {
        padding: 0 34px 34px;
    }

    .modal-top {
        height: 38px;
        position: relative;

        span.icon-close {
            position: absolute;
            top: 9px;
            right: 11px;
            cursor: pointer;
        }
    }

    @include at-query ($min, $medium) {
        width: 635px;
        div.modal-body {
            padding: 0 34px 34px;
        }
    }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #192028;
    display: none;
}

/** Lists
 ---------------------------------------------------------*/
ul.divided-list {
    li.item {
        padding: 40px 0;
        border-bottom: 3px solid #EAECF0;
        &:first-child { padding-top: 0; }
        &:last-child { border: none; }
    }

    h4.title {
      text-transform: none;
      font-size: 21px;
      margin: 0;
      padding: 0;
    }

    h5.meta {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      color: #8A97A5;
    }

    p { padding: 0; margin: 0; }
}

/** Miscellaneous Modules
 ---------------------------------------------------------*/
.full-width {
    width: 100%;
    display: block;
}

// tooltips
$cubic: cubic-bezier(.64,.09,.08,1);

[class^="tooltip"] {
    position: relative;
    z-index: 5;
    &:after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        content: attr(data-tooltip);
        padding: 12px 15px;
        width: 350px;
        bottom: 1.8em;
        left: 50%;
        transform: translateX(-50%) translateY(-2px);
        background: $lightgray;
        color: $cello;
        white-space: normal;
        display: inline-block;
        line-height: 1.3;
        z-index: 2;
        border-radius: 2px;
        transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    }
    &:hover {
        &:after {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }

    &.small {
        &:after { 
            max-width: 165px;
            padding: 7px;
            background: $electric;
            color: #fff;
            bottom: 3.55em;
        }
    }
}

.tooltip--triangle {
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: solid 7px transparent;
        border-right: solid 7px transparent;
        border-top: solid 6px $lightgray;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateX(-50%) translateY(-2px);
        bottom: 1.45em;
        left: 50%;
        transition: opacity 0.2s $cubic, transform 0.2s $cubic;
        z-index: 3;
    }
    &:hover {
        &:before {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }

    &.small {
        &:before { 
            border-top: solid 6px $electric; 
            bottom: 3.2em;
        }
    }

    &.pubmed {
        &:after { bottom: 3.85em; }
        &:before { bottom: 3.5em; }
    }
}

// tags
.tags {
    margin-top: 20px;
}

.tag {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px 10px 0;
    padding: 4px 10px;
    background: $lightgray;
    color: $kashmir;
    @include border-radius(2px);

    &.dark {
        background-color: $deepgray;
        color: #fff;
    }
}

a.tag {
    cursor: pointer; // todo: get rid of later
    @include transition(background 0.25s ease-out,
                                            color 0.25s ease-out);
    &:hover {
        background: $accent;
        color: #fff;
    }
}

// inline tags
p > .tag {
    cursor: default;
    font-size: 17px;
    margin: 0;
    padding: 1px 4px;

    // background: $electric;
    color: $electric;
}

// lists
ol {
    margin: 0;
    padding: 0;
}

ul.sectioned-list {
    li {
        margin-bottom: 50px;

        h2 {
            margin: 0 0 10px 0;
            padding: 0;
        }
    }
}

.divider {
  height: 3px;
  background: #EAECF0;
}

.sp {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 20px auto;
}

.sp-circle {
    border: 4px rgba($kashmir, 0.25) solid;
    border-top: 4px rgba($kashmir, 1) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot 1.5s infinite linear;
    animation: spCircRot 1.5s infinite linear;
}
@-webkit-keyframes spCircRot {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.faint-shadow {
    background: #fff;
    box-shadow: 0px 2px 14px rgba(235, 237, 242, 1);
}