@import '../style/mixins',              // old mixins (needs to move and/or consolidate)

        'partials/variables',           // colors & fonts
        'partials/mixins',
        'partials/overrides',


        'modules/search-alt',           // for other journals search

        'modules/type',                 // base typography
        'modules/navs',                 // main nav, subnav, and sidebar
        'modules/layout',               // page-content and page-sidebar
        'modules/cards',                // sidebar cards & fixed scrolling cards

        'modules/home',                 // home-specific styles
        'modules/archive';              // archive-specific styles


/**
 * Issues, Articles, News
 *
 * Issue archive, table of contents,
 * news, and article pages.
 */
.page-span{
    color: $kashmir;
}

/** News
 ---------------------------------------------------------*/
 .news-list{
    li:last-child{
        margin-bottom: 0px!important;
        padding-bottom: 0px!important;
    }
 }

/** Issue Page Titles
 ---------------------------------------------------------*/
.page-title {
    h1 {
        margin: 0;
        padding: 0;
    }

    span.issue-date {
        @extend h2;
        display: inline-block;
        margin: 10px 0 10px;
    }

    span.issue-pages {
        @extend p;
        color: $kashmir;
        // font-size: 15px;
        display: inline-block;
        margin: 4px 0 10px;
    }

}
.issue-caption{
    h4{
        color: $electric;
    }
}

.page-desc.toc{
    display: block;
    @extend .tiny-font;
    margin: 12px 0 15px!important;
    @extend .uppercase-titles;
    color: $accent;
}


/** Table of Contents Page
 ---------------------------------------------------------*/
.issue-articles{
    h4:first-child{
        margin-top: 0px;
    }
}
.issue-caption{
    h4{
        margin-top: 10px;
    }
}
.toc-title {
  margin-bottom: 10px;
  @include clearfix;
}

.toc-title > .cover-image {
    float: left;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: $faintgray !important;
}

.toc-title > .cover-image > img {
    width: 100px;
}

.toc-title > .large-cover > img,.toc-title > .cover-image > a > img {
    width: 200px;
}


.toc-info {
    padding: 20px 0 20px;
    border-top: 3px solid #EAECF0;
    &:first-child {
        border: none;
        padding-top: 20px;
    }

    .title, .desc {
        line-height: 1.3;
    }

    .desc, span.meta {
        // font-size: 15px;
        color: darken($kashmir, 10%);
    }

    .title {
        // font-size: 19px;
        font-weight: 700;
        color: $cello;
        margin: 0;
    }
    .title-container{
        margin: 0 0 5px 0;
    }

    .desc {
        margin: 0 0 10px 0;
        padding: 0;
        .authors{
            clear: left;
            display: block;
        }
    }

    span.meta {
        margin: 0 23px 0 0;
        display: inline-block;
    }
}

h4.blue-divider + .toc-info {
    padding-top: 20px;
    border: none;
}

.article-links {
    margin: 10px 0 0 0;
    a{
        margin-bottom: 0!important;
    }
}

.issue-altmetric {
    float:right;
}


/** Issue Scroller (Prev / Next)
 ---------------------------------------------------------*/
.issue-scroller {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #F0F0F0;
    border-bottom: 2px solid #F0F0F0;
    @include padding-vertical(14px);
    margin-bottom: 20px;

    span {
        display: inline-block;
        @extend .uppercase-titles;
        // font-size: 14px;
        @extend .tiny-font;

        &.prev a,
        &.next a {
            color: $kashmir;
        }

        span.icon {
            font-size: 11px;

            &.icon-angle-right { margin-left: 3px; }
            &.icon-angle-left { margin-right: 3px; }
        }
    }
}

/** Article Pages
 ---------------------------------------------------------*/
h5.article-header {
    @extend h5.supporting;

    span {
        margin-right: 10px;
        padding-right: 15px;
        border-right: 2px solid rgba(119, 130, 142, .2);
        font-weight: 500;
        &:last-child { border: 0 none; }
    }

    span.article-type {
        color: $accent;
        font-weight: 700;
    }
}

h4.authors,
h4.dates {
    color: $kashmir;
    line-height: 1.4;
    font-weight: normal;

    span.author,
    span.date {
        display: inline-block;
        white-space: nowrap;

        // fix trailing comma whitespace
        > span.comma {
            position: relative;
            right: 2px;
        }
    }

    // superscript
    sup.author-affiliations a {
        color: $kashmir;
        font-weight: 500;
        margin: 0;
        padding: 0 !important;

        &:hover { color: $accent; }
    }
}
/*hide commas*/
/*for authors comma*/
.authors {
    .author{
        &:last-child {
            .author-comma {
                display:none !important;
            }
        }
    }
}
/*for author affiliations commas*/
.author-affiliations {
    z-index: 1;
    span{
        &:last-child {
            span.comma {
                display:none !important;
            }
        }
    }
}
.dates {
    .date{
        &:last-child{
            span.comma {
                display:none !important;
            }
        }
    }
}
.correspondence{
    overflow: hidden;
    .correspondence-text,
    .correspondence-email{
        word-wrap: break-word;
    }
}
#article-title-and-badge-container{
    float:left;
    margin: 0 0 1.68rem 0;
    width:100%;
    .altmetric-badge{
        a > img{
            height: $largeAltmetricBadge;
            width: $largeAltmetricBadge;
        }
    }
}
#article-container{
    h1{
        margin: 0!important;
    }
}
// #article-title{
    // padding-left: 42px;
// }
// #article-title.badge-visible{
//     padding-left: 74px;
// }
// .article-altmetric{
//     float: left;
//     a > img{
//         margin-right: 10px!important;
//     }
// }
// .altmetric-badge{
//     img{
//         height: $largeAltmetricBadge;
//     }
// }
.altmetric-embed {
    a {
        img {
            height: $smallAltmetricBadge;
            width: $smallAltmetricBadge;
            margin-right: 10px!important;
        }
    }
}

.featured-photo {
    width: 100%;
    position: relative;
    margin: 35px 0;

    .photo {
        width: 100%;
        max-width: 100%;
        @extend .faint-shadow;
        @include border-radius(2px);
    }

    .tag {
        position: absolute;
        bottom: -15px;
        right: 20px;
    }
}

.article-text {
    margin-top: 3rem;

    h3.article-header-1,
    h3#references {
        @extend h3.blue-background;
        margin: 70px 0 20px;
        &:first-child { margin-top: 40px; }

        &#abstract {
            margin-top: 20px;
            color: $electric;
            padding: 0 0 8px 0;
            background: none;
        }

        &.bordered {
            padding-bottom: 8px;
            border-bottom: 2px solid rgba(119, 130, 142, .2);
        }
    }

    h3.article-header-2,
    h3#references {
        font-weight: 700;
    }

    h3.article-header-3{
        @extend h4;
    }
    h3.article-header-4{
        @extend h5;
    }
    h3.article-header-5{
        @extend h6;
    }

    p {
        line-height: 1.5;
        word-wrap: break-word;
    }

    // Abstract-Specific Styles
    &.abstract {
        @extend .faint-shadow;
        position: relative;
        padding: 10px 35px 1px;
        margin-bottom: 30px;

        #fulltext {
            background-image: url("about:blank");
            position: absolute;
            bottom: 138px;
        }
    }
}

.article-table {
    td { padding: 5px; }
    td p { margin: 0; }
    .full-text-image-container { margin: 0; padding:0;}
}

.order-button{
    overflow: hidden;
    .icon{
        background: $darkgray!important;
    }
}

/** TOC Signup
 ---------------------------------------------------------*/
.toc-signup-button{
    color: $white!important;
    cursor: pointer;
    font-weight: 700;
    margin: 0.5rem 0 1rem 0!important;
    padding: 10px 0px 10px 25px!important;
    text-align: left! important;
    text-transform: none!important;
    &:hover{
        color: $white!important;
    }
}

/** Article Figure Viewers
 ---------------------------------------------------------*/
 .figure-range{
    .thumb{
        display: none;
    }
 }
.figure{
    img{
        max-width: 100%;
    }
    .container{
        width: 100%!important;
        max-width: none!important;
        border: 1px solid $midnight;
        background: #ffffff;
    }
    .buttons{
        margin-top: 10px;
    }
}


/** Search Page
 ---------------------------------------------------------*/
.search.page-content {
    h4.blue-divider {
        margin-top: 10px;
    }

    h3 a {
        color: darken($kashmir, 8%);
    }
    h5.supporting {
        opacity: 0.85;
        a { color: $kashmir; }
    }

    .divided-list {
        li.item:first-child { margin-top: 40px; }
    }
}
.search-item{
    .abstract{
        margin-top: 15px;
    }
    .article-header{
        .article-type{
            font-weight: normal;
            color: $kashmir!important;
        }
    }
}

/** Full Text Article
 ---------------------------------------------------------*/
.full-text-image-container {
    // label { font-size: 15px; } // this does not seem to be in use
    width: 100%;
    margin: 50px auto;
    padding: 30px 40px;
    @extend .faint-shadow;

    h4 {
        text-transform: none;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        letter-spacing: 0;
    }

    .full-text-image {
        width: 100%;
        margin: 25px 0;
    }
}

h3#references + ul li {
    margin-bottom: 15px;
    // font-size: 15px;
    @extend p;
}

/*================ Sidebar Article Content | Article-Level Modules ================*/

//
//
//
//


/** Modals
 ---------------------------------------------------------*/
.lean-modal {
    display: none;
    width: 95%;
    background: #fff;
    position: absolute !important;

    div.modal-body {
        padding: 0 34px 34px;
    }

    .modal-top {
        height: 38px;
        position: relative;

        span.icon-close {
            position: absolute;
            top: 9px;
            right: 11px;
            cursor: pointer;
        }
    }

    @include at-query ($min, $medium) {
        width: 635px;
        div.modal-body {
            padding: 0 34px 34px;
        }
    }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #192028;
    display: none;
}

/** Lists
 ---------------------------------------------------------*/
ul.divided-list {
    li.item {
        padding: 40px 0;
        border-bottom: 3px solid #EAECF0;
        &:first-child { padding-top: 0; }
        &:last-child { border: none; }
    }

    h3 { margin: 0; }

    // h4.title {
    // this does not appear to be in use
    //   text-transform: none;
    //   font-size: 21px;
    //   margin: 0;
    //   padding: 0;
    // }

    h5.meta {
      font-weight: 700;
      letter-spacing: 0.4px;
      color: #8A97A5;
    }

    p { padding: 0; margin: 0; }
}

/** Miscellaneous Modules
 ---------------------------------------------------------*/
.full-width {
    width: 100%;
    display: block;
}

// tooltips
$cubic: cubic-bezier(.64,.09,.08,1);

[class^="tooltip"] {
    position: relative;
    z-index: 10;
    &:after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        content: attr(data-tooltip);
        padding: 12px 15px;
        width: 350px;
        bottom: 1.8em;
        left: 50%;
        transform: translateX(-50%) translateY(-2px);
        background: $electric;
        color: #fff;
        white-space: normal;
        display: inline-block;
        line-height: 1.3;
        z-index: 2;
        border-radius: 2px;
        transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    }
    &:hover {
        &:after {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }

    &.small {
        &:after {
            max-width: 165px;
            padding: 7px;
            background: $electric;
            color: #fff;
            bottom: 3.55em;
        }
    }
}

.tooltip--triangle {
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: solid 7px transparent;
        border-right: solid 7px transparent;
        border-top: solid 6px $electric;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateX(-50%) translateY(-2px);
        bottom: 1.45em;
        left: 50%;
        transition: opacity 0.2s $cubic, transform 0.2s $cubic;
        z-index: 3;
    }
    &:hover {
        &:before {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }

    &.small {
        &:before {
            border-top: solid 6px $electric;
            bottom: 3.2em;
        }
    }

    &.pubmed {
        &:after { bottom: 3.85em; }
        &:before { bottom: 3.5em; }
    }
}

// tags
.tags {
    margin-top: 20px;
}

.tag {
    @extend p;
    display: inline-block;
    // font-size: 15px;
    margin: 0 5px 10px 0!important;
    padding: 4px 10px;
    background: $lightgray;
    color: $kashmir;
    @include border-radius(2px);

    &.dark {
        background-color: $deepgray;
        color: #fff;
    }
}

a.tag {
    cursor: pointer; // todo: get rid of later
    @include transition(background 0.25s ease-out,
                                            color 0.25s ease-out);
    &:hover {
        background: $accent;
        color: #fff;
    }
}

// inline tags
// appears to not be in use
// p > .tag {
//     cursor: default;
//     font-size: 17px;
//     margin: 0;
//     padding: 1px 4px;
//
//     // background: $electric;
//     color: $electric;
// }

// lists
ol {
    margin: 0;
    padding: 0;
}

ul.sectioned-list {
    li {
        margin-bottom: 50px;

        h2 {
            margin: 0 0 10px 0;
            padding: 0;
        }
    }
}

.divider {
  height: 3px;
  background: #EAECF0;
}

.sp {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 50px auto;
}

.sp-circle {
    border: 4px rgba($kashmir, 0.25) solid;
    border-top: 4px rgba($kashmir, 1) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot 1.5s infinite linear;
    animation: spCircRot 1.5s infinite linear;
}
@-webkit-keyframes spCircRot {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.faint-shadow {
    background: #fff;
    box-shadow: 0px 2px 14px rgba(235, 237, 242, 1);
}


/** Media Queries
---------------------------------------------------------*/
// MOBILE ONLY
@include at-query($max, $medium) {
    .article-text.abstract {
        position: relative;
        width: 100vw;
        left: calc(-50vw + 50%);
    }
}

// Tablet
@include at-query($min, $small) {
    ul.divided-list {
        li.item { padding: 25px 0; }
        // h4.title { font-size: 17px; } // appears to not be in use
    }
}
// Medium Screens (+ 970px)
@include at-query($min, $medium) {
    h2.authors {
        line-height: 1.6;
    }

    .article-text {
        p { text-align: justify; }
    }

    .article-text.abstract {
        padding: 30px 40px;
        margin-bottom: 0;
    }

    ul.divided-list {
        li.item { padding: 40px 0; }
        // h4.title { font-size: 21px; } // appears to not be in use
    }
}

// Large Screens (+ 1170px)
@include at-query($min, $large) {

}
/* Altmetric -------------------*/
.toc-info{
    .altmetric-badge{
        height: $smallAltmetricBadge!important;
    }
}
#altmetric-top{
    li{
        &:first-child{
            p{
                margin-top: 0px;
            }
        }
        &:last-child{
            p{
                margin-bottom: 0;
            }
        }
        p{
            a{
                .altmetric-badge{
                    height: $smallAltmetricBadge!important;
                }
            }
        }
    }
}

#altmetric-top::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
	background-color: $lightgray;
}

#altmetric-top::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: $cello;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.altmetric-list-badge{
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.altmetric-title-link{
	display: table;
}
