@import 'variables';
@import 'mixins';

.aging-nav {
    background: $blue-aging;
    height: 66px;
}

html,body{
	min-height: 100%;
	margin: 0;
	padding: 0;
    background-image: url(/images/backgrounds/exclusive_paper.png);
   font-family: "Lora", sans-serif;
}

/*
TYPE
*/
h1{
	color: $black-0;
}
h2{
	color: $black-1;
}
h3{
	color: $black-2;
}
h4{
	color: $black-0;
}
h5{
	color: $black-1;
}
h6{
	color: $black-2;
}
p{
	color: $black-0;
}



h3{
	text-transform: uppercase;
}
/*
VISITOR
*/
.footer{
	background-color: $blue-aging!important;
	padding: $pad-lg 0;
	.row{
		margin-bottom: 0;
	}
	p{
		color: $white;
	}
}
.authors{
	span{
		&:last-child{
			.comma{
				display:none;
			}
		}
	}
}
.author-affiliations{
	span{
		.comma{
			display: inline-block!important;
		}
		&:last-child{
			.comma{
				display:none!important;
			}
		}
	}
}
.affiliations{
	color: $gray;
	font-size: $font-sm;
}

/*home*/
.hero{
	background-image: url(/images/backgrounds/home.jpg);
}
.ip-alert{
	padding: $pad-md 0;
	background: $blue-aging; 
	p{
		margin: 0;
		color: $white-dark;
	}
}
.list-pics{
	margin: 0 -10px;
	padding: 0;
	width: 100%;
	list-style: none;
	li{
		width: 433px;
		display: inline-block;
		margin: 0;
		padding: 0;
		float: left;
		.list-p{
			height: 100px;
			background-size: cover;
			margin:10px;
			position: relative;
			&:before{
				background-color: rgba(204,204,204,0.7);
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			div{
				width: 100%;
				position: relative;
				font-weight: bold;
			}
		}
	}
}
.current-issue{
	background-image: url(/images/backgrounds/stem.png);
	background-size: cover;
}
.valign-pic{
	min-height: 50vh;
	position: relative;
	background-size: cover;
	background-attchment: fixed;
	&:before{
		background-color: rgba(0,0,0,0.7);
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.row{
		margin:0;
	}
	.valign{
		position: relative;
	}
	h1{
		color: $white;
	}
	h2{
		color: $white-dark;
	}
	h4{
		color: $white-dark;
	}
}
.current-issue{
	img{
		height: 40vh;
	}
}
.latest{
	button{
		margin-top: 20px;
	}
}
/*text*/
	.columns{
		@include columns-count(3);
	}


/*
ADMIN
*/ 
#institution-form{
	input,textarea{
		margin: 0;
	}
}
.admin-header{
	margin-bottom: 0px;
	color: $blue-aging;
}
.xml-upload{
	padding: $pad-lg;
	@include border-radius(5px);
	.btn{
		@include border-radius(5px);
	}
}

.border-gray{
	border: 1px solid $gray;
}

/*CARDS*/
.card-header{
	border-bottom: 2px solid $gray;
}
/*
BUTTONS
*/
.btn-primary{
	background-color: $btn-color-primary;
}
.btn-secondary{
	background-color: $btn-color-secondary;
}
.btn-update{
	background-color: $btn-color-update;
}
.btn-add{
	background-color: $btn-color-add;
}
.btn-delete{
	background-color: $btn-color-delete;
}
.submit{
	background-color: $btn-color-primary;
}
.kw{
	font-size: 0.8rem;
}


/*
NAV
*/
nav{
	a{
		text-align: center;
	}
}

/*
FORMS
*/
.success{
	.col{
		padding: $pad-lg;
	}
}
#close-success-msg{
	cursor: pointer;
}
