@import 'variables';
@import 'mixins';
@import 'type';
@import 'admin';

html,body{
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(/images/backgrounds/exclusive_paper.png);
   font-family: "Lora", sans-serif;
}


/* Type ------------------------*/
	h1{
		color: $black-0;
	}
	h2{
		color: $black-1;
	}
	h3{
		color: $black-2;
	}
	h4{
		color: $black-0;
	}
	h5{
		color: $black-1;
	}
	h6{
		color: $black-2;
	}
	p{
		color: $black-0;
	}
	strong {
	 font-weight: bold;
	}
	/* Type adjustments */
	.truncate {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.red-type{
		color: $red;
	}
	.font-sm{
		font-size: $font-sm!important;
	}

/* Containers ------------------------*/
	.container-main{
		min-height: 100vh;
	}
	.box{
		margin: $margin-lg 0;
		padding: $pad-md $pad-lg;
	}
	.card {
		h4 {
			margin-top:0em;
			margin-bottom:0.3em;
		}
	}
	.pad-md{
		padding: $pad-sm;
	}

/* Navigation ------------------------*/
	/*// pushing the logo around at the top*/
	.brand-logo {
		position: relative;
		top: 2px;
	}
	nav{
		a{
			text-align: center;
		}
	}
	.journal-nav {
		background-color: rgba(55, 71, 79, 0.9);
	}

/* Borders ------------------------*/
	.border-gray{
		border: 1px solid $gray-1;
	}

/* Footer ------------------------*/
	.footer{
		padding: 0 0;
		.row{
			margin-top: 0;
			margin-bottom: 0;
		}
	}

/* Home ------------------------*/
	.edboard-name {
	  cursor: pointer;
	}
	.edboard-bio {
	   display: none;
	}
	.home-left-nav {
		li {
			margin: 8px 0px;
			a {
				color: $black-1;
				font-weight:bold;
				font-size:1.1em;
				line-height:1em;
			}
		}
	}

/* Article ------------------------*/
	.authors{
		@extend .serif;
		span{
			&:last-child{
				.comma{
					display:none;
				}
			}
		}
	}
	.author-affiliations{
		span{
			.comma{
				display: inline-block!important;
			}
			&:last-child{
				.comma{
					display:none!important;
				}
			}
		}
	}
	.affiliations{
		color: $gray-1;
		font-size: $font-sm;
	}
	.kw{
		margin: $margin-sm 0 $margin-sm $margin-sm;
		@extend .serif;
		text-transform: none!important;
	}
	/* Figures */
	.owl-carousel{
		background-color: $gray-0;
	}
	.owl-item{
		div:not(.material-placeholder){
			margin: $margin-lg;
			padding: $pad-lg;
			@extend .border-gray;
		}
	}

	/* Full Text */
	.full-text-image-container{
		width: 50%;
		margin: 0 auto;
	}
	.full-text-image{
		width: 100%;
	}
	.article-header-1{
		@extend h2;
	}
	.article-header-2{
		@extend h3;
	}
	.article-header-3{
		@extend h4;
	}

/* Buttons ------------------------*/
	.btn-sm{
		font-size: $font-sm;
	}
	.btn-group{
		/*padding: $pad-lg;*/
	}
	.btn-primary{
		background-color: $btn-color-primary;
	}
	.btn-secondary{
		background-color: $btn-color-secondary;
	}
	.btn-update{
		background-color: $btn-color-update;
	}
	.btn-add{
		background-color: $btn-color-add;
	}
	.btn-delete{
		background-color: $btn-color-delete;
	}
	.submit{
		background-color: $btn-color-primary;
	}
	.kw{
		font-size: 0.8rem;
	}
	.close-icon{
		font-size: $font-lg;
	}

/* Materialize ------------------------*/
	.card-header{
		border-bottom: 2px solid $journal-primary-color;
	}
	.chip{
		padding: $pad-sm;
		margin-right: $margin-sm;
	}

/* Forms ------------------------*/
	fieldset{
		margin-top: $margin-lg;
		margin-bottom: $margin-lg;
	}
	.loading-img{
		width: 100px;
		margin: 0 auto;
	}
	.saving{
		padding: $pad-lg;
	}
	.success{
		.col{
			padding: $pad-lg;
		}
	}
	.clear{
		background-color: $red;
	}
	#close-success-msg{
		cursor: pointer;
	}

/* MISC ------------------------*/
	.no-margin{
		margin: 0px;
	}
	.ip-alert{
		padding: $pad-md 0;
		background: $journal-primary-color;
		p{
			margin: 0;
			color: $white-dark;
		}
	}
	.columns{
		@include columns-count(3);
	}

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */
