<template name="AdminCancelIcon">
	<i class="material-icons">&#xE5C9;</i>
</template>

<template name="AdminDashboardIcon">
	<i class="material-icons">&#xE871;</i>
</template>

<template name="AdminDeleteIcon">
	<i class="material-icons">&#xE872;</i>
</template>

<template name="AdminDragIcon">
	<i class="material-icons pointer">&#xE8D5;</i>
</template>

<template name="AdminEditIcon">
	<i class="material-icons">&#xE150;</i>
</template>

<template name="AdminFwdIcon">
	<i class="material-icons">&#xE154;</i>
</template>

<template name="AdminListIcon">
	<i class="material-icons">&#xE8EF;</i>
</template>

<template name="AdminMailIcon">
	<i class="material-icons">&#xE0E1;</i>
</template>

<template name="AdminPersonIcon">
	<i class="material-icons">&#xE7FD;</i>
</template>

<template name="AdminRefreshIcon">
	<i class="material-icons">&#xE5D5;</i>
</template>

<template name="AdminSettingsIcon">
	<i class="material-icons">&#xE8B8;</i>
</template>

<template name="AdminSiteIcon">
	<i class="material-icons">&#xE30A;</i>
</template>

<template name="AdminWarningIcon">
	<i class="material-icons">&#xE002;</i>
</template>

<!-- Pairs -->
<template name="AdminAddIcon">
	<i class="material-icons">&#xE147;</i>
</template>
<template name="AdminRemoveIcon">
	<i id="remove-{{nameAdditional}}{{name}}" class="prefix remove-{{what}} material-icons red-type close-icon" data-index="{{index}}">&#xE15C;</i>
</template>

<template name="AdminFalseIcon">
	<i class="material-icons admin-false">&#xE033;</i>
</template>
<template name="AdminTrueIcon">
	<i class="material-icons admin-true">&#xE5CA;</i>
</template>

<template name="AdminNextIcon">
	<i class="material-icons">&#xE315;</i>
</template>
<template name="AdminPreviousIcon">
	<i class="material-icons">&#xE314;</i>
</template>

<template name="AdminDownloadIcon">
	<i class="material-icons">&#xE2C4;</i>
</template>
<template name="AdminUploadIcon">
	<i class="material-icons">&#xE2C6;</i>
</template>

<!-- article icons -->
<template name="AdminAbstractIcon">
	<i class="material-icons">&#xE261;</i>
</template>
<template name="AdminAuthorsIcon">
	<i class="material-icons">&#xE7FD;</i>
</template>
<template name="AdminDatesIcon">
	<i class="material-icons">&#xE8DF;</i>
</template>
<template name="AdminIdsIcon">
	<i class="material-icons">&#xE90D;</i>
</template>
<template name="AdminFiguresIcon">
	<i class="material-icons">&#xE3B6;</i>
</template>
<template name="AdminSupplementalIcon">
	<i class="material-icons">&#xE24D;</i>
</template>
<template name="AdminKeywordsIcon">
	<i class="material-icons">&#xE896;</i>
</template>
<template name="AdminMetaIcon">
	<i class="material-icons">&#xE88E;</i>
</template>
<template name="AdminTitleIcon">
	<i class="material-icons">&#xE264;</i>
</template>
