<template name="AdminAdvanceArticlesDiff">
    <h2>Advance Article Platform Integration</h2>
    <ul>
        <li>OJS Count: {{ojs_count}}</li>
        <li>Paperchase Count: {{pc_count}}</li>
        <li>Total Count: {{total_count}}</li>
        <li><h3>OJS Only</h3><ul>{{#each only_ojs}}
                <li>{{pii}} - <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{pii}}">OJS</a>&nbsp;-&nbsp;<a href="http://galaxy.oncotarget.com/admin/add-legacy-platform-article/?advance=1&id_type=pii&id={{pii}}&journal=oncotarget">Add to Paperchase</a></li>
                {{/each}}</ul></li>

        <li><h3>Paperchase Only</h3><ul>{{#each only_pc}}
                <li>{{pii}} - <a href="/admin/article/{{paperchaseId}}">Paperchase</a> - <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{pii}}">OJS</a> <a class="delete-article btn-floating btn-small waves-effect waves-light red" data-delete-id="{{paperchaseId}}"><i class="small material-icons">delete</i></a> </li>
                {{/each}}</ul></li>
    </ul>
</template>
