<template name="AdminBatchXml">
    {{>AdminHeader header="XML Intake"}}
    <h2>Articles Setup</h2>
    <div class="row">
        <div class="col s12">
            <div class="card blue lighten-4">
                <div class="card-content">
                    <div class="row">
                        <h2>Articles Setup</h2>
                        <p>Articles DB and XML</p>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3>1. Initiate Articles Collection</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="initiate-articles" class="btn waves-effect waves-light red lighten-3">Initiate</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <!-- for getting PMID, PII, title into MongoLab DB. Crawler sends JSON to Paperchase to insert so that _id has same type. Via shell _id is Object. Via Mongo default is strig. -->
                            <p>This will use the crawler to get the PII/PMID/Title pairs. Then via paperchase, the articles collection is created. The PII/Title comes from the production MySQL DB. The PMID comes from PubMed, via matching titles.</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>2. Save all PMC XML to S3</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-articles-pmc-xml" class="btn waves-effect waves-light red lighten-3">Get XML</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This will use the crawler, which gets a list of PMID and then gets PMC ID. The PMC ID is then used to get PMC XML, which is saved to the journal bucket on S3.</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>3. Process ALL Articles XML</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="process-all-xml" class="btn waves-effect waves-light red lighten-3">Process All XML</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This will loop through all articles in the DB and if the XML exists, process</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue lighten-5">
                <div class="card-content">
                    <div class="row">
                        <h2>Articles Additional Setup</h2>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-articles-legacy-dates" class="btn waves-effect waves-light red lighten-3">Get Dates</button>
                            <p>Get published dates form the legacy DB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Duplicate Articles</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="find-duplicate-pubmed" class="btn waves-effect waves-light red lighten-3">Find Duplicates</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This will take a PMID list and check for duplicates at PubMed by querying for title.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>PubStatus List</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="all-articles-status" class="btn waves-effect waves-light red lighten-3">Get Status</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This was used for the DOI project. I needed a list of all articles with status epub. Output in the console.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>AOP Date List</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="aop-articles-date" class="btn waves-effect waves-light red lighten-3">Get Dates</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This was used for the DOI project. I needed dates for AOP articles. Output in the console.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>DOI Update</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="doi-update" class="btn waves-effect waves-light red lighten-3">DOI</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This will take a list of PMID, check of PubMed has DOI information, if not then it will get the PII and add to ouput, used to create pairs file. http://www.ncbi.nlm.nih.gov/books/NBK3812/#ft.AddingChanging_DOIPII_in_PubMed_Recor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Advance Order</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="advance-order-update" class="btn waves-effect waves-light orange lighten-3">Update Advance Order</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>From OJS. Uses API http://www.impactjournals.com/ojs-api/index.php?get_advance_piis=1 to loop through PII and get MongoID to then add to the advance doc in the sorters collection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col s12">
            <button id="intake-advance" class="btn waves-effect waves-light orange lighten-3">Intake Advance</button>
        </div>
    </div> -->
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Get EJP Manuscripts</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-manuscripts" class="btn waves-effect waves-light orange lighten-3">Get Manuscripts</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>XML from PMC</h3>
                            <h4>based on list of PMID, in pmid.js</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5>Save XML to /uploads/pmc_xml/PMID.xml</h5>
                            <button id="download-pmc-xml" class="btn waves-effect waves-light">Download XML</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5>Save all XML to DB</h5>
                            <p>Method 'saveXMLFromPMC', loops through all articles pmid list, pmid.js, to retrieve saved XML in /uploads/pmc_xml. Converts XML to JSON in method 'processXML'</p>
                            <h6>Queries</h6>
                            <ol>
                                <li>GET issue doc from issues collection</li>
                                <li>If no Issues doc, then INSERT issues collection</li>
                                <li>Add issue mongo id to <i>article doc</i></li>
                                <li>GET author doc from authors collection</li>
                                <li>If no author doc, then INSERT author collection</li>
                                <li>Add author mongo id to <i>article doc</i></li>
                                <li>INSERT <i>article doc</i> into articles collection</li>
                            </ol>
                            <button id="save-pmc-xml" class="btn waves-effect waves-light">Save XML to DB</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Get PII</h3>
                            <h4>for All Articles</h4>
                            <p>Based on articles in articles collection. Uses 'ids.pmid' in article doc to query PubMed for PII</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-all-pii" class="btn waves-effect waves-light">Get PII For ALL Articles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Author Affiliations</h3>
                            <h4>for All Articles</h4>
                            <p>Based on articles in articles collection. Uses 'ids.pmid' in article doc to query PubMed for affiliations</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Queries articles collection. Loops through articles. Gets XML response from PubMed with author affiliations. Loops through authors in article doc, matches author to the response from PubMed. Adds affilation to: author object in article doc, affiliations array in article doc, known affiliations array in author doc.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-all-authors-affiliations" class="btn waves-effect waves-light">Get Author Affiliations</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Pub Status</h3>
                            <h4>for All Articles</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-all-pub-status" class="btn waves-effect waves-light">Get Articles Pub Status</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Author Affiliations</h3>
                            <h4>for All Articles</h4>
                            <p>Add integer of affiliation to author based on affiliation string. For batch processing only</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="update-authors-affs" class="btn waves-effect waves-light">Update Affiliations</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>Paperchase ID</h3>
                            <h4>for All Articles</h4>
                            <p>Use PII, or DOI</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="add-paperchase-id" class="btn waves-effect waves-light">Add Paperchase ID</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>