<template name="AdminAuthors">
    {{>AdminHeader header="Authors"}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            {{> reactiveTable class="bordered responsive-table" collection=authors settings=settings}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>