<template name="AdminSections">
    {{>AdminHeader header="Sections"}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th data-field="email">Section</th>
                                <th data-field="name-first">Display</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each sections}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{#if display}}{{>AdminTrueIcon}}{{else}}{{>AdminFalseIcon}}{{/if}}</td>
                                <td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminSectionPapers' _id=_id}}">Papers</a></td>
                                <td><a class="waves-effect waves-light btn btn-edit" href="{{pathFor 'AdminSectionsEdit' _id=_id}}">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminSectionPapers">
    {{>AdminHeader header="Section Papers"}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">{{section.name}}</div>
                    {{#if papers}}
                    <table>
                        <thead>
                            <tr>
                                <td>Title</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each papers}}
                            <tr>
                                <td>{{{title}}}</td>
                                <td><a href="{{pathFor 'AdminArticle'}}">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{else}}
                    <h4>No Papers</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminSectionsAdd">
    {{>AdminHeader header="New Section"}}
    {{>AdminSectionsForm}}
</template>

<template name="AdminSectionsForm">
    {{#with section}}
    {{>successMessage what='Section'}}
    <form>
        {{>saving}}
        <fieldset>
            <legend>Section Name</legend>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" value="{{name}}" id="section-name" class="section-name" />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div class="input-field col s12">
                    <input type="checkbox" checked="{{checked display}}" id="section-display"/>
                    <label for="section-display">Display</label>
                </div>
            </div>
        </fieldset>
        <input type="hidden" value="{{_id}}" id="section-mongo-id">

        <div class="row">
            <div class="col s12 center-align">
                {{>SaveBtn}}
            </div>
        </div>
    </form>
    {{/with}}
</template>

