<template name="Admin">
{{#if isInRole 'admin'}}
<header>
    {{>AdminNav}}
</header>
<main class="admin">
    <div class="admin-container">
        <div class="row">
            <div class="col s12">
                {{>yield}}
            </div>
        </div>
    </div>
</main>
{{else}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3><i class="material-icons">&#xE002;</i> NO ACCESS</h3>
            {{> loginButtons}}
        </div>
    </div>
</div>
{{/if}}
</template>


<template name="AdminHeader">
    <div class="row card-header">
        <div class="col s12">
            <h1 class="admin-header">{{header}}{{#if header_extra}} {{header_extra}}{{/if}}</h1>
        </div>
    </div>
</template>

<template name="AdminNav">
    <nav class="journal-nav" role="navigation" style="background-color:rgba({{mainColor}},0.9);">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                {{>AdminNavLinks}}
            </ul>

            <ul id="nav-mobile" class="side-nav admin-nav">
                {{>AdminNavLinks}}
                {{>AdminNavLinksCollapse}}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <ul class="side-nav fixed admin-side-nav journal-nav admin-nav" style="background-color:rgba({{mainColor}},0.9);">
        <li class="logo"><a id="logo-container" href="/admin"><img class="responsive-img" src="{{bannerLogo}}"></a></li>
        {{>AdminNavLinksCollapse}}
    </ul>
</template>

<template name="AdminNavLinks">
    <li>{{> loginButtons}}</li>
</template>
<template name="AdminNavLinksCollapse">
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Papers</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{pathFor 'AdminArticlesDashboard'}}"><i class="material-icons">&#xE871;</i> Dashboard</a></li>
                            <li><a href="{{pathFor 'AdminArticlesList'}}"><i class="material-icons">&#xE8EF;</i> All</a></li>
                            {{#if isInRole 'edit,super-admin' 'article'}}
                            <li><a href="{{pathFor 'AdminUploadArticleXml'}}"><i class="material-icons">&#xE2C6;</i> Upload AOP XML</a></li>
                            <li><a href="{{pathFor 'AdminArticleAdd'}}"><i class="material-icons">&#xE147;</i> Add Article</a></li>
                            {{/if}}
                            <li><a href="{{pathFor 'AdminAop'}}"><i class="material-icons">&#xE885;</i> AOP</a></li>
                            <li><a href="{{pathFor 'AdminAdvanceArticles'}}"><i class="material-icons">&#xE031;</i> Advance (OJS)</a></li>
                            <li><a href="{{pathFor 'AdminArticlesAudit'}}"><i class="material-icons">&#xE14D;</i> Audit</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Issues</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{pathFor 'AdminArchive'}}"><i class="material-icons">&#xE8EF;</i> Archive</a></li>
                            <li><a href="{{pathFor 'AdminAddIssue'}}"><i class="material-icons">&#xE147;</i> Add Issue</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Sections</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{pathFor 'AdminSectionsAdd'}}"><i class="material-icons">&#xE147;</i> Add Section</a></li>
                            <li><a href="{{pathFor 'AdminSections'}}"><i class="material-icons">&#xE8EF;</i> All</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Indexers</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="http://doi.oncotarget.com"><i class="material-icons">&#xE154;</i> DOI Control</a></li>
                            <li><a href="{{pathFor 'AdminDataSubmissions'}}"><i class="material-icons">&#xE86F;</i> Data Submissions Manager</a></li>
                            <li><a href="{{pathFor 'AdminDataSubmissionsPast'}}"><i class="material-icons">&#xE14D;</i> Past Data Submissions</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Pages</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{pathFor 'AdminSiteControl'}}"><i class="material-icons">&#xE30A;</i> Site Control</a></li>
                            <li><a href="{{pathFor 'AdminEditorialBoard'}}">Editorial Board</a></li>
                            <li><a href="{{pathFor 'AdminForAuthors'}}">For Authors</a></li>
                            <li><a href="{{pathFor 'AdminAbout'}}">About</a></li>
                            <li><a href="{{pathFor 'AdminNews'}}">News</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Users</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{pathFor 'AdminUsers'}}"><i class="material-icons">&#xE8EF;</i> All</a></li>
                            <li><a href="{{pathFor 'AdminAddUser'}}"><i class="material-icons">&#xE147;</i> Add User</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Institutions</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{pathFor 'AdminInstitution'}}"><i class="material-icons">&#xE8EF;</i> All</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <ul class="collapsible-nav collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Marketing</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="http://rss.oncotarget.com/admin">RSS Control</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
</template>
