<template name="AdminArticleTypes">
    {{>AdminHeader header="Article Types"}}
    {{>StatusModal}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="plural-name">Plural</th>
                                <th data-field="short-name">Short</th>
                                <th data-field="nlm">NLM</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each types}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{plural}}</td>
                                <td>{{short_name}}</td>
                                <td>{{nlm_type}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>