<template name="AdminArticlesAudit">
    {{>AdminHeader header="Articles Audit"}}
    <div class="row">
        <div class="col s12">
          {{>AdminArticlesAuditContent}}
          <table class="bordered">
            <thead>
              <tr>
                <th><h3>Duplicates</h3></th>
                <th>Duplicate Count</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each arrayify duplicates}}
                <tr class="table-group-header">
                  <td><h4>{{name}}</h4></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                {{#if value}}{{#each value}}
                <tr>
                  <td>{{duplicate_field}}</td>
                  <td>{{count}}</td>
                  <td>{{#each mongo_ids}}<div class="clearfix"></div><a href="{{pathFor 'AdminArticleOverview' _id=.}}">{{.}}</a>{{/each}}</td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                  <td>None Found</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        </div>
     </div>
</template>
<template name="AdminArticlesAuditContent">
     {{#if paperchaseAudit}}
          {{#with paperchaseAudit}}
          <h3>Paperchase Database</h3>
          <h4>{{articles}} = articles</h4>
          <h4>{{articles_without_pmid}} = articles without PubMed ID</h4>
          <h4>{{articles_without_pmc}} = articles without PMC ID</h4>
          <h4>{{pdf}} = PDF</h4>
          <h4>{{xml}} = XML</h4>
          {{/with}}
          <h3>PubMed Database</h3>
          <h4>{{#if ncbiAudit}}{{ncbiAudit.pubmed}} = articles{{else}}N/A{{/if}}</h4>
          <h3>PMC Database</h3>
          <h4>{{#if ncbiAudit}}{{ncbiAudit.pmc}} = articles{{else}}N/A{{/if}}</h4>
     {{else}}
     {{>Progress}}
     {{/if}}
</template>