<template name="AdminAdvanceArticlesDiff">
	{{>AdminHeader header="Advance Article Platform Integration"}}
	{{>StatusModal what='Advance Articles'}}
	{{#if advanceDiff}}
	{{#with advanceDiff}}
	<div class="row">
		<div class="col s12">
			<h4>OJS Count: {{ojsCount}}</h4>
			<h4>Paperchase Count: {{paperchaseCount}}</h4>
			<h4>Total Count: {{allPiiCount}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h3>OJS Only</h3>
			<table class="card striped">
				<tbody>
					{{#each ojsOnly}}
					<tr>
						<td>{{pii}}</td>
						<td><a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{pii}}">OJS</a></td>
						<td><a class="add-ojs-to-advance" href="{{pathFor 'AddLegacyAdvanceArticle' query=query}}">Add to Paperchase</a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h3>Paperchase Only</h3>
			<table class="card striped">
				<tbody>
					{{#each paperchaseOnly}}
					<tr>
						<td>{{ids.pii}}</td>
						<td><a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a></td>
						<td><a href="/admin/article/{{_id}}">Paperchase</a></td>
						<td><input type="checkbox" data-article-id="{{_id}}" data-article-pii="{{ids.pii}}" id="{{_id}}-remove-article" class="remove-article checkbox-red"><label for="{{_id}}-remove-article"></label></td>
						<td><a class="delete-article btn-floating right btn-small waves-effect waves-light red" data-delete-id="{{_id}}"><i class="small material-icons" data-delete-id="{{_id}}">delete</i></a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{/with}}
	{{else}}
	{{>Progress}}
	{{/if}}
	<div class="publish-advanced fixed-action-btn card grey lighten-1" style="bottom: 45px; right: 24px; padding:10px;">
		{{>AdminAdvanceBatchDelete}}
	</div>
</template>
