<template name="AdminAdvanceArticles">
	{{>AdminHeader header="Advance Articles - Sections"}}

	{{>AdminAdvanceNav}}

	{{>StatusModal what='Advance Articles' action=statusAction details=modalMessage}}

	<form>
		<div class="publish-advanced fixed-action-btn card grey lighten-1" style="bottom: 45px; right: 24px; padding:10px;">
			<h5>Total count:<br>{{total}}</h5>
			<h5>Last published:<br>{{pubdate}}<br>{{pubtime}}</h5>
			<button class="waves-effect waves-light btn-large submit" type="submit">Publish</button>
			<div class="clearfix" style="margin-bottom:10px;"></div>
			<button class="waves-effect waves-light btn-large green" id="save-advance-order">Save Order</button>
		</div>
		{{#if savingOrder}}
		{{else}}
			{{>AdminAdvanceArticlesSections}}
		{{/if}}
	</form>
</template>

<template name="AdminAdvanceArticlesSections">
	{{#if sections}}
	<div class="row">
		<div class="col s12">
			<ul class="advance-sections">
				{{#each sections}}
				<li class="advance-section" data-name="{{section}}">
					<h4><i class="material-icons handle">&#xE8D5;</i> {{section}}</h4><span>{{articles_count}} Articles</span>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</template>

<template name="AdminAdvanceBatchDelete">
	<button class="waves-effect waves-light btn btn-sm red" id="advance-batch-delete">Batch Delete</button>
</template>

<template name="AdminAdvanceNav">
	<div class="row">
		<div class="col s12">
			<a class="btn {{isActiveRoute 'AdminAdvanceArticles'}}" href="{{pathFor 'AdminAdvanceArticles'}}">Sections</a>
			<a class="btn {{isActiveRoute 'AdminAdvanceArticlesResearch'}}" href="{{pathFor 'AdminAdvanceArticlesResearch'}}">Reseach Papers</a>
			<a class="btn {{isActiveRoute 'AdminAdvanceArticlesDiff'}}" href="{{pathFor 'AdminAdvanceArticlesDiff'}}">Paperchase Vs Legacy</a>
		</div>
	</div>
</template>

<template name="AdminAdvanceArticlesResearch">
	{{>AdminHeader header="Advance Articles - Research Papers"}}

	{{>AdminAdvanceNav}}
	{{>StatusModal what='Advance Articles - Research Papers' action=statusAction details=modalMessage}}

	<form>
		<div class="fixed-action-btn card grey lighten-1" style="bottom: 45px; right: 24px; padding:10px;">
			<button class="waves-effect waves-light btn-large submit" type="submit">Save</button>
		</div>


		<table class="striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>PII</th>
					<th>OJS</th>
					<th>Paperchase</th>
					<th>Recent</th>
				</tr>
			</thead>
			<tbody>
				{{#each articles}}
				<tr>
					<td>
						<h4>{{{title}}}</h4>
					</td>
					<td>
						{{ids.pii}}
					</td>
					<td>
						<a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a>
					</td>
					<td>
						<a href="{{pathFor 'adminArticle' _id=_id}}">Paperchase</a>
					</td>
					<td>
						<input id="article-{{_id}}" data-article-id="{{_id}}" type="checkbox" checked="{{#if equals section_name 'Recent Research Papers'}}checked{{/if}}" class="recent-research"/>
						<label for="article-{{_id}}"></label>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</form>
</template>