<template name="s3Upload">
  <div id="file-upload">
    <input type="file">
    <output></output>
  </div>
</template>

<template name="garbage-s3Upload">
	{{>Success}}
	{{>ErrorMessage}}
	{{>processing}}
	<div class="row">
    	<div class="col s12 center-align"><input type="file" class="file_bag"></div>
    </div>
	<div class="row">
   		<div class="col s12 center-align"><button class="btn btn-primary upload">Upload</button></div>
   	</div>

    {{#each files}}
    <div class="row">
    	<div class="col s6 right-align"><b>{{file.original_name}}</b></div>
    	<div class="col s6 left-align">{{percent_uploaded}}%</div>
   	</div>
    {{/each}}
</template>