<template name="AdminAuthor">
	{{>AdminHeader header="Author Profile"}}
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							{{#with author}}<h3>{{name_first}} {{name_last}}</h3>{{/with}}
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<h4>Articles</h4>
							<ul>
								{{#each articles}}
								<li><h5>{{{title}}}</h5><p><a href="{{pathFor 'adminArticle'}}">View</a></p></li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</template>