<template name="AdminArticlesAudit">
    {{>AdminHeader header="Articles Audit"}}
    <div class="row">
        <div class="col s12">
            {{>AdminArticlesAuditContent}}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table class="bordered">
                        <thead>
                          <tr>
                            <th><h3>Duplicates</h3></th>
                            <th>Duplicate Count</th>
                            <th>Article Type</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each arrayify duplicates}}
                            <tr class="table-group-header">
                              <td><h4>{{name}} {{#if value}}: {{countItems value}} Values are Duplicated{{/if}}</h4></td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            {{#if value}}
                            {{#each value}}
                            <tr>
                              <td>{{duplicate_field}}</td>
                              <td>{{count}}</td>
                              <td>{{#each article_types}}<div class="clearfix"></div>{{.}}{{/each}}</td>
                              <td>{{#each mongo_ids}}<div class="clearfix"></div><a href="{{pathFor 'AdminArticleOverview' _id=.}}">{{.}}</a>{{/each}}</td>
                            </tr>
                            {{/each}}
                            {{else}}
                            <tr>
                              <td>None Found</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            {{/if}}
                          {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
</template>

<template name="AdminArticlesAuditContent">
    {{#if paperchaseAudit}}
    {{#with paperchaseAudit}}
    <div class="card z-depth-0">
        <div class="card-content">
            <span class="card-title">Paperchase Database</span>
            <h4>{{articles}} = articles</h4>
            <h4>{{articles_without_pmid}} = articles without PubMed ID</h4>
            <h4>{{articles_without_pmc}} = articles without PMC ID</h4>
            <h4>{{pdf}} = PDF</h4>
            <h4>{{xml}} = XML</h4>
        </div>
    </div>
    <div class="card z-depth-0">
        <div class="card-content">
            <span class="card-title">NCBI Database</span>
            <h4><u>PubMed</u></h4>
            <h4>{{#if ncbiAudit}}{{ncbiAudit.pubmed}} = articles{{else}}N/A{{/if}}</h4>
            <h4><u>PMC</u></h4>
            <h4>{{#if ncbiAudit}}{{ncbiAudit.pmc}} = articles{{else}}N/A{{/if}}</h4>
        </div>
    </div>
    {{/with}}
    {{else}}
    {{>Progress}}
    {{/if}}
</template>