<template name="AdminRecommendations">
    {{>AdminHeader header="Subscription Recommendations"}}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Recommended By</th>
                                        <th>Institution</th>
                                        <th>Message</th>
                                        <th>Contacted</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each recommendations}}
                                        <tr>
                                            <td>{{name_first}} {{name_last}}</td>
                                            <td>{{institution}}</td>
                                            <td>{{message}}</td>
                                            <td>{{#if contacted}}Yes{{else}}No{{/if}}</td>
                                            <td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminRecommendationUpdate'}}">Update</a></td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminRecommendationUpdate">
    {{>AdminHeader header="Subscription Recommendation"}}
    {{#if recommendation}}
    {{#with recommendation}}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <p><label>Recommended By: </label>{{name_first}} {{name_last}}</p>
                            <p><label>Institution: </label>{{institution}}</p>
                            {{#if lib_email}}<p><label>Librarian Email: </label>{{lib_email}}</p>{{/if}}
                            {{#if position}}<p><label>Position: </label>{{position}}</p>{{/if}}
                            {{#if message}}<p><label>Message: </label>{{message}}</p>{{/if}}
                            {{#if recommendations}}
                                <label>Reasons: </label>
                                <ul>
                                {{#each recommendations}}
                                    <li>{{.}}</li>
                                {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <form>
                                <div class="row">
                                    <div class="col s12">
                                        <h4>Institution Contact</h4>
                                        {{#if contacted}}<p>Contacted: {{formatDate contact_date}}</p>{{/if}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                         {{#if contacted}}
                                            <input class="filled-in" id="institution_contact" type="checkbox" disabled checked/>
                                            {{else}}<input class="filled-in" id="institution_contact" type="checkbox"/>
                                         {{/if}}
                                        <label for="institution_contact">Contacted</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="correspondence_notes" class="materialize-textarea" value={{correspondence_notes}}></textarea>
                                        <label for="correspondence_notes" class="{{#if correspondence_notes}}active{{/if}}">Correspondence Notes</label>
                                    </div>
                                </div>
                                <div class="row save-btn">
                                    <div class="input-field col s12">
                                        <button class="submit btn waves-effect waves-light green" type="submit" name="action" alt="Save Recommendation">Save</button>
                                    </div>
                                </div>
                                {{>saving}}
                                {{>successMessage 'Institution Contact Updated'}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    {{else}}
    {{#if adminNotFound}}
    {{>Admin404 what="Recommendation"}}
    {{/if}}
    {{/if}}
</template>