<template name="adminArchive">
<ul class="collection">
    <li class="collection-item collection-header"><h2>Volume 2</h2></li>
    <li class="collection-item"><a href="/admin/issue/v2i2">Issue 2</a></li>
    <li class="collection-item"><a href="/admin/issue/v2i1">Isuse 1</a></li>

    <li class="collection-item collection-header"><h2>Volume 1</h2></li>
    <li class="collection-item"><a href="/admin/issue/v1i2">Issue 2</a></li>
    <li class="collection-item"><a href="/admin/issue/v1i1">Isuse 1</a></li>
</ul>

</template>

