<template name="AdminAbout">
    {{>AdminHeader header="About"}}
    {{>StatusModal}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">About Sections Order <button id="add-about-section" class="btn btn-add btn-sm right">{{>AdminAddIcon}} About Section</button></div>

                    {{#if sections}}
                    <div class="row">
                        <div class="col s12">
                            <ol class="roman-list sections-list">
                            {{#each sections}}
                                <li id="section-title-{{_id}}">{{{title}}}</li>
                            {{/each}}
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{>SaveBtn what="Section Order"}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{#if sections}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">About Sections</div>
                    <ol class="roman-list">
                        {{#each sections}}
                        <li>
                        {{#if editingAboutSection _id}}
                        <div class="row">
                            <div class="col s12">
                                <div id="add-section-container">
                                    <h2>Edit About Section</h2>
                                    {{>AdminAboutForm}}
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <h3 id="section-{{@index}}">
                            {{{title}}}
                            <button id="{{_id}}" class="btn btn-floating waves-effect waves-light btn-edit edit-section right" alt="Edit Section"><i class="material-icons" id="{{_id}}">&#xE254;</i></button>
                        </h3>
                        {{{content}}}
                        {{/if}}
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <div id="add-about-section-container"></div>
    {{#if showAboutForm}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">New About Section</div>
                    {{>AdminAboutForm}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="AdminAboutForm">
    {{#with section}}
    {{>SectionForm}}
    {{/with}}
</template>