<template name="adminArticlesDashboard">
	{{>AdminHeader header="Article Dashboard"}}
	<div class="row">
		<div class="col s4">
			<ul class="collection card">
				<li class="collection-item"><a href="{{pathFor 'adminArticleXmlIntake'}}"><i class="zmdi zmdi-upload"></i> XML</a></li>
				<li class="collection-item"><a href="{{pathFor 'adminArticlesList'}}">Articles List</a></li>
			</ul>			
		</div>
		<div class="col s4">
			<div class="card">
				<div class="card-content">
					<h5>Feature Articles</h5>
					<div class="row">
						<div class="col s12">
							<ul class="collection">
							{{#each feature}}
								<li class="collection-item"><h6>{{{title}}}</h6><p><a href="{{pathFor 'adminArticle'}}">View</a></p></li>
							{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card">
				<div class="card-content">
					<h5>Advance Articles</h5>
					<div class="row">
						<div class="col s12">
							<ul class="collection">
							{{#each advance}}
								<li class="collection-item"><h6>{{{title}}}</h6><p><a href="{{pathFor 'adminArticle'}}">View</a></p></li>
							{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="adminArticle">
	{{>AdminHeader header="Article"}}
	<div class="card">
		<div class="card-content">
			<h5 class="center-align">Article Settings</h5>
			<!--TODO: auto form this -->
			<form>
				<div class="row">
					<div class="col s6 center-align">
						<input class="filled-in" name="feature" type="checkbox" id="feature-checkbox" {{feature}}/>
						<label for="feature-checkbox">Feature</label>				
					</div>
					<div class="col s6 center-align">
						<input class="filled-in" name="advance" type="checkbox" id="advance-checkbox" {{advance}}/>
						<label for="advance-checkbox">Advance</label>				
					</div>
				</div>		
				<div class="row">
					<div class="col s12 center-align">
						<button class="submit btn waves-effect waves-light save-btn" type="submit" name="action" alt="Add User">Save</button>
					</div>
				</div>		
			</form>
			{{>saving}}
			<div class="row success hide">
				<div class="col m4 offset-m4 s12 green lighten-4 center-align">
					<h5>Article Saved <i id="close-success-msg" class="zmdi zmdi-close-circle-o right"></i></h5>
				</div>
			</div>
		</div>
	</div>
	{{>adminArticleData}}
</template>
<template name="adminArticleData">
	{{#with article}}
	<div class="card">
		<div class="card-content">
			<div class="card-header">
				<div class="row">
					<div class="col s10">
						<h4>{{{title}}}</h4>
						<h5>{{>AuthorsList}}</h5>
						<h6>Volume {{volume}}, Issue {{issue}}</h6>
						<p>{{page_start}}{{#if page_end}} &mdash; {{page_end}}{{/if}}</p>
					</div>
					<div class="col s2">
						<span class="badge right">{{article_type.type}}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>IDs:</h5>
					{{#each ids}}
						<h6><label class="">{{type}}:</label> {{id}}</h6>
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>Dates:</h5>
					{{#each dates}}
					<h6><label>{{type}}:</label> {{#with .}}{{>prettyDate}}{{/with}}</h6>
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>History:</h5>
					{{#each history}}
					<h6><label>{{type}}:</label> {{#with .}}{{>prettyDate}}{{/with}}</h6>
					{{/each}}
				</div>
			</div>
			{{#if keywords}}
			<div class="row">
				<div class="col s12">
					<h5>Keywords:</h5>
					<ul>
						{{#each keywords}}
						<li><h6>{{.}}</h6></li>
						{{/each}}						
					</ul>
				</div>
			</div>
			{{/if}}
		</div>
	</div>	
	{{/with}}	
</template>

<template name="adminArticlesList">
		{{>AdminHeader header="Articles"}}
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12">
						<table>
							<thead>
								<tr>
									<th data-field="title">Title</th>
									<th data-field="volume">Volume</th>
									<th data-field="volume">Issue</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each articles}}
								<tr>
									<td>{{{title}}}</td>
									<td>{{volume}}</td>
									<td>{{issue}}</td>
									<td><a class="waves-effect waves-light btn" href="{{pathFor 'adminArticle'}}">View</a></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</template>