<template name="AdminArticleXmlUpload">
	{{>AdminHeader header="Article XML Upload"}}
	{{#if uploaded}}
		{{#if articleProcessed}}
			<div class="row"><div class="col s12">
				<h4>Verify information from XML before updating the database</h4>
			</div></div>
			{{>AdminArticleForm}}

			{{else}}

			{{>ErrorMessage}}
			{{>processing}}
		{{/if}}
	{{else}}
	<div class="row">
		<div class="col s12">
			<div class="xml-upload border-gray">
			{{>s3Upload}}
			</div>
		</div>
	</div>
	{{/if}}
</template>

<template name="AdminArticleXmlProcess">
	{{>AdminHeader header="Article XML Process"}}
	{{#if article}}
	<div class="row">
		<div class="col s12">
			{{#if articleExists}}
				{{#with articleExists}}{{>updateArticleBtn}}{{/with}}
				<b>&nbsp;&nbsp;OR&nbsp;&nbsp;</b>
			{{/if}}
			{{>addArticleBtn}}
		</div>
	</div>
	{{/if}}
	{{#if articleExists}}
	<div class="row">
		<div class="col s12">
			<div class="card orange  lighten-4">
				<div class="card-content">
					{{#with articleExists}}
					<div class="row">
						<div class="col s12">
							<p><b>Article Already Exists:</b></p>
							<h4>{{{title}}}</h4>
							<h5>{{>AuthorsList}}</h5>
							<h6>Volume {{volume}}, Issue {{issue}}</h6>
							<p>{{page_start}}{{#if page_end}} &mdash; {{page_end}}{{/if}}</p>
						</div>
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	{{>adminArticleData}}
</template>