<template name="AdminAdvanceArticles">
	<form>
		{{>FixedSaveBtn}}
		{{> successMessage what='Advance Articles'}}
		<div class="row">
			<div class="col s12">
				<ul id="advance-table">
					{{#each articles}}
					<li>
						<div class="row">
							<div class="col s1"><i class="zmdi prefix zmdi-swap-vertical"></i></div>
							<div class="col s9">{{{title}}}</div>
							<div class="col s2"><input type="checkbox" class="advanced-article filled-in right" id="{{_id}}" checked="checked" />
							<label for="{{_id}}"></label></div>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col s12 center-align">
				{{>SaveBtn}}
			</div>
		</div>
	</form>
</template>