<template name="s3Upload">
    <div class="row"><div class="col s12 center-align">
        {{>FileUploader}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        {{#each files}}
        <div class="row">
            <div><b>{{file.original_name}}</b></div>
            <div>{{percent_uploaded}}%</div>
        </div>
        {{/each}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        <button class="btn btn-large btn-primary upload" data-id="{{_id}}">{{>AdminUploadIcon}} Upload</button>
    </div></div>
</template>

<template name="s3ArticleFilesUpload">
    <div class="row"><div class="col s12 center-align">
        {{>FileUploader}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        {{#each files}}
        <div class="row">
            <div><b>{{file.original_name}}</b></div>
            <div>{{percent_uploaded}}%</div>
        </div>
        {{/each}}
    </div></div>
    {{#if verify}}
    {{#if files}}
    <div class="row">
        <div class="col s12 m6">
            <p><b class="red-text">XML has NOT been uploaded. Saving the form below will update the database and save the XML.</b></p>
        </div>
        <div class="col s12 m6">
            <button id="xml-verified" class="btn btn-cancel right">{{>AdminCancelIcon}} Cancel</button>
        </div>
    </div>
    {{/if}}
    {{else}}
    <div class="row"><div class="col s12 center-align">
        <button id="upload-request" class="btn btn-large btn-primary upload" data-id="{{_id}}">{{>AdminUploadIcon}} Upload</button>
    </div></div>
    {{/if}}
</template>

<template name="s3UploadNewArticle">
    <div class="row"><div class="col s12 center-align">
        {{>FileUploader}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        {{#each files}}
        <div class="row">
            <div><b>{{file.original_name}}</b></div>
            <div>{{percent_uploaded}}%</div>
        </div>
        {{/each}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        <button class="btn btn-large btn-primary upload" data-id="{{_id}}">{{>AdminUploadIcon}} Upload</button>
    </div></div>
</template>

<template name="s3FigureUpload">
    <div class="row"><div class="col s12 center-align">
        {{>FileUploader id=figId}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        {{#each files}}
        <div class="row">
            <div><b>{{file.original_name}}</b></div>
            <div>{{percent_uploaded}}%</div>
        </div>
        {{/each}}
    </div></div>
    <div class="row"><div class="col s12 center-align">
        <button class="btn btn-primary upload" data-id="{{figId}}">{{>AdminUploadIcon}} Upload &amp; Save</button>
    </div></div>
</template>

<template name="FileUploader">
    <div class="file-field input-field">
        <div class="btn">
            <span>File</span>
            <input class="file_bag" type="file" data-id={{id}}>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path" type="text">
        </div>
    </div>
</template>

<template name="IssueCoverUploader">
    <div class="row">
        <div class="col s2">
        {{#if coverPath}}
            <img src="{{coverPath}}" class="responsive-img materialboxed">
            {{else}}
            No Cover Saved
        {{/if}}
        </div>
        <div class="col s10">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input class="file_bag" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row"><div class="col s12 center-align">
        <button class="btn btn-large btn-primary upload">{{>AdminUploadIcon}} Upload</button>
    </div></div>
</template>