<template name="AdminArticle">
	{{>AdminHeader header="Article"}}
	{{#if article}}
	{{initiateDates}}
	<div class="row">
		<div class="col s12">
			<ul class="admin-sub-nav">
				<li><a href="#article-title">Title</a></li>
				<li><a href="#abstract">Abstract</a></li>
				<li><a href="#site">Site</a></li>
				<li><a href="#meta">Meta</a></li>
				<li><a href="#meta">IDs</a></li>
				<li><a href="#authors">Authors</a></li>
				<li><a href="#dates">Dates</a></li>
				<li><a href="#history">History</a></li>
				<li><a href="#keywords">Keywords</a></li>
			</ul>
		</div>
		<div class="col s12">
			{{>AdminArticleForm article=article}}
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="row">
				<div class="col s12">
					<h3>Data Submissions</h3>
					{{#each article.submissions}}
						<li>{{pubStatusAbbrev pub_status}}: {{formatDate created_date}}</li>
					{{/each}}
					{{#if article.submissions}}
						{{else}}
						<h4>No Records Found</h4>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div class="row">
		<div class="col s12">
			<h3>No Article Found</h3>
		</div>
	</div>
	{{/if}}
</template>

<template name="AdminArticleForm">
	{{>SuccessModal what='Article'}}
	{{#with article}}
	<form id="article-form">
		{{>FixedSaveBtn}}
		{{>saving}}

		<fieldset id="article-title">
			<legend>Title</legend>
			<div class="row">
				<div class="col s12">
					<div class="article-title">{{{title}}}</div>
				</div>
			</div>
		</fieldset>

		<fieldset id="abstract">
			<legend>Abstract</legend>
			<div class="row">
				<div class="col s12">
					<div class="article-abstract">{{{abstract}}}</div>
				</div>
			</div>
		</fieldset>

		<fieldset id="site">
			<legend>Site Settings</legend>
				<div class="row">
					<div class="col s12 m6 center-align">
						<input class="filled-in" name="feature" type="checkbox" id="feature-checkbox" checked="{{#if feature}}checked{{/if}}"/>
						<label for="feature-checkbox">Feature</label>
					</div>
					<div class="col s12 m6 center-align">
						<input class="filled-in" name="advance" type="checkbox" id="advance-checkbox"  checked="{{#if feature}}advance{{/if}}"/>
						<label for="advance-checkbox">Advance</label>
					</div>
				</div>
		</fieldset>

		<fieldset id="meta">
			<legend>Meta</legend>
			<div class="row">
				<div class="col s6 m2">
					<input type="number" id="page_start" value="{{page_start}}">
					<label>First Page</label>
				</div>
				<div class="col s6 m2">
					<input type="number" id="page_end" value="{{page_end}}">
					<label>Last Page</label>
				</div>
				<div class="col s6 m4">
					<select id="article-issue">
						<option value="">Unassigned Issue</option>
						{{#each volumes}}
						<option disabled>&mdash; Volume {{volume}} &mdash;</option>
						{{#each issues}}
						<option value="{{_id}}" selected="{{#if selected}}selected{{/if}}">Volume {{volume}}, Issue {{issue}}</option>
						{{/each}}
						{{/each}}
					</select>
				</div>
				<div class="col s6 m4">
					<select id="article-type">
						{{#each article_type_list}}
						<option value="{{short_name}}" selected="{{#if selected}}selected{{/if}}">{{type}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col s4">
					<select id="article-pub-status">
					{{#each pub_status_list}}
						<option value="{{@index}}" disabled="{{#if disabled}}disabled{{/if}}" selected="{{#if selected}}selected{{/if}}">{{abbrev}}</option>
					{{/each}}
					</select>
				</div>
			</div>
		</fieldset>

		<fieldset id="ids">
			<legend>IDs</legend>
			<div class="row">
				<div class="col s12">
					<button id="add-id" class="btn btn-floating waves-effect waves-light" alt="Add ID"><i class="zmdi zmdi-plus-circle"></i></button>
				</div>
			</div>
			<div class="row">
				{{#each arrayify ids}}
				<div class="col s8 m3">
					<input type="text" id="article-id-{{name}}" value="{{value}}" class="article-id" >
					<label>{{name}}</label>
				</div>
				<div class="col s1 left-align">
					<i id="remove-{{name}}" class="prefix remove-id zmdi zmdi-close-circle red-type close-icon"></i>
				</div>
				{{/each}}
			</div>
		</fieldset>

		<fieldset id="authors">
			<legend>Authors</legend>
			<div class="row">
				<div class="col s12">
					<button id="add-author" class="btn btn-floating waves-effect waves-light" alt="Add Author"><i class="zmdi zmdi-plus-circle"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m1">&nbsp;</div>
				<div class="col s12 m3"><b>First Name</b></div>
				<div class="col s12 m3"><b>Middle Name</b></div>
				<div class="col s12 m3"><b>Last Name</b></div>
				<div class="col s12 m2"><b>Affiliations</b></div>
			</div>
			<div class="row">
				<div class="col s12">
					<ul class="authors-list">
						{{#each authors}}
						<li class="author-row author-li row grey lighten-4 border-gray valign-wrapper">
								<div class="col s12 m1 center-align">
									<i class="zmdi prefix zmdi-swap-vertical"></i>
								</div>
								<div class="col s12 m3">
									<input name="name_first" class="author" type="text" value="{{name_first}}" id="name_first">
								</div>
								<div class="col s12 m3">
									<input name="name_middle" class="author" type="text" value="{{name_middle}}" id="name_middle">
								</div>
								<div class="col s12 m3">
									<input name="name_last" class="author" type="text" value="{{name_last}}" id="name_last">
								</div>
								<div class="col s12 m1">
									{{#each affiliations_list}}
										<p class="pad-md">
											<input type="checkbox" class="author-affiliation filled-in" id="affiliation-{{@index}}-{{author_mongo_id}}" checked="{{checked}}" />
											<label for="affiliation-{{@index}}-{{author_mongo_id}}">{{affiliationNumber @index}}</label>
										</p>
									{{/each}}
								</div>
								<div class="col s12 m1">
									<i class="prefix remove-author zmdi zmdi-close-circle red-type close-icon right"></i>
								</div>
								<div class="hide">
									{{#each arrayify ids}}
									<input class="author-id" type="hidden" name="{{name}}" value="{{value}}">
									{{/each}}
								</div>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</fieldset>

		<fieldset id="affiliations">
			<legend>Affiliations</legend>
			<div class="row">
				<div class="col s12">
					<button id="add-affiliation" class="btn btn-floating waves-effect waves-light" alt="Add Affiliation"><i class="zmdi zmdi-plus-circle"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<ol class="affiliations-list">
						{{#each arrayify affiliations}}
						<li id="affiliation-li-{{@index}}" class="affiliation-li row grey lighten-4 border-gray">
							<div class="valign-wrapper" style="width:100%">
								<div class="col s1 center-align ">
									<i class="zmdi prefix zmdi-swap-vertical"></i>
								</div>
								<div class="col s10">
									<input id="article-affiliation-{{@index}}" class="article-affiliation" type="text" value="{{value}}"/>
								</div>
								<div class="col s1">
									<i class="prefix remove-affiliation zmdi zmdi-close-circle red-type close-icon right"></i>
								</div>
							</div>
						</li>
						{{/each}}
					</ol>
				</div>
			</div>
		</fieldset>

		<fieldset id="dates">
			<legend>Dates</legend>
			<div class="row">
				<div class="col s12">
					<button id="add-date" class="btn btn-floating waves-effect waves-light" alt="Add Date"><i class="zmdi zmdi-plus-circle"></i></button>
				</div>
			</div>
			<div class="row">
				{{! Separating out collection, because this is the only date that we are allowing mm-yyyy format on}}
				{{#each arrayify dates}}
				{{#if equals name 'collection'}}
				{{else}}
					<div class="col s8 m3">
						{{>AdminDateInput}}
						<label>{{name}}</label>
					</div>
					<div class="col s1 left-align">
						<i id="remove-{{name}}" class="prefix remove-dates zmdi zmdi-close-circle red-type close-icon"></i>
					</div>
				{{/if}}
				{{/each}}
			</div>
			<div class="row">
				{{#each arrayify dates}}
				{{#if equals name 'collection'}}
					<div class="col s8 m3">
						{{>AdminDateInput}}
						<label>{{name}}</label>
						<br/>
						<input class="mm-yy-only" type="checkbox" checked="{{#if dateDayExists value}}{{else}}checked{{/if}}" id="dates-{{name}}-no-day"/>
						<label for="dates-{{name}}-no-day" class="font-sm">Month & Year Only</label>
					</div>
					<div class="col s1 left-align">
						<i id="remove-{{name}}" class="prefix remove-dates zmdi zmdi-close-circle red-type close-icon"></i>
					</div>
				{{/if}}
				{{/each}}
			</div>
		</fieldset>

		<fieldset id="history">
			<legend>History</legend>
			<div class="row">
				<div class="col s12">
					<button id="add-history" class="btn btn-floating waves-effect waves-light" alt="Add History"><i class="zmdi zmdi-plus-circle"></i></button>
				</div>
			</div>
			<div class="row">
				{{#each arrayify history}}
					<div class="col s8 m3">
						{{>AdminHistoryInput}}
						<label>{{name}}</label>
					</div>
					<div class="col s1 left-align">
						<i id="remove-{{name}}" class="prefix remove-history zmdi zmdi-close-circle red-type close-icon"></i>
					</div>
				{{/each}}
			</div>
		</fieldset>

		<fieldset id="keywords">
			<legend>Keywords</legend>
			<div class="row">
				<div class="col s12">
					<button id="add-kw" class="btn btn-floating waves-effect waves-light" alt="Add Keyword"><i class="zmdi zmdi-plus-circle"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<ul>
						{{#each keywords}}
							<li class="kw-li">
								<div class="row">
									<div class="col s11">
										<input type="text" value="{{.}}" class="kw" />
									</div>
									<div class="col s1">
										<i class="prefix remove-kw zmdi zmdi-close-circle red-type close-icon right"></i>
									</div>
								</div>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</fieldset>

		<div class="row">
			<div class="col s12 center-align">
				{{>SaveBtn}}
			</div>
		</div>
	</form>
	{{/with}}
	{{>AddArticleDateModal}}
	{{>AddArticleHistoryModal}}
	{{>AddArticleIdModal}}
</template>

<template name="AdminDateInput">
	<input id="{{name}}" type="date" class="datepicker date" data-value="{{inputDate value}}" value="{{inputDate value}}" placeholder="{{placeholderDate value}}">
</template>
<template name="AdminHistoryInput">
	<input id="{{name}}" type="date" class="datepicker history" data-value="{{inputDate value}}" value="{{inputDate value}}"  placeholder="{{placeholderDate value}}">
</template>

<!--MODALS-->
<template name="AddArticleHistoryModal">
  <div id="add-article-history" class="modal">
    <div class="modal-content">
      <h4>Add Article History</h4>
      {{#each arrayify history}}
      <ul>
      	<li>
      		<button id="add-{{name}}" class="btn add-btn btn-sm add-history-type">{{name}}</button>
      		<p>{{value}}</p>
      	</li>
      </ul>
      {{/each}}
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</template>
<template name="AddArticleDateModal">
  <div id="add-article-dates" class="modal">
    <div class="modal-content">
      <h4>Add Article Date</h4>
      {{#each arrayify dates}}
      <ul>
      	<li>
      		<button id="add-{{name}}" class="btn btn-sm add-btn add-date-type">{{name}}</button>
      		<p>{{value}}</p>
      	</li>
      </ul>
      {{/each}}
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</template>
<template name="AddArticleIdModal">
  <div id="add-article-id" class="modal">
    <div class="modal-content">
      <h4>Add Article ID</h4>
      {{#each arrayify ids}}
      <ul>
      	<li>
      		<button id="add-{{name}}" class="btn add-btn btn-sm add-id-type">{{name}}</button>
      		<p>{{value}}</p>
      	</li>
      </ul>
      {{/each}}
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</template>