<template name="AdminForAuthors">
	{{>AdminHeader header="For Authors"}}
	<div class="row">
		<div class="col s12">
			<button id="add-section" class="waves-effect waves-light btn light-blue accent-4">Add Section</button>
		</div>
	</div>
	<ol class="roman-list">
	{{#each sections}}
		<li>{{{title}}}</li>
	{{/each}}
	</ol>
	<div class="divider"></div>

	{{#each sections}}
	{{#if editingSection _id}}
	<div class="row">
		<div class="col s12 card grey lighten-5">
			<div id="add-section-container" class="">
				<h2>Edit Section</h2>
				{{>AdminForAuthorsForm}}
			</div>
		</div>
	</div>
	{{else}}
	<div class="row" id="section-{{@index}}">
		<div class="col s12 m10">
			<h3>{{{title}}}</h3>
		</div>
		<div class="col s12 m2">
			<h3><button class="waves-effect waves-light btn btn-sm edit-section right" id="{{_id}}">Edit</button></h3>
		</div>
		<div class="col s12">
			{{{content}}}
		</div>
	</div>
	{{/if}}
	<div class="divider"></div>
	{{/each}}

	{{#if showForm}}
	<div class="row">
		<div class="col s12 card grey lighten-5">
			<div id="add-section-container" class="">
				<h2>New Section</h2>
				{{>AdminForAuthorsForm}}
			</div>
		</div>
	</div>
	{{/if}}
</template>

<template name="AdminForAuthorsForm">
	{{#with section}}
	{{>SuccessModal what='For Authors Section'}}
	<form id="article-form">
		{{>saving}}

		<fieldset id="section-title">
			<legend>Title</legend>
			<div class="row">
				<div class="input-field col s12">
					<div class="section-title">{{{title}}}</div>
				</div>
			</div>
		</fieldset>

		<fieldset id="section">
			<legend>Section</legend>
			<div class="row">
				<div class="input-field col s12">
					<div class="section-content">{{{content}}}</div>
				</div>
			</div>
		</fieldset>

		<input type="hidden" value="{{_id}}" id="section-mongo-id">

		<div class="row">
			<div class="col s12 center-align">
				{{>SaveBtn}}
			</div>
		</div>
	</form>
	{{/with}}
</template>