<template name="AdminAddIcon">
	<i class="material-icons">&#xE147;</i>
</template>

<template name="AdminRemoveIcon">
	<i id="remove-{{nameAdditional}}{{name}}" class="prefix remove-{{what}} material-icons red-type close-icon">&#xE15C;</i>
</template>

<template name="AdminSiteIcon">
	<i class="material-icons">&#xE30A;</i>
</template>

<template name="AdminTrueIcon">
	<i class="material-icons admin-true">&#xE5CA;</i>
</template>

<template name="AdminFalseIcon">
	<i class="material-icons admin-false">&#xE033;</i>
</template>

<template name="AdminWarningIcon">
	<i class="material-icons">&#xE002;</i>
</template>

<!-- article icons -->
<template name="AdminTitleIcon">
	<i class="material-icons">&#xE264;</i>
</template>
<template name="AdminAbstractIcon">
	<i class="material-icons">&#xE261;</i>
</template>
<template name="AdminAuthorsIcon">
	<i class="material-icons">&#xE7FD;</i>
</template>
<template name="AdminDatesIcon">
	<i class="material-icons">&#xE8DF;</i>
</template>
<template name="AdminKeywordsIcon">
	<i class="material-icons">&#xE896;</i>
</template>
<template name="AdminIdsIcon">
	<i class="material-icons">&#xE90D;</i>
</template>
<template name="AdminMetaIcon">
	<i class="material-icons">&#xE88E;</i>
</template>