<template name="ErrorMessages">
	<div class="row error hide">
		<div class="col s8 offset-s2 red lighten-4">
			<h5>Error:</h5>
			<ul>
			{{#each errors}}
				<li>{{.}}</li>
			{{/each}}
			</ul>

		</div>
	</div>
</template>

<!--SUCCESS PARTIALS-->
<template name="successMessage">
	<div class="row success hide">
		<div class="col m4 offset-m4 s12 green lighten-4 center-align">
			<h5>{{what}} Saved <i id="close-success-msg" class="zmdi zmdi-close-circle-o right"></i></h5>
		</div>
	</div>
</template>
<template name="SendingSuccessMessage">
	<div class="row success hide">
		<div class="col m4 offset-m4 s12 green lighten-4 center-align">
			<h5>{{what}} Sent <i id="close-success-msg" class="zmdi zmdi-close-circle-o right"></i></h5>
		</div>
	</div>
</template>

<!--WAITING PARTIALS-->
<template name="loadingGif">
	<img src="/images/loading.gif" alt="Loading..." class="loading-img">
</template>
<template name="processing">
	<div class="row hide saving center-align grey lighten-4">
		<div class="col s12">
			<h4>Processing..</h4>
			{{>loadingGif}}
		</div>
	</div>
</template>
<template name="Sending">
	<div class="row saving hide center-align grey lighten-4">
		<div class="col s12">
			<h4>Sending</h4>
			{{>loadingGif}}
		</div>
	</div>
</template>
<template name="saving">
	<div class="row saving hide center-align grey lighten-4">
		<div class="col s12">
			<h4>Saving</h4>
			{{>loadingGif}}
		</div>
	</div>
</template>