<template name="AdminInstitution">
	{{>AdminHeader header="Institutions"}}
	<div class="row">
		<div class="col s12">
			<a class="waves-effect waves-light btn light-blue accent-4" href="/admin/institution/add">Add institution</a>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12">
						<table>
							<thead>
								<tr>
									<th data-field="institution">Institution</th>
									<th data-field="address">Address</th>
									<th data-field="ip">IP Range</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each institutions}}
								<tr>
									<td><a href="/admin/institution/edit/{{_id}}">{{institution}}</a></td>
									<td>{{address}}</td>
                                    <td>{{#each IPRanges}}{{this.startIP}}-{{this.endIP}}<br>{{/each}}</td>
                                    <td> <button type="button" class=" btn red del-btn" data-del="{{_id}}">Delete</button> </td>
									<td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminInstitutionForm'}}">Profile</a></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</template>

<template name="AdminInstitutionAdd">
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col s12">
					{{>AdminInstitutionForm}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<a href="/admin/institution" class="secondary-content">Back to Institution List</a>
		</div>
	</div>
</template>

<template name="AdminInstitutionEdit">
{{#if updateForm}}
{{>AdminHeader header="Institution"}}
{{/if}}
{{#if insertForm}}
	{{>AdminHeader header="Add an Institution"}}
    {{/if}}
	<div class="row">
			<div class="col s12">
				<div class="card grey lighten-5">
					<div class="card-content overview">
						<div class="row">
							<div class="col s12">
								<a class="edit-btn waves-effect waves-light btn" href="#">EDIT</a>
							</div>
						</div>
						<div class="row">
							<div class="col s12"><h3>{{institution.institution}}</h3><h4>{{institution.address}}</h4><p>{{#each institution.IPRanges}}{{this.startIP}} &mdash; {{this.endIP}}{{/each}}</p></div>
						</div>
					</div>
					<div class="institution-form card-content edit hide">
						<div class="row">
							<div class="col s12">
								{{>AdminInstitutionForm}}
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</template>

<template name="AdminInstitutionForm">
<div class="row white z-depth-2">
    <div class="col s12">

<form class="institution-form">
    <h4>{{institution.institution}}</h4>

    <input type="text" name="institution" placeholder="Institution name" value="{{institution.institution}}">

    <div class="input-field col s12">
        <textarea name="address" class="materialize-textarea">{{institution.address}}</textarea>
        <label for="address">Address</label>
    </div>

    {{#if showIPFields}}
    <div class="row">
        <div class="input-field col s3"> 
            <input type="text" class="add-startIP" placeholder="127.0.0.1">
        </div>
        <div class="input-field col s3"> 
            <input type="text" class="add-endIP" placeholder="127.0.0.2">
        </div>
        <div class="input-field col s6"> 
        <button type="button" class="btn green  save-new-ip-btn">Save new IP Range?</button>
        <button type="button" class="btn red  cancel-new-ip-btn">Cancel</button>
        </div>
    </div>
    {{else}}
    <button type="button" class="btn  blue add-ip-btn">Add IP Range</button>
    {{/if}}

    <br><br>

    {{#each institution.IPRanges}}
    <div class="row">
        <div class="input-field col s3"> 
            <input type="text" class="iprange-start iprange-field" name="iprange-start" placeholder="IP Range Start" value="{{startIP}}">
        </div>
        <div class="input-field col s3"> 
            <input type="text" class="iprange-end iprange-field" name="iprange-end" placeholder="IP Range End" value="{{endIP}}">
        </div>
        <div class="input-field col s3"> 
        <button type="button" class="btn red del-ip-btn">Delete IP Range</button>
        </div>
    </div>
    {{/each}}


    <div class="divider"></div>
    {{#if updateForm}}
    <button type="submit" class="submit btn btn-large green save-btn">Save</button>
    <button type="button" class="btn btn-large red del-btn">Delete</button>
    {{/if}}
    {{#if insertForm}}
    <button type="submit" class="submit btn btn-large green add-btn">Create Institution</button>
    {{/if}}

    <br><br>

</form>

</div>
</div>
</template>
