<!-- used for other journals -->

<template name="HeaderAlt">
    <div id="header-alt" style="background-color: {{mainColor}}">
        {{>HeaderAltSocial}}
        <small class="label-alt label-{{journalShort}}" style="background-color: {{lighterMainColor}}">Online ISSN: {{issn}}</small>
        <small id="headertext-alt" onclick="window.location='{{homeHref}}';">
          <span>{{journal}}</span>
        </small>
        <div id="search-alt-input" style="display:none;">
            <input type="text" placeholder="search" />
        </div>
    </div>
</template>

<template name="HeaderAltSocial">
    {{#if socialList}}
    <ul class="social-list-alt">
        {{#each socialList}}
        <li class="social-links-alt"><a href="{{href}}" target="_BLANK"><i class="{{icon}}"></i></a></li>
        {{/each}}
    </ul>
    {{/if}}
</template>

<template name="NavAlt">
    <div id="nav-alt" style="background-color: {{mainColor}}">
        <div class="menunav-alt">
            <ul>
                {{#each links}}
                <li>
                    <a class="{{journalShort}}-link" href="{{path}}" style="color: {{darkerMainColor}}">{{text}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="menunav-alt">
            <ul>
                <li>
                    <a class="{{journalShort}}-link" href="{{contactHref}}" style="color: {{darkerMainColor}}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<template name="SearchAlt">
    <div id="search-alt-container">
        <div id="search-alt">
            {{>HeaderAlt}}
            <div class="clear-alt"></div>
            <div id="threecolcontainer-alt">
                {{>NavAlt}}
                <div id="column2and3-alt">
                    <div id="maincontentsolo-alt">
                        {{>SearchFormAlt}}

        <div>

    		{{#if searchLoaded}}
            <h4 class="black-divider">Search Results</h4>

    	 	<p class="lighten" style=""><i>{{queryResults.length}} results found</i></p>

            {{#if queryResults}}
            <ul class="divided-list">
                {{#each queryResults}}
                <li class="item search-item toc-info">
                    <h2 class="title"><a href="{{url}}">{{{title}}}</a></h2>
                    <h6 class="desc">Published in <em>{{index}}</em></h6>
                    <h6 class="desc">{{authors}}</h6>
					<h5 class="article-header">
						{{>ArticleHeaderPieces}}
					</h5>

                    {{#if abstract}}
                    {{#if equals abstract ''}}
                    {{else}}
					<div class="abstract article-text">
						{{{wrapInParagraphTag abstract}}}
					</div>
                    {{/if}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{else}}
                <div class="row no-margin">
                    <div class="col s12">
                        <div class="result-box" style="margin-bottom:40px;">
                            <h5>There are no results for these search terms.</h5>
                            <p>For assistance finding a paper that was published in Aging, please contact <a href="mailto:krasnova@impactaging.com">krasnova@impactaging.com</a> </p>
                        </div>
                    </div>
                </div>
            {{/if}}


            {{else}}
                {{#if searchLoading}}
                    {{>Loading}}
                {{else}}
                <h4 class="blue-divider">Search</h4>
                    <p>To search the journal, enter a term in the search bar. If you'd like to find specific authors, titles, or abstracts, use the advanced search to the right. </p>
                {{/if}}
    		{{/if}}
        </div>

                    </div>



                </div>


            </div>

            {{>FooterAlt}}
        </div>
    </div>
</template>

<Template name="SearchFormAlt">
    <h1>Search</h1>

    <form id="search-terms">
        <table>
            <tbody>
                <tr>
                    <td>
                        <p>By Title</p>
                    </td>
                    <td>
                        <input placeholder="title" type="text" name="title" value="{{terms}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>By Abstract</p>
                    </td>
                    <td>
                        <input placeholder="abstract" type="text" name="abstract">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>By Author</p>
                    </td>
                    <td>
                        <input placeholder="authors" type="text" name="authors">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>By Keywords</p>
                    </td>
                    <td>
                        <input placeholder="keywords" type="text" name="keywords">
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="checkbox" name="impactSearch" id="impactSearchCheck"/>
                        <label for="impactSearchCheck">Search all Impact publications</label>
                    </td>
                </tr>

            </tbody>
        </table>
        <br>
        <input type="submit">
    </form>


</Template>

<template name="FooterAlt">
    <div id="footer-alt" style="background-color: {{bgColor}}">
        {{#each copyright}}
            {{.}}<br/>
        {{/each}}
     </div>
</template>
