<template name="About">
	<h3>About the Journal</h3>
	<div class="divider"></div>

	<h4>Aims and Scope</h4>
		<p><b>High Impact, Rapid publication, Open access, Broad exposure</b></p>

		<p>In aging research, evidence emerges that aging is controlled by genetic mechanisms involving signal transduction pathways highly conserved from yeast to mammals. Hyper-stimulation of certain signaling pathways drives the aging process and is involved in cell senescence and age-related disease. Modulation of DNA-damage response, sirtuins and stress-response, insulin-activated pathways, nutrient-sensing pathways, p53, FOXO and PTEN extends life span. And calorie restriction extends life span by modulating the same signaling pathways. This provides a potential means of pharmacologic intervention to extend life span and treat age-related diseases. This new journal welcomes scientists in all disciplines, not only those in traditional gerontology.</p>

		<p><b>AGING</b> publishes high-impact research papers of general interest and biological significance in all fields of aging research including but not limited to cellular senescence, DNA damage and repair, organismal aging, age-related diseases, genetic control of aging from yeast to mammals, regulation of longevity, evolution of aging, anti-aging strategies and drug development and especially the role of signal transduction pathways in aging and potential approaches to modulate these signaling pathways to extend lifespan.</p>

		<p><b>AGING</b> covers (in addition to traditional topics on aging) many other topics including cellular and molecular biology (regulation of translation, cell growth, death and autophagy, mitochondria, DNA damage and repair, microRNAs, stem cells), human age-related diseases, pathology in model organisms, cancer and first of all signal transduction pathways (p53, sirtuins, PI-3K/AKT/mTOR and so on) and approaches to modulate these signaling pathways.</p>


		<h4>The Editorial Board</h4>

		<p>Includes outstanding scientists in gerontology, genetics, signal transduction, stem cells and stem cell aging, cell growth, cell cycle, apoptosis, cancer research, pharmacology and clinical medicine.</p>

		<h4>About Our Authors</h4>

		<p>We have published outstanding papers and reviews by Lawrence Donehower, Toren Finkel, Stephen Helfand, Elizabeth Blackburn, Gerald Shadel, Andre Nussenzweig, Maurice Burg, Karen Vousden, Leonard Guarente  and other highly cited authors, who usually publish their papers in Cell, Nature, Science and PNAS.</p>

		<h4>Announcement!</h4>
		<p>AGING is now indexed by PubMed/Medline and PubMed Central. </p>
</template>