<template name="Account">
<div class="row">
    {{> LeftNav}}
    <div class="col s10">
        <h3>Account</h3>
        <div class="divider"></div>

        <ul>
            <li><strong>IP Address: You are accessing this site from this IP address: {{clientIP}}</strong></li>

            {{#if isSubscribed}}
            <li><strong>onuthoenuth{{#if isSubscribedIP}}You have institutional subscription access through {{getInstitutionByIP.institution}}{{/if}}</strong></li>
            {{/if}}
        </ul>
    </div>	
</div>
</template>

<!-- TODO: add check for pagination -->

