<template name="Advance">
	{{> SubscribeModal}}

	<div class="row">
		<div class="page-content col s12 m12 l8">
			<h2 class="h1">Advance Online Publications</h2>

			{{#each advance}}
        <!-- i'm not sure how to get the section titles? -->
				{{#if section_start}} <h4 id="{{#with pluralize section_name}}{{convertToID this}}{{/with}}" class="blue-divider">{{pluralize section_name}}</h4> {{/if}}

				<div class="toc-info">
                    <h2 class="title">{{{title}}}</h2>
                    {{#if authors}} <h6 class="desc">{{>AuthorsList}}</h6> {{/if}}

                    <a class="small secondary button" style="margin-top: 15px;" href="{{pathFor 'Article' _id=_id}}">View Abstract</a>
                    {{>ArticleButtons article=article}}           
                </div>
			{{/each}}
		</div>
	</div>
</template>
