<template name="advance">
<div class="row">
    {{> LeftNav}}
    <div class="col s10">

        <h2>Advance Online Publications</h2>
        <div class="divider"></div>

        <ul>
            {{#each advance}}
            <li class="collection-item">
            <h5>{{{title}}}</h5>
            <p>{{>AuthorsList}}</p>
            <p><a class="btn waves-effect waves-light" href="{{pathFor 'Article' _id=_id}}">Abstract</a></p>
            </li>
            <div class="divider"></div>
            {{/each}}
        </ul>
    </div>
</div>
</template>
