<template name="Archive">
<div class="row">
    {{> LeftNav}}
    <div class="col s10">
        <h3>Archive</h3>
        <div class="divider"></div>

        {{#each volumes}}
        <h4>Volume {{volume}}</h4>
        <div class="clearfix">
            <ul class="">
                {{#each issues}}
                <li style="float:left; display:block; margin-right:22px;">
                <div class="clearfix">
                    <a href="/issue/v{{volume}}i{{issue}}"><img src="/images/covers/cover_v{{volume}}n{{issue}}.png"></a>
                    <p><strong><a href="/issue/v{{volume}}i{{issue}}">Issue {{issue}}</a></strong><br>pp {{pages}}</p>
                    <!--
                    {{#if pub_date}}<h5>{{formatIssueDate pub_date}}</h5>{{/if}}
                    //-->
                </div>
                </li>
                {{/each}}	
            </ul>
            </div>
            <br>
        <div class="divider"></div>
        {{/each}}
    </div>	
</div>
</template>

<!-- TODO: add check for pagination -->
