<template name="Archive">
    <div class="row">
        <div class="page-content col s12 m12 l8">
            <h1>Issue Archive</h1>
            {{#each volumes}}
                <h2 id="volume{{volume}}" class="heavy">Volume {{volume}}</h2>

                <div class="row clearfix">
                    <ul>
                        {{#each issues_data}}
                        <li class="archive-issue col s4 m2 l2">
                            <a href="/issue/v{{volume}}i{{issue_linkable}}"><img src="{{coverPath}}"></a>
                            <a class="issue-info" href="/issue/v{{volume}}i{{issue_linkable}}">Volume {{volume}},<br/> Number {{issue}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="divider"></div>
            {{/each}}
        </div>

        {{#if archiveReady}}
            <div class="page-sidebar col hide-on-med-and-down l4">
                {{> scrollspyCard title="Table of Contents" items=items}}
            </div>
        {{/if}}
    </div>
</template>

<!-- TODO: add check for pagination -->
