<template name="AuthorsList">
	<span class="authors">
		{{#each authors}}
			<span class="author">
				{{name_first}}
				{{#if name_middle}} {{name_middle}}{{/if}}
				{{#if name_last}} {{name_last}}{{/if}}
				<span class="comma">, </span>
			</span>
		{{/each}}
	</span>
</template>
<template name="AuthorsRefList">
	<span class="authors">
		{{#each authors}}
			<span class="author">
				{{name_first}}
				{{#if name_middle}} {{name_middle}}{{/if}}
				{{#if name_last}} {{name_last}}{{/if}}
				{{#if affiliations_list}}
					<sup>{{#each affiliations_list}}{{formatReference .}}{{/each}}</sup>
				{{/if}}
				<span class="comma">, </span>
			</span>
		{{/each}}
	</span>
	{{#if affiliations_list}}
	<span class="affiliations">
		{{#each arrayify affiliations_list}}
		<div class="clearfix"></div>
			{{formatReference name}}. {{value}}
		{{/each}}
	</span>
	{{/if}}
</template>
<template name="prettyDate">
	{{getMonthWord month}}{{#if day}} {{day}}{{/if}}{{#if year}}, {{year}}{{/if}}
</template>

<!--admin partials-->

<template name="addArticleBtn">
	<button class="add-article btn waves-effect waves-light btn-add" type="submit" name="action" alt="Add Article"><i class="zmdi zmdi-file-plus"></i> Add</button>
</template>
<template name="updateArticleBtn">
	<button data-mongoid="{{_id}}" class="update-article btn waves-effect waves-light btn-update" type="submit" name="action" alt="Update Article"><i class="zmdi zmdi-edit"></i> Update</button>	
</template>