<template name="ArticleHeader">
	<div class="row">
		<div class="col s12" style="position:relative">
			<span class="badge">{{article_type.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h2>{{{title}}}</h2>
			{{>AuthorsRefList}}
			<div class="row no-margin">
				{{#if page_start}}<div class="col s4"><h6>pp {{page_start}}{{#if page_end}} &mdash; {{page_end}}{{/if}}</h6></div>{{/if}}
			</div>
			{{#if dates}}
				{{>ArticleDates}}
			{{/if}}
			<div class="row no-margin">
				{{#each arrayify ids}}
					<div class="col s4"><h6><label>{{name}}:</label> {{value}}</h6></div>
				{{/each}}
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col s12">
			{{>ArticleButtons}}
		</div>
	</div>
	{{#if abstract}}
	<div class="row">
		<div class="col s12">
			<h3>Abstract</h3>
			{{{abstract}}}
		</div>
	</div>
	{{/if}}
</template>

<template name="AuthorsList">
	<span class="authors">
		{{#each authors}}
			<span class="author">{{name_first}}{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}<span class="comma">, </span></span>
		{{/each}}
	</span>
</template>
<template name="AuthorsRefList">
	<h3 class="authors">
		{{#each authors}}
			<span class="author">
				{{name_first}}
				{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}
				{{#if affiliations_numbers}}
					<sup class="author-affiliations">{{#each affiliations_numbers}}<span>{{affiliationNumber .}}<span class="comma">,&nbsp;</span></span>{{/each}}</sup>
				{{/if}}
				<span class="comma">, </span>
			</span>
		{{/each}}
	</h3>
	{{#if affiliations}}
	<h6>
		<span class="affiliations">
			{{#each arrayify affiliations}}
			<div class="clearfix"></div>
				{{affiliationNumber name}}. {{value}}
			{{/each}}
		</span>
	</h6>
	{{/if}}
</template>

<template name="ArticleDates">
	<div class="row no-margin">
	{{#each arrayify dates}}
		{{#if equals name 'collection'}}
			<div class="col s4"><h6><label>{{name}}:</label> {{collectionDate value}}</h6></div>
			{{else}}
			<div class="col s4"><h6><label>{{name}}:</label> {{articleDate value}}</h6></div>
		{{/if}}
	{{/each}}
	</div>

</template>

<template name="ArticleFigures">
	<div class="owl-carousel">
	{{#each figures}}
		<div>
			<h4 class="center-align">{{{figureTitle}}}</h4>
			{{#each imgURLs}}<img src="{{.}}" class="materialboxed" width="100%;">{{/each}}
			<!-- <p>{{{figureText}}}</p> -->
		</div>
	{{/each}}
	</div>
</template>

<template name="ArticleButtons">
	<span class="article-btns">
		{{#if abstract}}<a class="blue-grey waves-effect waves-light btn {{isActiveRoute 'Article'}} {{#if isActiveRoute 'Article'}}darken-4{{else}}darken-1{{/if}}" href="{{pathFor 'Article'}}">Abstract</a>{{/if}}
	    {{#if isSubscribed}}
	    {{#if assets.pdf_url}}
	    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn" href="{{assets.pdf_url}}">PDF</a>
	    {{/if}}
	    {{#if assets.full_xml_url}}
	    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn" href="http://52.20.223.77:4001/?pii={{ids.pii}}">Lens Full-Text Viewer</a>
	    <a data-id="{{_id}}" class="blue-grey waves-effect waves-light btn {{isActiveRoute 'ArticleText'}} {{#if isActiveRoute 'ArticleText'}}darken-4{{else}}darken-1{{/if}}" href="{{pathFor 'ArticleText'}}">Full-Text</a>
	    {{/if}}
	    {{else}}
	    {{#if assets.pdf_url}}
	    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn modal-trigger disabled" href="#subscribe-modal">PDF</a>
	    {{/if}}
	    {{#if assets.full_xml_url}}
	    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn modal-trigger disabled" href="#subscribe-modal">Lens Full-Text Viewer</a>
	    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn modal-trigger disabled" href="#subscribe-modal">Full-Text</a>
	    {{/if}}
	    {{/if}}
	</span>
</template>

<template name="ArticleSections">
	{{#if fullText}}
	{{#with fullText}}
	<ul class="section-nav">
		{{#each sections}}
		<li><a class="article-header-{{headerLevel}} anchor" href="#{{sectionId}}">{{{title}}}</a></li>
		{{/each}}
	</ul>
	{{/with}}
	{{/if}}
</template>

<!--admin partials-->

<template name="addArticleBtn">
	<button class="add-article btn waves-effect waves-light btn-add" type="submit" name="action" alt="Add Article"><i class="zmdi zmdi-file-plus"></i> Add</button>
</template>
<template name="updateArticleBtn">
	<button data-mongoid="{{_id}}" class="update-article btn waves-effect waves-light btn-update" type="submit" name="action" alt="Update Article"><i class="zmdi zmdi-edit"></i> Update</button>
</template>