<template name="Article">
{{#with article}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h5><a href="/issue/v{{volume}}i{{issue}}">Volume {{volume}}, Issue {{issue}}</a></h5>
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            {{>ArticleMeta}}  
                        </div>
                    </div>
                    {{#if abstract}}
                    <div class="row">
                        <div class="col s12">
                            {{{abstract}}}
                        </div>
                    </div>
                    {{/if}}
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn btn-lg">PDF</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    {{#if keywords}}
    <div class="row">
        <div class="col s12">
            {{#each keywords}}
                <a class="btn waves-effect waves-light kw deep-orange lighten-2">{{{.}}}</a>
            {{/each}}
        </div>
    </div>
    {{/if}}    
</div>
{{/with}}
</template>

<template name="ArticleText"></template>
