<template name="AuthorsList">
	<span class="authors">
		{{#each authors}}
			<span class="author">{{name_first}}{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}<span class="comma">, </span></span>
		{{/each}}
	</span>
</template>
<template name="AuthorsRefList">
	<span class="authors">
		{{#each authors}}
			<span class="author">
				{{name_first}}
				{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}
				{{#if affiliations}}
					<sup class="author-affiliations">{{#each affiliation_numbers}}<span>{{.}}<span class="comma">,&nbsp;</span></span>{{/each}}</sup>
				{{/if}}
				<span class="comma">, </span>
			</span>
		{{/each}}
	</span>
	{{#if affiliations}}
	<h6>
		<span class="affiliations">
			{{#each arrayify affiliations}}
			<div class="clearfix"></div>
				{{affiliationNumber name}}. {{value}}
			{{/each}}
		</span>
	</h6>
	{{/if}}
</template>

<template name="ArticleDates">
	{{#each arrayify dates}}
		{{#if equals name 'collection'}}
			<h6><label>{{name}}:</label> {{collectionDate value}}</h6>
			{{else}}
			<h6><label>{{name}}:</label> {{articleDate value}}</h6>
		{{/if}}
	{{/each}}
</template>

<template name="ArticleMeta">
	<span class="badge">{{article_type.type}}</span>
	<h2>{{{title}}}</h2>
	<h3>{{>AuthorsRefList}}</h3>
	<h6>Volume {{volume}}, Issue {{issue}}</h6>
	{{#if page_start}}<h6>pp {{page_start}}{{#if page_end}} &mdash; {{page_end}}{{/if}}</h6>{{/if}}
	{{#if dates}}
		{{>ArticleDates}}
	{{/if}}
</template>


<template name="ArticleButtons">
    {{#if isSubscribed}}
    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn download-pdf">PDF</a>
    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn" href="http://52.20.223.77:4001/">Full Text</a>
    {{else}}
    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn modal-trigger disabled" href="#subscribe-modal">PDF</a>
    <a data-id="{{_id}}" class="blue-grey darken-1 waves-effect waves-light btn modal-trigger disabled" href="#subscribe-modal">Full Text</a>
    {{/if}}
</template>


<!--admin partials-->

<template name="addArticleBtn">
	<button class="add-article btn waves-effect waves-light btn-add" type="submit" name="action" alt="Add Article"><i class="zmdi zmdi-file-plus"></i> Add</button>
</template>
<template name="updateArticleBtn">
	<button data-mongoid="{{_id}}" class="update-article btn waves-effect waves-light btn-update" type="submit" name="action" alt="Update Article"><i class="zmdi zmdi-edit"></i> Update</button>
</template>