<template name="ArticleText">
	{{> LeftNav}}
	<div class="col s10">
		{{#with article}}
			{{>ArticleHeader}}

			{{#if abstract}}
			<div class="row">
				<div class="col s12">
					<h3>Abstract</h3>
					{{{abstract}}}
				</div>
			</div>
			{{/if}}

			{{#if ids.pii}}
			{{else}}
			<div class="row">
				<div class="col s12 red center-align"><h4>Full Text Unavailable.</h4></div>
			</div>

			{{/if}}
		{{/with}}


		{{#if fullText}}
		{{else}}
			<div class="row">
				<div class="col s12">
					<h3>Loading</h3>
					<div class="progress">
						<div class="indeterminate"></div>
					</div>
				</div>
			</div>
		{{/if}}

		{{#with fullText}}
			{{>ArticleFullText}}

			{{#if references}}
				<h3>References</h3>
				<ul>
					{{#each references}}
						<li id="R{{number}}"><b>{{number}}.</b>{{#if article_title}} {{article_title}}.{{/if}}{{#if source}} {{source}}.{{/if}}{{#if year}} {{year}}{{/if}}{{#if volume}}; {{volume}}{{/if}}{{#if fpage}}: {{fpage}}{{/if}}{{#if lpage}}-{{lpage}}{{/if}}.</li>
					{{/each}}
				</ul>

			{{/if}}
		{{/with}}
	</div>
</template>

<template name="ArticleFullText">
	{{#each sections}}
	<div class="article-header-{{headerL}}" id="{{sectionId}}">{{{title}}}</div>
	{{#each content}}
		<p>{{{.}}}</p>
	{{/each}}
	{{/each}}
</template>