<template name="Article">
{{#with article}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4><a href="/issue/v{{volume}}i{{issue}}">Volume {{volume}}, Issue {{issue}}</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <span class="badge">{{article_type.type}}</span>
        	<h2>{{{title}}}</h2>
        	<h4>{{>AuthorsList}}</h4>
            <p>{{page_start}}{{#if page_end}} &mdash; {{page_end}}{{/if}}</p>
            {{#if dates}}
                {{#each dates}}
                {{#if equals 'epub' type}}
                       epub: {{getMonthWord month}}, {{day}} {{year}}
                {{/if}}
                {{/each}}
            {{/if}}        
        </div>
    </div>
    {{#if keywords}}
    <div class="row">
        <div class="col s12">
            <ul>
                {{#each keywords}}
                <li>{{{.}}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
    {{#if abstract}}
    <div class="row">
        <div class="col s12">
        	{{{abstract}}}
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col s12">
    		<a class="waves-effect waves-light btn">PDF</a>
        </div>
    </div>
</div>
{{/with}}
</template>

<template name="ArticleText"></template>
