<template name="Contact">
<div class="row">
	<div class="page-content col s12 m12">
		<h2 class="h1">Contact Us</h2>

		<h3>Journal Office</h3>

		{{#with contact}}
				<p>
				{{#with address}}
					{{street}}{{#if street_2}}, {{street_2}}{{/if}}<br />
					{{city}}, {{state}} {{zip}}<br />
				{{/with}}
				{{#with general}}
					{{#if phone}}Phone: {{phone}}<br />{{/if}}
					{{#if fax}}Fax: 716-508-8254<br />{{/if}}
				{{/with}}
				<!-- todo: need to add a separate helper for e-fax -->
				Email: <a href="mailto:editors@impactaging.com">editors@impactaging.com</a><br />
					 e-Fax: {{general.fax}}</p>

				<p>FYI: Editorial Office staff are unable to assist with production, billing and payment queries.</p>
				<p>Please direct such queries to the appropriate Office as listed below.</p>
				<p>Please indicate manuscript number on all related correspondence for a quick and efficient response.</p>


			<h3>Support</h3>
			{{#with publication_prep}}
            <p>For general inquiries, please contact <b>{{name}}, <!-- {{title}} -->Production Director</b>, <a href="mailto:{{email_address}}">{{email_address}}</a></p>

				<h3>Production</h3>
                <p>For questions related to preparation of your article for publication, please email <a href="mailto:{{email_address}}">{{email_address}}</a><br />
                Each issue or paper can be printed for special demand. Please email your printing requests to <a href="mailto:{{email_address}}">{{email_address}}</a></p>
                
			{{/with}}

			<h3>Indexes</h3>
			<p>If you have a question about the status of your paper, email <a href="mailto:kurenova@impactaging.com">kurenova@impactaging.com</a>.</p>

			<h3>Billing and Invoices</h3>
			<p>If you have a question about an invoice or have a payment query, please contact the Payment Office:<br />
			<a href="#">payment@impactaging.com</a><br />
			Phone: {{general.phone}}
			</p>

            <h3>Publishing Office</h3><p>Aging is published by Impact Journals,LLC<br />
            To contact the Publishing Office, please email: <a href="mailto:publisher@impactjournals.com">publisher@impactjournals.com</a><br />
            <a href="http://www.impactjournals.com">www.impactjournals.com</a></p>
            

		{{/with}}
	</div>
</div>
</template>
