<template name="Contact">
<div class="row">

    {{> LeftNav}}

    <div class="col s10">
        <h3>Contact Us</h3>

        <div class="divider"></div>


        <p> Please submit an article: <a href="http://aging.msubmit.net">http://aging.msubmit.net</a> </p>

        <p>
        <b>Journal Office:</b><br>
        6666 E. Quaker Str.<br>
        Orchard Park, NY 14127
        </p>

        <p>
        For questions related to preparation of your article for publication, please contact:<br> <b>Olga Krasnova</b> <br>
        Managing Editor and Production Director<br>
        <a href="mailto:krasnova@impactaging.com">krasnova@impactaging.com</a>
        </p>

        <p>
        For general inquiries, email:
        <a href="mailto:publisher@impactjournals.com">publisher@impactjournals.com</a>.
        </p>

        <p>
        Tel: 1-800-922-0957 (option 3)
        </p>

        <p>
        e-Fax: 1-716-608-1380
        </p>


        <br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>                                

    </div>
</div>
</template>
