<template name="EdBoard">
  <!-- todo: remove inline styles -->
	<div class="wide grid" style="margin-bottom: 70px;">
    {{>PageHeader header="Editorial Board"}}

    <h4 style="margin-top: 40px;">{{journalName}} Editors-in-Chief</h4>
    <ul class="home-page-editors-list">
      {{#each eic}}
        <li class="section-half">
            <p><a href="#{{name_last}}{{name_first}}" class="modal-trigger title"><b>{{>PersonName}}</b></a><br /> 
            {{address}}</p>
        </li>
        {{#if bio}}
          {{> bioModal bio=bio firstName=name_first lastName=name_last}}
        {{/if}}
      {{/each}}
    </ul> 
  </div>

  <div class="wide grid">
		<h4>Editorial Board</h4>
		<ul class="home-page-editors-list">
			{{#each fullBoard}}
  			<li class="section-half">
  				<p><a href="#{{name_last}}{{name_first}}" class="modal-trigger title"><b>{{>PersonName}}</b></a><br /> {{address}}</p>
  			</li>

        {{#if bio}}
          {{> bioModal bio=bio firstName=name_first lastName=name_last}}
        {{/if}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="bioModal">
  <div id="{{lastName}}{{firstName}}" class="modal">
    <div class="modal-content">
        <p class="bio">{{{bio}}}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close this dialog</a>
    </div>
  </div>
</template>