<template name="EdBoard">

    <div class="row">
        <div class="col s12 m12 l12">
            {{>PageHeader header="Editorial Board"}}
        </div>
    </div>

    <div class="row">
        <ul class="home-page-editors-list">
            <div class="col s12">
                <h4>{{journalName}} Editors-in-Chief</h4>
            </div>
            {{#each eic}}
                <li class="col s12 m6">
                    <p><a href="#{{_id}}" class="modal-trigger title"><b>{{>PersonName}}</b></a><br />
                    {{address}}</p>
                </li>
                {{#if bio}}
                    {{> bioModal bio=bio paperchaseId=_id}}
                {{/if}}
            {{/each}}
        </ul>
    </div>

    <div class="row">
		<ul class="home-page-editors-list">
            <div class="col s12">
                <h4>Editorial Board</h4>
            </div>
			{{#each fullBoard}}
  			<li class="col s12 m6">
  				<p><a href="#{{_id}}" class="modal-trigger title"><b>{{>PersonName}}</b></a><br /> {{address}}</p>
  			</li>

        {{#if bio}}
        {{> bioModal bio=bio paperchaseId=_id}}
        {{/if}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="bioModal">
    <div id="{{paperchaseId}}" class="modal">
    <div class="modal-content">
        <p class="bio">{{{bio}}}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close this dialog</a>
    </div>
  </div>
</template>
