<template name="ForAuthors">
    <div class="page-content wide">
        {{>PageHeader header="Information for Authors"}}
    </div>

   <div class="page-content">

        <ul class="sectioned-list">
            {{#each sections}}
            <li id="section-{{@index}}">
                <h2>{{{title}}}</h2>
                {{{content}}}
            </li>
            {{/each}}
        </ul>
   </div>

   <!-- todo: make smoothscroll at scroll - 100px or so -->
   <div class="page-sidebar">
       <div class="card sidebar-card fixed-scroll-card">
            <h6 class="card-title">Table of Contents</h6>
            <ul class="scrollspy toc">
                {{#each sections}}
                    <a class="anchor" href="#section-{{@index}}"><li>{{{title}}}</li></a>
                {{/each}}
            </ul>
        </div>
   </div>


</template>


