<template name="ForAuthors">
    {{>PageHeader header="Information for Authors"}}
    <div class="row">
        <div class="col s12">
            <ol class="roman-list">
                {{#each sections}}
                <li><a class="anchor" href="#section-{{@index}}">{{{title}}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>
    <ol class="roman-list">
    {{#each sections}}
    <li id="section-{{@index}}">
        <h2>{{{title}}}</h2>
        <div class="row">
            <div class="col s12">{{{content}}}</div>
        </div>
    </li>
    {{/each}}
    </ol>
</template>


