<template name="ForAuthors">
    <div class="page-content wide">
        {{>PageHeader header="Information for Authors"}}
    </div>

   <div class="page-content">
      <ul class="sectioned-list">
          {{#each sections}}
          <li id="{{convertToID title}}">
              <h2 class="heavy accented">{{{title}}}</h2>
              <p>{{{content}}}</p>
          </li>
          {{/each}}
      </ul>
   </div>


   <div class="page-sidebar">
     {{> scrollspyCard title="Table of Contents" items=sections}}
   </div>
</template>


