<template name="Issue">
{{#with issue}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Volume {{volume}}, Issue {{issue}}</h1>
            <p>pp {{page_start}} - {{page_end}}</p>
        </div>
    </div>
    {{#each articles}}
    {{#if start_group}}
    <div class="row">
    	<h3>{{article_type.type}}</h3>
    </div>
    {{/if}}
    <div class="row">
    	<h4>{{title}}</h4>
    	{{>AuthorsList}}
    	<p>pp {{page_start}}{{#if page_end}}-{{page_end}}{{/if}}</p>
    	<a class="waves-effect waves-light btn" href="{{pathFor 'article'}}">Full Text</a>
    	<a class="waves-effect waves-light btn">PDF</a>
    </div>
    {{/each}}
</div>
{{/with}}
</template>
