<template name="Issue">
    {{> SubscribeModal}}

    {{#if issueData}}
        {{#with issueData}}
            <!-- <div class="page-content wide">
                <div class="cover-image">
                    <img src="{{coverPath}}">
                </div>
                <div class="page-title">
                    <span class="page-desc">Table of Contents</span>
                    <h1>Volume {{volume}}, Issue {{issue}}</h1>
                    {{#if pub_date}}
                    <span class="issue-date">{{formatIssueDate pub_date date_settings}}</span>
                    {{/if}}
                </div>
            </div> -->

            <!-- Main -->
            <div class="page-content">
                    <div class="toc-title">
                        <div class="cover-image">
                            <img src="{{coverPath}}">
                        </div>
                        <!-- Title Information -->
                        <div class="page-title">
                            <span class="page-desc">Table of Contents</span>
                            <h1>Volume {{volume}}, Issue {{issue}}</h1>
                            {{#if pub_date}}
                            <span class="issue-date">{{formatIssueDate pub_date date_settings}}</span>
                            {{/if}}
                        </div>
                    </div>
                    {{>ArticlesList}}
            </div>

            <!-- Sidebar -->
            <div class="page-sidebar">
                <div class="issue-scroller">
                    {{#if prevIssue}} <span class="prev"><a href="{{prevIssue}}"><span class="icon icon-angle-left"></span> Prev</a></span> {{/if}}
                    <span class="current">Volume {{volume}}, Issue {{issue}}</span>
                    {{#if nextIssue}} <span class="next"><a href="{{nextIssue}}">Next <span class="icon icon-angle-right"></span></a></span> {{/if}}
                </div>
                {{> scrollspyCard title="Explore This Issue" items=items}}
            </div>
        {{/with}}
    {{else}}
        {{>Loading}}
    {{/if}}
</template>


<template name="ArticlesList">
    {{#if articles}}
        {{#each articles}}
            <!-- Section Heading -->
            {{#if start_group}}
                {{#if article_type.name}}
                    <h4 id="{{convertToID article_type.name}}s" class="blue-divider">{{article_type.name}}s</h4>
                {{else}}
                    <h4 id="defaultsectiontitle" class="blue-divider">Default Section Title</h4>
                {{/if}}
            {{/if}}

            <div class="toc-info">
                <h2 class="title">{{{title}}}</h2>
                <h6 class="desc">{{>AuthorsList}}</h6>

                <!-- Desc Info -->
                {{#with ids}}{{#if doi}}<span class="meta"><a href="{{doi}}">{{prettyDoi doi}}</a></span>{{/if}}{{/with}}
                {{#if page_start}}<span class="meta">pp {{page_start}}{{#if page_end}}-{{page_end}}{{/if}}</span>{{/if}}

                <!-- Links -->
                <br />
                {{>ArticleButtons _id=_id abstract=abstract files=files}}
            </div>
        {{/each}}
    {{else}}
        {{>Loading}}
    {{/if}}
</template>