<template name="Issue">
    {{> SubscribeModal}}

    <div class="row">
        <div class="page-content col s12 m12 l8">

            {{#if issueParams}}
            {{#if issueMeta}}
            {{else}}
            {{#with issueParams}}
            <div class="toc-title">
                <div class="cover-image">
                    <img src="{{coverPath}}">
                </div>
                <!-- Title Information -->
                <div class="page-title">
                    <span class="page-desc">Table of Contents</span>
                    <h1>Volume {{volume}}, Issue {{issue}}</h1>
                </div>
            </div>
            {{/with}}
            {{/if}}
            {{/if}}

            {{#with issueMeta}}
            <div class="toc-title">
                <div class="cover-image {{#if largeCover}}large-cover{{/if}}">
                    <img src="{{coverPath}}">
                </div>
                <!-- Title Information -->
                <div class="page-title">
                    <span class="page-desc">Table of Contents</span>
                    <h1>Volume {{volume}}, Issue {{issue}}</h1>

                    {{#if pub_date}}
                    <span class="issue-date">{{formatIssueDate pub_date date_settings}}</span>
                    {{/if}}

                    {{#with pages}}
                    <br />
                    <span class="issue-pages">{{>IssuePages}}</span>
                    {{/with}}
                    {{#if caption}}<div class="issue-caption"><h4 class="blue-divider">About the Cover</h4>{{{caption}}}</div>{{/if}}
                </div>
            </div>
            {{/with}}

            {{#if issueData}}
            {{#with issueData}}
            <!-- Main -->
            {{>ArticlesList}}
            {{/with}}
            {{else}}
            {{>Loading}}
            {{/if}}
        </div>

        <!-- Sidebar -->
        {{#with issueData}}
        <div class="page-sidebar col s12 m12 l4">
            <div class="issue-scroller">
                {{#with prevIssue}} <span class="prev issue-change"><a href="/issue/{{vi}}"><span class="icon icon-angle-left"></span> Prev {{param}}</a></span> {{/with}}
                <span class="current">Volume {{volume}}, Issue {{issue}}</span>
                {{#if nextIssue}}{{#with nextIssue}}  <span class="next issue-change"><a href="/issue/{{vi}}">Next <span class="icon icon-angle-right"></span></a></span> {{/with}}{{else}}<span class="next issue-change">&nbsp;</span>{{/if}}
            </div>
            {{> scrollspyCard title="Explore This Issue" items=items}}
        </div>
        {{/with}}
    </div>
</template>


<template name="ArticlesList">
    {{#if articles}}
        <div class="row">
            {{#each articles}}
                <!-- Section Heading -->
                {{#if start_group}}
                    {{#if article_type.name}}
                        {{#with article_type}}
                        <h4 id="{{#if pluralize}}{{convertToID plural}}{{else}}{{convertToID name}}{{/if}}" class="blue-divider">{{#if pluralize}}{{plural}}{{else}}{{name}}{{/if}}</h4>
                        {{/with}}
                    {{/if}}
                {{/if}}

                <div class="toc-info">
                    <h2 class="title">{{{title}}}</h2>
                    {{#if authors}} <h6 class="desc">{{>AuthorsList}}</h6> {{/if}}

                    <!-- Desc Info -->
                    {{#with ids}}{{#if doi}}<span class="meta"><a href="http://dx.doi.org/{{doi}}">{{prettyDoi doi}}</a></span>{{/if}}{{/with}}
                    {{#if page_start}}<span class="meta">{{>ArticlePages}}</span>{{/if}}

                    <!-- Links -->
                    {{>ArticleButtons _id=_id abstract=abstract files=files showCrawledText=showCrawledText}}
                </div>
            {{/each}}
        </div>
    {{else}}
        {{>Loading}}
    {{/if}}
</template>

<template name="IssuePages">
    pp {{start}}&mdash;{{end}}
</template>
