<template name="LeftNav">
	<ul class="nav-links">
		<li class="title">Navigate<span class="sidebar-toggle icon icon-close"></span></li>
		{{#each links}}
		{{#if display}}
        {{#if url}}
        <li><a href="{{url}}" target="_blank" class="full-width primary button">{{name}}</a></li>
        {{else}}
		<li><a href="{{pathFor route_name}}">{{name}}</a></li>
        {{/if}}
		{{/if}}
		{{/each}}
		<li><a href="http://eepurl.com/bmC9OL" target="_blank" class="full-width primary button toc-signup-button" >Sign Up for TOC Alerts</a></li>
	</ul>

</template>

<template name="MobileMenu">
	{{#each links}}
    	{{#if display}}
        {{#if url}}
    	<li><a href="{{url}}" class="valign-wrapper"><span class="valign">{{name}}</span></a></li>
        {{else}}
    	<li><a href="{{path}}" class="valign-wrapper"><span class="valign">{{name}}</span></a></li>
        {{/if}}
    	{{/if}}
	{{/each}}
	<div class="divider"></div>

	{{#if sectionsLinks}}
    	<li><h4>Sections</h4></li>
    	{{#each sectionsLinks}}
    	<li><a href="{{pathFor 'SectionPapers' _section_dash_name = dash_name}}">{{name}}</a></li>
    	{{/each}}
	{{/if}}

	<div class="divider"></div>

	<!--full text-->
	{{>ArticleSections}}
</template>
