<template name="LeftNav">
	<ul class="nav-links">
		<li class="title">
			Navigate
			<span class="sidebar-toggle icon icon-close"></span>
		</li>
    {{> loginButtons }}
		{{#each links}}
			{{#if display}}
            {{#if url}}
			<a href="{{url}}"><li>{{name}}</li></a>
            {{else}}
			<a href="{{pathFor route_name}}"><li>{{name}}</li></a>
            {{/if}}
			{{/if}}
		{{/each}}
	</ul>
</template>

<template name="MobileMenu">
	{{#each links}}
    	{{#if display}}
        {{#if url}}
    	<li><a href="{{url}}" class="valign-wrapper"><span class="valign">{{name}}</span></a></li>
        {{else}}
    	<li><a href="{{path}}" class="valign-wrapper"><span class="valign">{{name}}</span></a></li>
        {{/if}}
    	{{/if}}
	{{/each}}
	<div class="divider"></div>

	{{#if sectionsLinks}}
    	<li><h4>Sections</h4></li>
    	{{#each sectionsLinks}}
    	<li><a href="{{pathFor 'SectionPapers' _section_dash_name = dash_name}}">{{name}}</a></li>
    	{{/each}}
	{{/if}}

	<div class="divider"></div>

	<!--full text-->
	{{>ArticleSections}}
</template>
