<template name="Home">
    <div class="row">
        <div class="page-content col s12 m7 l8">

            <ul class="sectioned-list">
                <li class="has-icon submit-article button"><a href="{{submitLink}}" target="_blank" class="full-width primary button home-submission-button"><span class="icon icon-file"></span> Submit an Article</a></li>
                {{#each sections}}
                <li id="{{convertToID title}}">
                    <h2 class="heavy blue-accented">{{{title}}}</h2>
                    <p class="justify">{{{content}}}</p>
                </li>
                {{/each}}
            </ul>

            {{#if news}}
                {{> LatestNews}}
            {{/if}}

            <!-- {{> FeaturedNobelArticles}} -->
        </div>

        {{> MainSideBar}}
    </div>
</template>

<template name="MainSideBar">
    <div class="page-sidebar col s12 m5 l4">
        {{#with latestIssue}}
            {{> HomePageLatestIssue}}
        {{/with}}

        {{> FeaturedInterviewSidebar}}

        {{> FeaturedNobelArticlesSidebar}}
    </div>
</template>

<template name="HomePageEditorList">
    <div class="card sidebar-card">
        <h6 class="card-title">Editors-in-Chief</h6>
        <ul class="editors">
            {{#each eic}}
            <li><a href="#{{name_last}}{{name_first}}" class="modal-trigger"><strong>{{>PersonName}}</strong><br /> {{{address}}}</a></li>
            {{#if bio}}
              {{> bioModal bio=bio firstName=name_first lastName=name_last}}
            {{/if}}
            {{/each}}
            <li><a href="{{pathFor 'EdBoard'}}" class="accent">See All Editors</a></li>
        </ul>
    </div>
</template>

<template name="HomePageLatestIssue">
    <div class="issue-highlight clean card">
        <a href="/issue/v{{volume}}i{{issue}}"><img src="https://s3-us-west-1.amazonaws.com/paperchase-aging/covers/{{cover}}" class="cover"></a>

        <ul class="button-list">
            <li class="title">Latest Issue</li>
            <li class="subtitle">Volume {{volume}}, Issue {{issue}}</li>
            <li><a href="/issue/v{{volume}}i{{issue}}">Table of Contents <span class="icon icon-angle-right"></span></a></li>
        </ul>
    </div>
</template>

<template name="IndexedBy">
    <ul class="indexed-by">
        <li class="title">Indexed By</li>
        <li class="pubmed">
            <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=%22aging%20(albany%20ny)%22%20%5Bta%5D" class="tooltip--triangle pubmed small" data-tooltip="Indexed as: Aging (Albany NY)" target="_blank">
            <img src="/images/pubmed.png"> <!-- PubMed / Medline --></a>
        </li>

        <li class="pmc">
            <a href="http://www.ncbi.nlm.nih.gov/pmc/journals/1105/" class="tooltip--triangle small" data-tooltip="Indexed as: Aging (Albany NY)" target="_blank">
            <img src="/images/pmc4.png"> <!-- PubMed Central  --></a>
        </li>

        <li class="thomson">
            <a href="http://isiwebofknowledge.com/" class="tooltip--triangle small" data-tooltip="Indexed as: Aging-US" target="_blank">
            <img src="/images/thomson.png"> <!-- ISI/Thomson --></a>
        </li>

        <li class="scopus">
            <a href="http://www.info.sciverse.com/scopus/" class="tooltip--triangle small" data-tooltip="Indexed as: Aging" target="_blank">
            <img src="/images/scopus3.png"> <!-- Scopus --></a>
        </li>
    </ul>
</template>

<template name="LatestNews">
    <h3 class="section-heading new-section">Latest News</h3>
    <ul class="divided-list">
        {{#each news}}
            <li class="item">
                <p>
                    {{#if date_display}}<b>{{formatDate date}}</b>{{/if}}

                    {{#if conference}}
                        {{#if conference_date_start}}
                        <b>{{formatDateSpan conference_date_start conference_date_end}}:</b>
                        {{/if}}
                    {{/if}}

                    {{#if title}}{{title}}. {{/if}}
                    {{{content}}}
                </p>
            </li>
        {{/each}}
    </ul>
</template>

<!-- <template name="FeaturedNobelArticles">
    <h3 class="section-heading new-section">Featured Nobel Articles</h3>
    <ul class="divided-list">
        <li class="item">
            <p>Andrew V. Schally, Nobel Prize Laureate, published his paper in Aging.</p>
        </li>

        <li class="item">
            <p>Elizabeth Blackburn, a member of the Editorial Board of AGING, won the Nobel Prize in Physiology or Medicine 2009. Elizabeth Blackburn co-authored a paper published in the first (inaugural) issue of AGING.</p>
        </li>

        <li class="item">
            <p>Shinya Yamanaka won the Nobel Prize in Physiology and Medicine 2012. Shinya Yamanaka co-authored paper published in AGING.</p>
        </li>
    </ul>
</template> -->

<template name="SocialLinks">
        {{#each social}}
            <li class="social-links"><a href="{{url}}" target="_BLANK"><i class="fi-{{foundation_icon}}"></i></a></li>
        {{/each}}
</template>

<template name="FeaturedNobelArticlesSidebar">
    <div class="card sidebar-card featured-nobel">
        <h6 class="card-title">Featured Nobel Articles</h6>
        <ul class="featured-items">
            <li><a href="http://www.nobelprize.org/nobel_prizes/medicine/laureates/2009/blackburn-facts.html">Elizabeth Blackburn</a>, a member of the Editorial Board of Aging, won the Nobel Prize in Physiology or Medicine 2009, while being a member of the board. Elizabeth Blackburn co-authored a <a href="article/ECefxfZbM6tNyeqRh">paper</a> published in the first (inaugural) issue of Aging.</li>

            <li><a href="http://www.nobelprize.org/nobel_prizes/medicine/laureates/1977/schally-facts.html" target="_blank">Andrew V. Schally</a>,  Nobel Prize Laureate, published his <a href="/article/CanAfy9i6mBCfbE4H">paper</a> in Aging.</li>

            <li><a href="http://www.nobelprize.org/nobel_prizes/medicine/laureates/2012/yamanaka.html" target="_blank">Shinya Yamanaka</a> won the Nobel Prize in Physiology and Medicine 2012. Shinya Yamanaka co-authored a <a href="article/djTrvzxXyJB8pzPfj">paper</a> published in Aging.</li>
        </ul>
    </div>
</template>

<template name="FeaturedInterviewSidebar">
    {{#with interview}}
    <div class="card sidebar-card featured-nobel">
        <h6 class="card-title"><a href="/interviews">Interviews with outstanding authors</a></h6>
        <span>{{title}}</span>
        {{{removeLink content}}}
    </div>
    {{/with}}
</template>


<template name="LatestNewsSidebar">
    <div class="card sidebar-card">
        <h6 class="card-title">Latest News</h6>
        <ul class="news-items">
            {{#each news}}
            <li>
                <span class="title">2016 Conference: Biomedical Innovation in Healthy Longevity</span>
                <span class="date">December 3, 2015</span>
            </li>
            {{/each}}
        </ul>
    </div>
</template>
