<template name="PersonName">
    {{name_first}}{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}
</template>


<!-- todo: set this up as a reusable template that can take an array of anchors? -->
<template name="scrollspyCard">
   <div class="card sidebar-card fixed-scroll-card">
        <h6 class="card-title">{{title}}</h6>
        <ul class="scrollspy toc">
            {{> scrollspyItems}}
        </ul>
    </div>
</template>

<template name="staticscrollCard">
   <div class="card sidebar-card">
        <h6 class="card-title">{{title}}</h6>
        <ul class="scrollspy toc">
            {{> scrollspyItems}}
        </ul>
    </div>
</template>

<template name="scrollspyItems">
    {{#if abstract}}
        <li><a class="anchor" href="#abstract">Abstract</a></li>
    {{/if}}

    {{#each items}}
        {{#if headerLevel}}
            <!-- for article pages -->
            {{#if equals headerLevel 1}}
            <li><a class="anchor" href="#{{convertToID title}}">{{titleCase title}}</a></li>
            {{/if}}
        {{else}}
            <!-- for non-article pages -->
            <li><a class="anchor" href="#{{convertToID title}}">{{titleCase title}}</a></li>
        {{/if}}
    {{/each}}

    {{#if references}}
        <li><a class="anchor" href="#references">References</a></li>
    {{/if}}
</template>