<template name="PersonName">
	{{name_first}}{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}
</template>


<!-- todo: set this up as a reusable template that can take an array of anchors? -->
<template name="scrollspyCard">
   <div class="card sidebar-card fixed-scroll-card">
        <h6 class="card-title">{{title}}</h6>
        <ul class="scrollspy toc">
            {{> scrollspyItems}}
        </ul>
    </div>
</template>

<template name="staticscrollCard">
   <div class="card sidebar-card">
        <h6 class="card-title">{{title}}</h6>
        <ul class="scrollspy toc">
            {{> scrollspyItems}}
        </ul>
    </div>
</template>

<template name="scrollspyItems">
    {{#each items}}
        {{#if topSection headerLevel}}
            <a class="anchor" href="#{{titleCase title}}"><li>{{titleCase title}}</li></a>
        {{/if}}
    {{/each}}
</template>