<template name="Recommend">
<div class="row">
	<div class="col s12">
		<div class="row">
			<div class="col s12">
				<h1><i>Aging</i> Subscription</h1>
				<h2>For Your Institution</h2>
				<h4>We will contact your institution's librarian about subscribing to <i>Aging</i>.</h4>
			</div>
		</div>

		<form>
			<div class="row">
				<div class="input-field col s12">
					<h5>Your Information</h5>
				</div>
				<div class="input-field col s6">
					<input id="name_first_input" type="text" class="validate" value="{{user.name_first}}">
					<label for="name_first_input" class="{{#if user.name_first}}active{{/if}}">First Name</label>
				</div>
				<div class="input-field col s6">
					<input id="name_last_input" type="text" class="validate" value="{{user.name_last}}">
					<label for="name_last_input" class="{{#if user.name_last}}active{{/if}}">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="email_input" type="email" class="validate" value="{{user.emails.[0].address}}">
					<label for="email_input" class="{{#if user.emails}}active{{/if}}">Your Email</label>
				</div>
				<div class="input-field col s6">
					<input id="position_input" type="text" class="validate">
					<label for="position_input">Position</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<h5>Institution Information</h5>
				</div>
				<div class="input-field col s6">
					<input id="institution_input" type="text" class="validate">
					<label for="institution_input">Institution</label>
				</div>
				<div class="input-field col s6">
					<input id="lib_email_input" type="email" class="validate">
					<label for="lib_email_input" class="{{#if user.emails}}active{{/if}}">Librarian Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<h5>Please check all reasons for recommending <i>Aging</i></h5>
					<p>
						<input type="checkbox" class="checkbox-recommend filled-in" id="recommend_reference"/>
						<label for="recommend_reference">Reference</label>
					</p>
					<p>
						<input type="checkbox" class="checkbox-recommend filled-in" id="recommend_student"/>
						<label for="recommend_student">Student Reference</label>
					</p>
					<p>
						<input type="checkbox" class="checkbox-recommend filled-in" id="recommend_benefit"/>
						<label for="recommend_benefit">Benefit library's collection</label>
					</p>
					<p>
						<input type="checkbox" class="checkbox-recommend filled-in" id="recommend_affiliation"/>
						<label for="recommend_affiliation">Affiliation</label>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<h5>Include a message about your recommendation</h5>
				</div>
				<div class="input-field col s12">
					<textarea id="message_input" class="materialize-textarea"></textarea>
					<label for="message_input">Recommendation</label>
				</div>
			</div>
			{{>ErrorMessages}}
			<div class="row save-btn">
				<div class="input-field col s12 center-align">
					<input type="hidden" id="user_id" value="{{user._id}}">
					<button class="submit btn waves-effect waves-light green" type="submit" name="action" alt="Send Recommendation">Send</button>
				</div>
			</div>
			{{>Sending}}
			{{>SendingSuccessMessage what='Recommendation'}}
		</form>
	</div>
</div>
</template>
