<template name="Search">
	<div class="row">

        <div class="search page-content col s12 m8">

    		{{#if searchLoaded}}
            <h4 class="blue-divider">Search Results</h4>

    	 	<p class="lighten" style=""><i>{{queryResults.length}} results found</i></p>

            {{#if queryResults}}
            <ul class="divided-list">
                {{#each queryResults}}
                <li class="item search-item toc-info">
                    <h2 class="title"><a href="{{url}}">{{{title}}}</a></h2>
                    <h6 class="desc">Published in <em>{{index}}</em></h6>
                    <h6 class="desc">{{authors}}</h6>
					<h5 class="article-header">
						{{>ArticleHeaderPieces}}
					</h5>

                    {{#if abstract}}
					<div class="abstract article-text">
						{{{wrapInParagraphTag abstract}}}
					</div>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{else}}
                <div class="row no-margin">
                    <div class="col s12">
                        <div class="result-box" style="margin-bottom:40px;">
                            <h5>There are no results for these search terms.</h5>
                            <p>For assistance finding a paper that was published in Aging, please contact <a href="mailto:krasnova@impactaging.com">krasnova@impactaging.com</a> </p>
                        </div>
                    </div>
                </div>
            {{/if}}


            {{else}}
                {{#if searchLoading}}
                    {{>Loading}}
                {{else}}
                <h4 class="blue-divider">Search</h4>
                    <p>To search the journal, enter a term in the search bar. If you'd like to find specific authors, titles, or abstracts, use the advanced search to the right. </p>
                {{/if}}
    		{{/if}}
        </div>

        <div class="page-sidebar col s12 m4 hide-on-med-and-down">
            {{> AdvancedSearch mobile=false}}
        </div>
	 </div>

</template>

<template name="AdvancedSearch">
    <div class="card sidebar-card {{#unless mobile}}fixed-scroll-card{{/unless}}">
        <div class="form-container">
            <h6 class="card-title">Advanced Search</h6>
            <form id="search-terms" action="#">
                <input placeholder="title" type="text" name="title">
                <input placeholder="abstract" type="text" name="abstract" value="{{terms}}">
                <input placeholder="authors" type="text" name="authors">
                <input placeholder="keywords" type="text" name="keywords">
                <div class="input-field">
                <input type="checkbox" name="impactSearch" id="impactSearchCheck"/>
                <label for="impactSearchCheck">Search all Impact publications</label>
                </div>
                <br>
                
                <button class="full-width teal button">Search</button>
            </form>
        </div>
    </div>
</template>
