<template name="Search">
    <div class="row " style="margin-top:40px;">
        <div class="col s10">
            <input type="text" class="search-terms" placeholder="Enter search terms" value="">
        </div>
        <div class="col s1">
            <button type="submit" class="waves-effect waves-light btn">Search</button>
        </div>
    </div>
    {{#if searchResults.count}}
    <p class="lighten" style=""><i>{{searchResults.count}} results found</i></p>
    {{#each searchResults}}
    <div class="row no-margin">
        <div class="col s12">
            <div class="result-box" style="margin-bottom:40px;">
                <h5><a href="/article/{{_id}}">{{{title}}}</a></h5>
                <p>{{#if issue_id}}<a href="/issue/v{{volume}}i{{issue}}">Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</a>{{/if}}</p>

                {{#each authors}}
                <span class="author">
                    {{name_first}}
                    {{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}
                    <span class="comma">, </span>
                </span>
                {{/each}}

                <p>{{{abstract}}}</p>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    {{#if searchValue}}
    <div class="row no-margin">
        <div class="col s12">
            <div class="result-box" style="margin-bottom:40px;">
                <h5>There are no results for these search terms.</h5> 
                <p>For assistance finding a paper that was published in Aging, please contact <a href="mailto:krasnova@impactaging.com">krasnova@impactaging.com</a> </p>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}
</template>
