<template name="SubscribeModal">
<!-- Modal Structure -->
<div id="subscribe-modal" class="modal">
    <div class="modal-content">
        <h4>You do not have access to this article.</h4>
        <h6>Here are three ways to gain access to this article:</h6>

        <p><a class="btn modal-action modal-close waves-effect" href="/recommend">Recommend Aging to your Librarian</a></p>
        <p><a class="btn modal-action modal-close waves-effect" href="/subscribe">Subscribe to Aging as an individual</a></p>
        <p><a class="btn modal-action modal-close waves-effect" href="/purchase-article">Purchase per-article access to this paper</a></p>

    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close this dialog</a>
    </div>
</div>
</template>
