<template name="TopArticles">
    <div class="row">
        <div class="page-content col s12 m7 l8">
            <h1>Top {{altmetricTopCount}} {{journal}} Publications in the Media</h1>

            <p>Our brand new Altmetric article reports offer instant and real-time feedback that demonstrate the online engagement relating to any given piece of research. Collection of the data and real-time updating of the reports beings as soon as the article is published, <i>often long before traditional citations begin to accrue</i>.</p>

            <p>As an academic, practitioner or a member of the general public you can sign up to receive email notifications when a publication receives attention - this can help you effectively manage the reputation of your research, build a stronger case or consensus and to find future supporters, funders and collaborators. You can also use it to add evidence of influence to your academic profile, NIH Biosketch or CV.</p>

            <p>All reports contain an "at a glance" summary to help assess and compare levels of awareness from different platforms and groups. Demographic and geographic details show who and where your article is receiving attention from, and the full text of all mentions can be viewed via the individual tabs. These insights enable you build effective strategies for your research, societal engagement, influence and broader impacts.</p>

            <p>Whether you are a doctor trying to stay current on your area of expertise, an author trying to publish their first paper, or a seasoned researcher trying to find information for your next big discovery - our new Altmetric article reports will help you make data driven decisions from the moment you are published. <a href="https://www.altmetric.com/about-our-data/the-donut-and-score/" target="_BLANK">www.altmetric.com</a></p>

            <h3>Please Click on the Publication Title to View Full-text HTML or the Altmetric Badge to View the Article Report.</h3>

            <ul id="altmetric-top">
                {{#each altmetricTop}}
                <li>
                    <p class="valign-wrapper">
                        {{#if altmetricReady}}
                        {{>AltmetricBadgeWithReport ids=ids}}
                        {{else}}
                        {{>AltmetricBadge altmetric=.}}
                        {{/if}}

                        {{#if mongoId}}
                        <a href="{{pathFor 'ArticleText' _id=mongoId}}" class="valign altmetric-title-link">{{{title}}}</a>
                        {{else}}
                        <a href="{{altmetricDetailsLink}}{{altmetric_id}}" class="valign altmetric-title-link" target="_BLANK">{{{title}}}</a>
                        {{/if}}
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>
        {{> MainSideBar}}
    </div>
</template>
