<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>Aging</title>
<link href='//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<template name="Visitor">
    <div class="navbar-fixed" style="margin-bottom:6px;">
        <nav class="journal-nav z-depth-0" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="{{bannerLogo}}"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="http://www.impactaging.com/contact.html">Submit an Article</a></li>
                    <li>{{> loginButtons}}</li>
                    <li><a href="/search"><i class="material-icons">search</i></a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <div class="container ">
        <div class="row white z-depth-2" style="margin-bottom:0px;">
            <div class="col s12">
                {{>yield}}
            </div>
        </div>
    </div>

    {{>footer}}
</template>

<template name="footer">
    <footer class="footer ">
        <section class="container z-depth-2">
            <div class="row z-depth-2">
                <div class="col s12 blue-grey darken-3">
                    <p class="white-text center-align">Copyright © 2015 Impact Journals • Online ISSN: 1945-4589</p>
                </div>
            </div>
        </section>
    </footer>
</template>

<template name="IP address">
    <div class="ip-alert right-align">
        <div class="container">
            <p>You are viewing Aging from this IP address: {{clientIP}}</p>
            {{#if isSubscribedIP}}
            <p>You are subcribed at this institution: {{getInstitutionByIP.institution}}</p>
            {{/if}}
        </div>
    </div>
</template>

