<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Aging</title>
<link href='//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>

<template name="Visitor">

<div class="navbar-fixed" style="margin-bottom:6px;">
    <nav class="aging-nav z-depth-0" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="/images/aging-logo.png"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/editorial-board">Editorial Board</a></li>
                <li><a href="/advance">Advance Online</a></li>
                <li><a href="/issue/v7i7">Current Issue</a></li>
                <li><a href="/archive">Archive</a></li>
                <!--    <li><a href="/recent-breakthroughs">Recent Breakthroughs</a></li>
            <li><a href="/for-authors">For Authors</a></li>
            <li><a href="/about">About the Journal</a></li>
            <li><a href="/editorial-board">Editorial Board</a></li>
            <li><a href="/contact">Contact</a></li>
            -->
                <li>{{> loginButtons}}</li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

{{>yield}}
{{>footer}}
</template>

<template name="footer">
    <footer class="footer ">
        <section class="container z-depth-2">
            <div class="row z-depth-2">
                <div class="col s12 black">
                    <p class="white-text center-align">Copyright © 2015 Impact Journals</p>
                </div>
            </div>
        </section>
    </footer>
</template>

<template name="IP address">
<div class="ip-alert right-align">
    <div class="container">
        <p>You are viewing Aging from this IP address: {{clientIP}}</p>
        {{#if isSubscribedIP}}
        <p>You are subcribed at this institution: {{getInstitutionByIP.institution}}</p>
        {{/if}}        
    </div>
</div>
</template>

