/**
 * Home Page
 *
 * Styles for the various versions of
 * home page(s) that can be toggled from
 * the admin panel.
 */

/** Small Home Hero
 ---------------------------------------------------------*/
.home-hero {
    @include clearfix;
    background-image: url('/images/bg-base.jpg');
    background-size: cover;
    // box-shadow: inset 0 0 0 1000px rgba(0, 102, 163, .82);
    box-shadow: inset 0 0 0 1000px rgba(0, 148, 206, .82);
    // box-shadow: inset 0 0 0 1000px rgba(0, 156, 159, .82);
    padding: 90px 0 70px;

    /**
     * Headline Text
     */

    h1.head, h2.subhead {
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 1.2;
    }

    h1.head {
        margin-bottom: 20px;
        span {
            line-height: 1.75;
            padding: 5px 0;
            background: darken($accent, 2%);
            box-shadow: 15px 0 0px 0px darken($accent, 2%), -15px 0 0px 0px darken($accent, 2%);
        }
    }

    h2.subhead { line-height: 1.3; }


    /**
     * Media Queries
     */

    @include at-query($min, $large) {
        h1.head { font-size: 36px; }
        h2.subhead { font-size: 18px; }
    }

    @include at-query($min, $wide) {
        h1.head { font-size: 42px; }
    }
}

/** Featured New Item
 ---------------------------------------------------------*/
.featured-news-item {
    @include clearfix;
    background-color: rgba(4, 13, 23,1);
    background-image: url('/images/static-bg.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(4, 13, 23, .51);
    padding: 110px 0;
    margin-bottom: 75px;


    /**
     * Headline Text
     */

    h1.head, h2.subhead {
        color: #fff;
        margin: 0;
        padding: 0;
    }

    h1.head {
        margin-bottom: 15px;
    }

    h2.subhead {
        line-height: 1.3;
    }

    .news-info {
        text-align: center;
    }


    /**
     * Buttons
     */

    .news-info .minimal.button {
        margin-top: 35px;
        border-color: rgba(249, 249, 249, .39);
        color: #fff;
        padding: 20px 34px 19px;
    }

    /**
     * Media Queries
     */

    @include at-query($min, $large) {
        h1.head { font-size: 42px; }
        h2.subhead { font-size: 21px; }
    }

    @include at-query($min, $wide) {
        h1.head { font-size: 46px; }
    }
}

/** About the Journal
 ---------------------------------------------------------*/
.journal-topics {
    @include clearfix;
    @extend p;
    width: 48%;
    margin-right: 3%;
    float: left;
    &:nth-child(even) { margin-right: 0; }

    li {
        margin-bottom: 15px;
        border-bottom: 2px solid $electric;
        padding: 0 0 15px;
    }

    li > span.sub {
        display: block;
        font-weight: 300;
        opacity: .6;
        font-size: 14px;
    }
}

/** Featured Articles
 ---------------------------------------------------------*/

/** New Issue
---------------------------------------------------------*/
.issue-highlight {
    @include clearfix;

    img.cover {
        float: left;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 40%;
    }

    .button-list {
        float: left;
        margin-left: 25px;

        li { margin: 0; padding: 0; border: none; }
        li.title {
            margin-top: 15px;
            font-size: 20px;
        }

        li.subtitle {
            margin-bottom: 0;
            font-weight: 700;
        }

        li.title:hover, li.subtitle:hover {
            background: none;
            border: none;
        }

        li span.icon-angle-right {
            color: $cello;
            font-size: 10px;
            margin-left: 2px;
            position: relative;
            top: 0;
            bottom: 5px !important;
        }
    }
}

/** Featured Nobel Articles
---------------------------------------------------------*/
.featured-nobel {
    margin-top: 40px;
    p {
        text-align: justify;
    }
    ul.featured-items {
        li {
            text-align: justify;
        }
        li:hover {
            background: none;
            border-color: #fff;
        }

        li a {
            color: $link;
            display: inline;
            @include transition(color 0.25s ease-out);
            &:hover { color: lighten($link, 10%); }
        }
    }
}

/** Media Queries
---------------------------------------------------------*/
// MOBILE ONLY
@include at-query($max, $small) {

}

// MOBILE + TABLET ONLY
@include at-query($max, $medium) {

}

// Tablets
@include at-query($min, $small) {
    .issue-highlight {
        ul.button-list li.title { font-size: 15px; }
        ul.button-list li.subtitle { margin-bottom: 5px; }
    }
    .issue-highlight img.cover {
        width: 40%;
    }
}

// Medium Screens (+ 970px)
@include at-query($min, $medium) {
    .issue-highlight {
        ul.button-list li.subtitle { margin-bottom: 0; }
    }
    .issue-highlight img.cover {
        width: 25%;
    }
}

// Large Screens (+ 1170px)
@include at-query($min, $large) {
    .issue-highlight {
        ul.button-list li.title { font-size: 17px; }
    }
    .issue-highlight img.cover {
        width: 28%;
    }
}

@include at-query($min, 1300px) {
    .issue-highlight {
        ul.button-list li.title { font-size: 20px; }
        ul.button-list li.subtitle { margin-bottom: 15px; }
    }
    .issue-highlight img.cover {
        width: 38%;
    }
}
