/**
 * Home Page
 *
 * Styles for the various versions of
 * home page(s) that can be toggled from
 * the admin panel.
 */

/** Featured New Item
 ---------------------------------------------------------*/
.featured-news-item {
    @include clearfix;
    background-color: rgba(4, 13, 23,1);
    background-image: url('/images/static-bg.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(4, 13, 23, .51);
    padding: 110px 0;
    margin-bottom: 75px;


    /**
     * Headline Text
     */

    h1.head, h2.subhead {
        color: #fff;
        margin: 0;
        padding: 0;
    }

    h1.head {
        margin-bottom: 15px;
    }

    h2.subhead {
        line-height: 1.3;
    }


    /**
     * Grid Setup
     */

    .news-text {
        @include span(16);
    }

    .news-info {
        @include span(16);
        text-align: center;
    }


    /**
     * Buttons
     */

    .news-info .minimal.button {
        margin-top: 35px;
        border-color: rgba(249, 249, 249, .39);
        color: #fff;
        padding: 20px 34px 19px;
    }

    /**
     * Media Queries
     */

    @include at-query($min, $medium) {
        .news-text {
            @include span(10);
            padding-right: 30px;
        }

        .news-info {
            @include span(6);
        }
    }

    @include at-query($min, $large) {
        .news-text { @include span(11); }
        .news-info { @include span(5); }

        h1.head { font-size: 42px; }
        h2.subhead { font-size: 21px; }
    }

    @include at-query($min, $wide) {
        .news-text { @include span(12); }
        .news-info { @include span(4); }

        h1.head { font-size: 46px; }
    }
}

/** Featured Articles
 ---------------------------------------------------------*/

/** New Issue
---------------------------------------------------------*/