/**
 * Layout
 *
 * Navigation, sidebar and other
 * repeating page elements.
 */


/** Base Layout
 ---------------------------------------------------------*/
// Default Grid
.sidebar {
    width: 100%;
    height: 100%;
    display: block;
    @include transition(0.25s ease-out);

    left: -$sidebar-wide-width;
    width: 0;
    overflow: hidden;

    @include at-query($min, $small) {
        left: 0;
        width: $sidebar-medium-width;
        overflow: auto;
    }

    @include at-query($min, $medium) {
        width: $sidebar-medium-width;
    }

    @include at-query($min, $large) {
        width: $sidebar-wide-width;
    }
}

/**
 * Hidden Sidebar
 */
.sidebar.hidden {
    left: -$sidebar-wide-width;
    width: 0;
    overflow: hidden;
}

.sidebar.mobile-show {
    left: 0;
    width: 100%;
    overflow: auto;
}

footer {
    padding: 40px 0 50px;
    @include clearfix;

    span {
        opacity: .5;
        font-size: 14px;
    }
}

.footer {
    @include clearfix;
}


/** Main Container
 ---------------------------------------------------------*/
/**
 * Basic grid for when you need
 * to override .content-yield.
 */

.grid {
    @include clearfix;
    padding: 0 $container-padding;
    z-index: -1;

    &.wide { padding: 0; }
    &.push { margin-top: 50px; }
}

/**
 * Default page setup
 */

.main {
    padding-top: $navbar-height;
    min-height: calc(100vh - $navbar-height);
}

.main .content {
    min-height: calc(100vh - $navbar-height);
}


/**
 * Content w/ Sidebar
 */
.main .content-yield {
    @include clearfix;
    z-index: -1;
    padding: 30px 10px 15px;


    @include at-query($min, $medium) {
        padding-top: $navbar-height  + $sub-navbar-height;
        @include padding-horiz($container-padding);
    }

    &.home {
        padding-top: $sub-navbar-height + 8;
        @include padding-horiz(0);
    }
}


/**
 * Content w/ No Sidebar
 */
.content.no-sidebar {
    margin-left: 0;
    .sub-nav { left: 0; }

    .content-yield {
        padding: 30px 10px 15px;
        @include at-query($min, $large) {
            padding-top: $navbar-height + $sub-navbar-height;
            @include padding-horiz($full-container-padding);
        }
    }
}

.nav-content,
.content {
    @include clearfix;
    @include transition(margin-left .25s ease-out);

    @include at-query($min, $medium) {
        margin-left: $sidebar-medium-width;
    }
    @include at-query($min, $large) {
        margin-left: $sidebar-wide-width;
    }
}

/** Content Bars
 ---------------------------------------------------------*/
.bar {
    width: 100%;
    padding: 5px 45px 2px;
    @include clearfix;

    &.flex {
        ul { display: flex; }
        justify-content: space-between;
        align-items: center;
    }

    &.gray-bar { background: #eee; }
    &.white-bar { @extend .faint-shadow; }
}

.bar {
    ul li {  display: inline; }
    ul li img { width: 100%; max-width: 100%; }

    // flex defaults
    &.flex {
        h6 { display: block; }
        ul li { width: 24%; }
    }

    ul.indexed-by {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-bottom: 12px;

        li {
            padding-right: 55px;
            text-align: center;
            &.title { text-align: left; }
            &:last-child { padding-right: 0; }
        }

        li.title { width: 16%; }
        li.pubmed { width: 17%; }
        li.pmc { width: 24%; }
        li.thomson { width: 32%; }
        li.scopus { width: 11%; }

        li.title {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

/** Media Queries
---------------------------------------------------------*/
// MOBILE ONLY
@include at-query($max, $medium) {
    ul.nav-links { margin-top: 20px !important; }
    ul.nav-links li.title { display: none; }
    .search-box { display: none; }
}
