/**
 * Navigation
 *
 * Top bar navigation, sub-navigation,
 * breadcrumbs, and left navigation. Fixed
 * elements and secondary color schemes.
 */


/** Navigation and Sidebar | Base
 ---------------------------------------------------------*/
.navigation {
    position: fixed;
    height: $navbar-height;
    background-color: $nav-color;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    background-color: $sidebar-color;
    font-size: 17px;

    &.secondary {
        background-color: $lightgray;
    }
    .nav-submit-button{
        text-align: left;
    }
}

/**
 * Z-Indexes for Interacting Elements
 */

.sidebar { z-index: 7; }
.navigation { z-index: 8; }
.sub-nav { z-index: 6; }


/** Navigation | Sub Nav w/ Transparent Background
 ---------------------------------------------------------*/
.sub-nav.transparent {
    position: absolute;
    box-shadow: none;
    background: transparent;
    border: none;
    padding-left: 0;

    .sidebar-toggle {
        color: #fff;
        background: transparent;
        margin-right: 15px;
    }

    .breadcrumbs ul { display: none; }
    .issn span.meta { color: rgba(255,255,255,1); }
}

/** Navigation | Top Nav
 ---------------------------------------------------------*/
.nav-sidebar {
    float: left;
    padding: 15px 0 0 15px;
    .logo { height: 48px; }
    .journal-name-extra {
        font-size: 11px;
        line-height: 65px;
        padding-left: 10px;
    }
}

.nav-content {
    height: $navbar-height;
    background-color: $nav-color;
    padding: 0;
    display: flex;
    align-items: center;

    ul {
        display: none;
        margin: 0;
        padding: 0;
        float: right;
        list-style-type: none;
    }

    ul li {
        position: relative;
        display: inline-block;
        padding: 0 10px 5px;
        margin: 0;
        font-size: 16px;
        color: #fff;

        a { color: #fff; }
        &:first-child { border: none; }
    }

    ul li.button {
        &.has-icon { padding: 11px 19px 11px 15px; }

        a {
            background: none;
            color: #fff;
            padding: 11px 19px;
            @include border-radius(2px);
            border: 2px solid #fff;
            @include transition(background 0.25s ease-out, color 0.25s ease-out);
        }

        span.icon {
            font-size: 20px;
            position: relative;
            color: inherit;
            right: 3px;
            top: 3px;
        }

        a:hover {
            background: darken($electric, 15%);
            color: #fff;
        }

        a:active {
            position: relative;
            top: 1px;
        }
    }

    .issn {
        font-size: 13px;
        position: absolute;
        top: 10px;
        right: 35px;
        color: #fff;
    }

    span.icon-search {
        cursor: pointer;
        float: right;
        position: relative;
        right: 8px;
        top: 13px;
        color: #fff;
        font-size: 22px;
    }

    .sidebar-toggle-mobile {
        display: block;
        opacity: 1;
        @include transition(opacity .25s ease-out);
        float: right;
        color: #fff;
        padding: 6px 0 6px 0;
        cursor:pointer;
        position: relative;

        &.icon {
            font-size: 36px;
        }
    }
}

.submit-article{
    @include get-bg-hover($accent, 3%);
    background-color: $accent!important;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}
.toc-signup-button{
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}
.top-submit-button{
    float: right;
    padding: 15px!important;
    top: -15px;
}


/** Navigation | Sub Nav
 ---------------------------------------------------------*/
.sub-nav {
    display: none;
    position: fixed;
    right: 0;
    left: $sidebar-wide-width;
    height: $sub-navbar-height + $sub-navbar-padding;
    @include padding-vertical(24px);
    @include padding-horiz(20px);
    border-bottom: $sub-navbar-padding solid #fff;
    @extend .faint-shadow;
    background: #fff;
    @include transition(left .25s ease-out);

    .sidebar-toggle {
        display: block;
        opacity: 1;
        @include transition(opacity .25s ease-out);
        float: left;
        color: $electric;
        padding: 6px 15px 6px 0;
        margin-right: 30px;
        cursor:pointer;

        position: relative;
        bottom: 4px;
        left: 8px;

        &.icon-menu {
            font-size: 24px;
            bottom: 8px;
            &:before {
                content: "\e900";
            }
        }
        &:hover { opacity: .5; }
    }

    /**
     * Open Sidebar
     */
    &.sidebar-open {
        padding-left: 25px;
        .sub-nav.sidebar-toggle {
            display: none;
            opacity: 0;
        }
    }
}

.sub-nav .breadcrumbs {
    font-size: 15px;

    a { color: $midgray; }

    ul {
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline;

        &:after {
            content: "\e902";
            font-family: 'icomoon';
            font-size: 0.65rem;
            margin: 0 10px 0 14px;
            opacity: .35;
            letter-spacing: 0.25px;
        }

        &:last-child {
            font-weight: 700;
            a { color: $electric; }
        }
        &:last-child:after {
            content: "";
        }
    }
}

.sub-nav .issn {
    span.meta {
        float: right;
        position: relative;
        top: 1px;
        color: lighten(#FFFFFF, 25%);
        @extend .uppercase-titles;
    }
}

/** Left Sidebar / Navigation
 ---------------------------------------------------------*/
.main .sidebar .search-box {
    position: relative;
    padding: 15px 70px 0 40px;

    span.icon {
        position: absolute;
        top: 30px;
        color: lighten(#3366A0, 45%);
    }

    input {
        padding-left: 30px;
        font-size: 17px;
        border-bottom: 2px solid #5C7DA2;
        color: #fff;

        &:focus { border-color: $teal; }
    }

    /**
     * Placeholders ----
     * These have to be separate because css
     * parser is broken for placeholder rules.
     */
    $placeholder-color: lighten(#FFFFFF, 30%);
    input::placeholder { color: $placeholder-color }
    input::-webkit-input-placeholder { color: $placeholder-color }
    input::-moz-placeholder { color: $placeholder-color }
}

.main .sidebar ul.nav-links {
    padding-top: 0;
    margin-top: 0;
    float: left;
    width: 100%;
    height: 100%;

    // li{
    //     float: left;
    //     width: 100%;
    // }

    li.nav-title {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        .title-content{
            border-bottom: 1px solid #eee;
        }
    }

    .sidebar-toggle {
        cursor: pointer;
        color: $electric;
        position: absolute;
        right: 20px;
        font-size: 18px;
        @include transition(color .25s ease-out);
        &:hover { color: $accent; }
    }

    li a,
    .nav-title .title-content,
    #login-buttons {
        width: 100%;
        float: left;
        position: relative;
        padding: 21px 25px 18px 40px;
        margin: 0;
    }

    li a,
    #login-buttons {
        color: #fff;
        @include transition(background .25s ease-out);
    }


    #login-buttons {
        width: 100%;
    }

    #login-buttons .login-link-and-dropdown-list {
        display: block;
    }

    #login-buttons a {
        display: block !important;
        width: 100%;
        height: 100%;
    }

    a:after {
        content: "\e902";
        font-family: 'icomoon';
        position: absolute;
        top: 22px;
        right: 15px;
        font-size: 0.9rem;
        color: $water;
        opacity: 0;
        @include transition(opacity .25s ease-out,
                            right .25s ease-out);
    }

    a:hover {
        background: lighten($sidebar-color, 3%);
        color: #fff;
    }

    a:hover:after {
        opacity: 1;
        right: 20px;
    }

    .button{
        -webkit-border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        border-radius: 0px!important;
    }
}


/** Left Sidebar / Secondary Colors
 ---------------------------------------------------------*/
$secondary-subnav-color: darken(#00387A, 1%);
.main .sidebar.secondary {
    background: #fff;
    ul.nav-links {
        a:not(.nav-submit-button) {
            color: $cello;
        }
        a:hover {
            background: $electric;
            color: #fff;
        }
        a:hover:after {
            color: #fff;
        }
    }

    .search-box {
        padding: 11px 70px 0 36px;
        height: $sub-navbar-height + 8;
        background: $secondary-subnav-color;

        span.icon-search {
            top: 26px;
        }
    }

    .search-box input {
        margin: 0;
        border: none;
        color: #fff;
        &::placeholder { color: #3366A0 }
        /*&::-webkit-&-placeholder { color: #3366A0 }*/
        input::-moz-placeholder { color: #3366A0 }
        &:focus { border-color: $teal; }
    }
}

.sub-nav.secondary {
    border-color: $secondary-subnav-color;
    background: $secondary-subnav-color;
    box-shadow: none;

    .sidebar-toggle { color: #fff; }

    ul li {
        display: inline;
        a { color: $water; }

        &:after {
            color: $water;
        }

        &:last-child {
            a { color: #fff; }
        }
    }
}

.sub-nav-shim {
    position: fixed;
    right: 0;
    left: 0;
    height: $sub-navbar-height + $sub-navbar-padding;
    border-bottom: $sub-navbar-padding solid #fff;
    background: $secondary-subnav-color;
    border-color: $secondary-subnav-color;
    z-index: -5; // behind everything
}

// Social Links
#top-social-links{
    display: block;
    height: 20px;
    // margin-right: 13px;
    position: absolute;
    right: 35px;
}
.social-links{
    font-size: 20px!important;
}
.mobile-social-links{
    width: 100%;
    float: left;
    display: none;
    .social-links{
        width: 19%!important;
        display: inline-block;
        a{
            text-align: left;
            padding-left: 0px!important;
            padding-right: 0px!important;
            &:hover{
                background: none!important;
                color: lighten($link, 10%)!important;
                &:after{
                    display:none;
                }
            }
            &:first-child{
                padding-left: 40px!important;
            }
        }
    }
}

/** Media Queries
---------------------------------------------------------*/
// MOBILE + TABLET ONLY
@include at-query($max, $medium) {
    .sub-nav-shim { display: none; }
    .sidebar-toggle{
        display: none;
    }
    .mobile-social-links{
        display: block;
    }

    .nav-content{
        display: block;
        padding: 11px 20px 0 20px;
    }
    #top-social-links{
        display: none!important;
    }
}

// Medium Screens (+ 970px)
@include at-query($min, $medium) {
    .nav-sidebar {
        width: 50%;
        padding: 15px 0 0 35px;
    }
    .nav-content .sidebar-toggle-mobile { display: none; }
    .nav-content ul { display: block; }

    .main .sidebar ul.nav-links {
        li.nav-title { font-size: 15px; }
        a { font-size: 15px; }
    }

    ul.nav-links #login-buttons {
        display: none;
    }

    .top-submit-button{
        padding: 10px!important;
        top: -10px;
    }

    /*
     * Sidebar Selective Styles
     */
    .sub-nav {
        display: block;
        left: $sidebar-medium-width;
        padding-left: 0;

        .sidebar-toggle {
            display: block;
            opacity: 1;
        }

        &.sidebar-open {
            padding-left: 25px;
            .sidebar-toggle {
                display: none;
                opacity: 0;
            }
        }
    }
}

// Large Screens (+ 1170px)
@include at-query($min, $large) {
    .sub-nav { left: $sidebar-wide-width; }
}
