/**
 * Typography
 *
 * All non-specific font declarations
 * and text styles.
 */


/** Document-Level
---------------------------------------------------------*/
body {
    color: $cello;
    background-color: $faintgray !important;
}

$paragraphFontSize: 13px;

html{
    font-size: $paragraphFontSize;
}

html, body {
    font-family: $futura;
    line-height: 1.35;
    letter-spacing: 0.15px;

  //  ???? not working, something is overriding rem
  // font-size: 17px;
  // font-size: 1rem;
}


/** Headings | Base
---------------------------------------------------------*/
 h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    color: $cello;

    &.accented {
        color: $accent;
    }
    &.blue-accented {
        color: $electric;
        background: none;
    }
    &.heavy {
        font-weight: 700;
    }
    &.caps {
        @extend .uppercase-titles;
    }
    &.clean {
        margin-top: 0 !important;
    }
}

/** Headings | Font Sizes
---------------------------------------------------------*/
h1, .h1 {
    font-size: 20px;
}
h2, .h2 {
    font-size: 18px;
    color: $kashmir;
}
h3, .h3 {
    font-size: 16px;
}
h4, .h4 {
    font-size: 14px;
}

h5, .h5, h6, .h6,
span.meta {
    font-size: 14px;
}

h1, .h1 {
    color: $midnight;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 0;
}

h3 {
    color: lighten($cello, 5%);
    font-weight: 700;
    margin-bottom: 0;
}
h3:not(#abstract) {
    + p {
        margin: 5px 0 33px;
    }
}

h4 {
    &.blue-divider {
        color: $electric;
        padding: 0 0 10px;
        margin: 40px 0 20px;
        border-bottom: 3px solid $electric;
    }

    &.accent-divider {
        color: $accent;
        padding: 0 0 10px;
        margin: 30px 0 20px;
        border-bottom: 3px solid $accent;
    }
}

h5, .h5, span.meta {
    color: $kashmir;
    &.reg {
        font-weight: 500;
    }
}

a {
    color: $link;
    @include transition(color 0.25s ease-out);

    &:hover {
        color: lighten($link, 10%);
    }
}

.small-font{
    font-size: small;
}


// Medium Screens (+ 970px)
@include at-query($min, $medium) {
    h1, .h1 {
        font-size: 22px;
    }
    h2, .h2 {
        font-size: 20px;
        // color: $kashmir; //redundant
    }
    // h3, .h3 {
    // redundant
    //     font-size: 20px;
    // }
    // h4, .h4 {
    // redundant
    //     font-size: 17px;
    // }

    // h5, .h5, h6, .h6,
    // redundant
    // span.meta {
    //     font-size: 14px;
    // }
}

// Large Screens (+ 1170px)
@include at-query($min, $large) {

}

/** Special Headings
---------------------------------------------------------*/
h3.section-heading {
    // font-size: 17px;
    padding: 0 0 10px;
    margin: 0 0 30px;
    font-weight: 700;
    position: relative;
    display: block;

    // short horizontal rule
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 72px;
        background: $accent;
        height: 3px;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    &.new-section {
      margin-top: 60px;
    }
}

h3.blue-background {
    background: lighten($electric, 5%);
    color: #fff;
    // font-size: 17px;
    padding: 8px 10px;
    @include border-radius(2px);
    margin: 40px 0 0;
    &:first-child {
        margin-top: 10px;
    }
}

h3.gray-background {
    // this appears to not be in use
    @extend h3.blue-background;
    background: $lightgray;
    color: $electric;
}

h5.supporting {
    position: relative;
    margin-bottom: 20px;
    left: 1px;
    line-height: 1.7;
}

/** Paragraphs
---------------------------------------------------------*/
p {
    font-size: $paragraphFontSize;
    line-height: 1.4;
    &.justify {
        text-align: justify;
    }
}

// // Tablets
// @include at-query($min, $small) {
//     p {
//         // font-size: 13px;
//     }
// }
//
// // Tablets
// @include at-query($min, $medium) {
//     p {
//         font-size: 13px;
//     }
// }

p.small-font{
    font-size: small;
}

// tiny
.tiny-font{
    font-size: 12px;
}
.super-tiny-font{
    font-size: 11px;
}

/** Buttons
---------------------------------------------------------*/
a.button,
button.button {
    position: relative;
    display: inline-block;
    padding: 20px 38px 19px;
    @include border-radius(2px);
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    @extend .uppercase-titles;
    letter-spacing: 0.58px;
    @include transition(background 0.25s ease-out);
    @include get-bg-hover($deepgray, 10%);

    span.icon {
        font-size: 25px;
    }

    &.full-width {
        display: block;
        width: 100%;
    }

    &:active {
        top: 1px;
    }

    /**
       * Colors
       */
    &.primary {
       @include get-bg-hover($accent, 3%);
    }
    &.secondary {
        @include get-bg-hover($electric, 7%);
    }
    &.teal {
        @include get-bg-hover($teal, 4%);
    }

    &.small {
        text-transform: none;
        font-weight: 500;
        margin: 0 5px 10px 0;
        padding: 7px 10px;
    }

    &.end-cap {
        padding: 20px 28px 19px 68px;

        span.icon {
            position: absolute;
            top: 0;
            left: 0;
            background: $darkaccent;
            @include transition(background 0.25s ease-out)
            padding: 15px 16px;
            border-top-left-radius: 2px;
        }

        &:hover span.icon {
            background: lighten($darkaccent, 2%);
        }
    }

    &.minimal {
        background: transparent;
        border: 2px solid $deepgray;
        color: $deepgray;
    }

    &.large {
        font-weight: 500;
        font-size: 21px;
        text-transform: none;
        letter-spacing: 0.15px;

        span.icon {
            font-size: 15px;
        }
        span.icon-angle-right {
            margin-left: 6px;
        }
        span.icon-angle-left {
            margin-right: 6px;
        }
    }
}

button.button {
    border: none;
}

/** Buttons | Toggles
---------------------------------------------------------*/
.button-toggle {
    border: 2px solid $faintgray;
    @include border-radius(2px);
    position: relative;
    margin-bottom: 20px;
    @include clearfix;
}

.button-toggle .button {
    @include border-radius(0);
    padding: 18px 15px 17px;
    margin-bottom: 0;
    width: 49.2%;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    background: $faintgray;
    color: $kashmir;

    &.active {
        font-weight: 700;
        background: transparent;
    }

    &:hover {
        background: $faintgray;
    }

    &:first-child {
        float: left;
    }
    &:last-child {
        float: right;
    }

    span {
        display: inline-block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 15px;
    }
}

/** Media Queries
---------------------------------------------------------*/
// Medium Screens (+ 970px)
@include at-query($min, $medium) {
    h5.supporting {
        line-height: 1.4;
    }
}

// Large Screens (+ 1170px)
@include at-query($min, $large) {

}
