<template name="AdminArticleFigures">
    {{>AdminHeader header="Article Figures"}}

    {{#if article}}

    {{>StatusModal}}

    {{#with article}}{{>AdminArticleHeader}}{{/with}}

    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Figure Uploader</span>
                    <div class="row" id="article-figure-request">
                        <div class="col s12">
                            <button class="btn btn-add btn-floating article-figure-add"><i class="material-icons">&#xE147;</i></button>
                        </div>
                    </div>
                    <div class="row hide" id="article-figure-uploader">
                        {{>AdminArticleFigureUploader uploadType='New' id='new'}}
                    </div>
                    {{#if files.figures}}
                    {{#each figures}}
                    {{#if editing}}
                    <div class="row">
                        {{>AdminArticleFigureUploader uploadType='Edit' id=id}}
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col s2 m4 right-align">
                            <h4>Fig. {{id}}</h4>
                        </div>
                        <div class="col s8 m4">
                            <img src="{{url}}" class="materialboxed admin-figure" alt="{{id}}" id="figure-{{id}}">
                        </div>
                        <div class="col s2 m4">
                            <button class="btn btn-edit btn-floating article-figure-edit" data-id="{{id}}"><i class="material-icons">&#xE150;</i></button>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <h4>No Figures</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{#if xmlFigures}}{{>AdminArticleFiguresXml}}{{/if}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>

<template name="AdminArticleFiguresXml">
    {{#with xmlFigures}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">XML Figures</span>
                    <ul class="figures-xml z-depth-0" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col s2"><b>ID</b></div>
                                    <div class="col s2"><b>Label</b></div>
                                    <div class="col s8"><b>Title</b></div>
                                </div>
                            </div>
                        </li>
                        {{#each xmlFigures}}
                        <li>
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col s2">{{id}}</div>
                                    <div class="col s2">{{label}}</div>
                                    <div class="col s8">{{title}}</div>
                                </div>
                            </div>
                            <div class="collapsible-body"><p>{{{caption}}}</p></div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>

<template name="AdminArticleFigureUploader">
    <div class="col s12">
        <div class="card z-depth-0 blue-grey lighten-5">
            <div class="card-content">
                <span class="card-title">{{uploadType}} Figure</span>
                <div class="row">
                    <div class="col s2 m4 right-align">
                        <input type="text" value="{{id}}" id="fig-input-{{id}}" class="right-align" />
                        <label for="fig-input-{{id}}">Figure ID</label>
                    </div>
                    <div class="col s8 m4">
                        {{>s3FigureUpload figId=id}}
                    </div>
                    <div class="col s2 m2">
                        <button class="btn btn-cancel btn-floating article-figure-cancel" data-id="{{id}}"><i class="material-icons">&#xE15D;</i></button>
                    </div>
                    {{#if equals uploadType 'Edit'}}
                    <div class="col s2 m2">
                        <button class="btn btn-delete btn-floating article-figure-delete right" data-id="{{id}}"><i class="material-icons">&#xE872;</i></button>
                    </div>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Figure id, label, title, and caption are taken from the XML. This uploader is solely to upload new figure files. ID is required only for file naming purposes. ID must match the figure ID in the XML.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>