<template name="AdminArticleFiles">
    {{>AdminHeader header="Article PDF and XML"}}
    {{>StatusModal}}
    {{#with article}}
    {{>AdminArticleHeader}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Files</span>
                    {{#with files}}
                    <div class="row">
                        <div class="col s12">
                            {{#if xml}}
                            <a class="btn" href="{{xml.url}}" target="_BLANK"><i class="material-icons">&#xE2C4;</i> XML</a>
                            {{/if}}
                            {{#if pdf}}
                            <a class="btn" href="{{pdf.url}}" target="_BLANK"><i class="material-icons">&#xE2C4;</i> PDF</a>
                            {{/if}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <form id="files-form">
                        <span class="card-title">File Settings</span>
                        <div class="row">
                            <div class="col s12 m6">
                                <fieldset>
                                    <legend>XML</legend>
                                    {{#with files}}
                                    {{#with xml}}
                                    {{#if url}}
                                    <input type="checkbox" id="display-xml" checked="{{checked display}}"/>
                                    <label for="display-xml">Display XML</label>
                                    {{else}}
                                    <h5>No XML</h5>
                                    {{/if}}
                                    {{/with}}
                                    {{else}}
                                    <h5>No XML</h5>
                                    {{/with}}
                                </fieldset>
                            </div>
                            <div class="col s12 m6">
                                <fieldset>
                                    <legend>PDF</legend>
                                    {{#with files}}
                                    {{#with pdf}}
                                    {{#if url}}
                                    <input type="checkbox" id="display-pdf" checked="{{checked display}}"/>
                                    <label for="display-pdf">Display PDF</label>
                                    {{else}}
                                    <h5>No PDF</h5>
                                    {{/if}}
                                    {{/with}}
                                    {{else}}
                                    <h5>No PDF</h5>
                                    {{/with}}
                                </fieldset>
                            </div>
                        </div>
                        {{#with files}}
                        {{#if showFilesButton xml pdf}}
                        <div class="row">
                            <div class="col s12 center-align">
                            {{>SaveBtn what="Settings"}}
                            </div>
                        </div>
                        {{/if}}
                        {{/with}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>

<template name="AdminArticleFilesUploader">
    {{>AdminHeader header="Article PDF and XML"}}
    {{>StatusModal}}
    {{#with article}}
    {{>AdminArticleHeader}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">XML &amp; PDF Uploader</div>
                    {{>s3Upload}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <div id="xml-verify"></div>
    {{#if verify}}
    {{>AdminArticleXmlVerify}}
    {{/if}}
</template>

<template name="AdminArticleXmlVerify">
    {{#if article.aop}}
    <div class="row">
        <div class="col s12">
            <h4>Verify AOP XML information below before saving to the database.</h4>
            <p>AOP files are not stored, they are only used to update the database.</p>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col s12">
            <h4>Please verify information from the XML before uploading.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button id="xml-verified" class="btn btn-primary upload"><i class="material-icons">&#xE2C6;</i> I have verified the XML and it is ready to upload {{file.name}}</button>
        </div>
    </div>
    {{/if}}

    {{>AdminArticleForm}}
</template>

<template name="AdminUploadArticleXml">
    {{>AdminHeader header="Article XML Uploader"}}
    {{>StatusModal}}
    {{#if article}}
    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Verify Data</div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Title:</label></div>
                        <div class="col s10">{{{title}}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Article Type:</label></div>
                        <div class="col s10">{{#if article_type}}{{article_type.name}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Volume:</label></div>
                        <div class="col s10">{{#if volume}}{{volume}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Issue:</label></div>
                        <div class="col s10">{{#if issue}}{{issue}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Pages:</label></div>
                        <div class="col s10">{{#if page_start}}{{page_start}}{{#if page_end}}-{{page_end}}{{/if}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>IDs:</label></div>
                        <div class="col s10">
                            {{#if ids}}
                            {{#each arrayify ids}}
                            {{#if equals name 'doi'}}
                            {{name}}: <a href="{{value}}">{{prettyDoi value}}</a>
                            {{else}}
                            <label>{{name}}:</label> {{value}}
                            {{/if}}
                            <div class="clearfix"></div>
                            {{/each}}
                            {{else}}
                            N/A
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Dates:</label></div>
                        <div class="col s10">
                            {{#if dates}}
                            {{#each arrayify dates}}
                            <label>{{name}}:</label> {{articleDate value}}
                            <div class="clearfix"></div>
                            {{/each}}
                            {{else}}
                            N/A
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>History:</label></div>
                        <div class="col s10">
                            {{#if history}}
                            {{#each arrayify history}}
                            <label>{{name}}:</label> {{articleDate value}}
                            <div class="clearfix"></div>
                            {{/each}}
                            {{else}}
                            N/A
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Authors:</label></div>
                        <div class="col s10">
                        {{#if authors}}
                        <div class="authors">
                            {{#each authors}}
                                <span class="author">
                                    {{name_first}}
                                    {{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}
                                    {{#if affiliations_numbers}}
                                        <sup class="author-affiliations">{{#each affiliations_numbers}}<span>{{affiliationNumber .}}<span class="comma">,&nbsp;</span></span>{{/each}}</sup>
                                    {{/if}}
                                    <span class="comma">, </span>
                                </span>
                            {{/each}}
                        </div>
                        {{#if affiliations}}
                        {{#each arrayify affiliations}}
                            <div class="clearfix"></div>
                            <span class="affiliations">
                                {{affiliationNumber name}}. {{value}}
                            </span>
                        {{/each}}
                        {{/if}}
                        {{else}}N/A{{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Correspondence:</label></div>
                        <div class="col s10">{{#if correspondence}}{{#each correspondence}}{{{text}}}{{#if email}}<br><a href="{{email}}">{{email}}</a>{{/if}}{{/each}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Abstract:</label></div>
                        <div class="col s10">{{#if abstract}}{{{abstract}}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Keywords:</label></div>
                        <div class="col s10">{{#if keywords}}{{#each keywords}}{{{.}}}<div class="clearfix"></div>{{/each}}{{else}}N/A{{/if}}</div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Figures:</label></div>
                        <div class="col s10">
                        {{#if files.figures}}
                        {{>AdminArticleFigOrSuppTable files=files.figures}}
                        {{else}}
                        N/A
                        {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Supplemental Material:</label></div>
                        <div class="col s10">
                        {{#if files.supplemental}}
                        {{>AdminArticleFigOrSuppTable files=files.supplemental}}
                        {{else}}
                        N/A
                        {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button class="btn btn-submit" id="add-article">Add Article</button>
                        </div>
                        <div class="col s6 right-align">
                            <button class="btn btn-cancel" id="add-article-cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    {{else}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Uploader</div>
                    {{>s3UploadNewArticle}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>



<template name="AdminArticleFigOrSuppTable">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Label</th>
                <th>Title</th>
                <th>Caption</th>
            </tr>
        </thead>
        <tbody>
            {{#each files}}
            <tr>
                <td>{{#if id}}{{id}}{{else}}&nbsp;{{/if}}</td>
                <td>{{#if label}}{{label}}{{else}}&nbsp;{{/if}}</td>
                <td>{{#if title}}{{{title}}}{{else}}&nbsp;{{/if}}</td>
                <td>{{#if caption}}{{{caption}}}{{else}}&nbsp;{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>