<template name="Article">
    {{> SubscribeModal}}

    <div class="row">
        <div class="page-content col s12 m12 l8">
            {{#with article}}
                {{>ArticleHeader}}
            {{/with}}

            {{#if isSubscribed}}
                {{#if files.figures}}
                    <h3>Figures</h3>
                    {{>ArticleFigures figures=files.figures}}
                {{/if}}
            {{/if}}
        </div>

        {{#with article}}
            {{> ArticleSidebar}}
        {{/with}}
    </div>
</template>