<template name="ArticleText">
    <div class="row">
        <div class="page-content col s12 m12 l8">
            {{#with article}}
                {{>ArticleHeader}}

                {{#if ids.pii}}
                {{else}}
                    <div class="center-align"><h4>Full Text Unavailable.</h4></div>
                {{/if}}
            {{/with}}

            {{#if fullText}}
            {{else}}
                {{>Loading}}
            {{/if}}

            {{#with fullText}}
                <div class="article-text">
                    {{>ArticleFullText}}

                    {{#if acks}}
                        {{#each acks}}
                        <h3 id="{{convertToID title}}" class="article-header-{{headerLevel}}">{{title}}</h3>
                            {{#each content}}
                                {{#if equals contentType 'p'}}
                                    <p>{{{content}}}</p>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    {{/if}}


                    {{#if footnotes}}
                        {{#each footnotes}}
                        <h3 id="{{convertToID title}}" class="article-header-{{headerLevel}}">{{title}}</h3>
                            {{#each content}}
                                {{#if equals contentType 'p'}}
                                    <p>{{{content}}}</p>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    {{/if}}

                    {{#if references}}
                        <h3 id="references">References</h3>
                        <ul>
                            {{#each references}}
                                <li id="R{{number}}">
                                    <b>{{number}}.</b>

                                    {{#if equals type 'journal'}}
                                    {{#if authors}}<span> {{authors}}.</span>{{/if}}
                                    {{#if title}}<span> {{title}}.</span>{{/if}}
                                    {{#if source}}<span> {{source}}.</span>{{/if}}
                                    {{#if year}}<span> {{year}};</span>{{/if}}
                                    {{#if volume}}<span> {{volume}}:</span>{{/if}}
                                    {{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>.{{/if}}
                                    {{#if pmid}}<span> [<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}" target="_BLANK">PubMed</a>]</span>{{/if}}
                                    {{/if}}

                                    {{#if equals type 'book'}}
                                    {{#if authors}}<span> {{authors}}.</span>{{/if}}
                                    {{#if year}}<span> {{year}}.</span>{{/if}}
                                    {{#if chapter_title}}<span> {{chapter_title}}.</span>{{/if}}
                                    {{#if volume}}<span> {{volume}}:</span>{{/if}}
                                    {{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>{{/if}}
                                    <span>(</span>
                                    {{#if source}}<span>{{{source}}}</span>{{/if}}
                                    {{#if publisher_loc}}<span>{{{publisher_loc}}}</span>{{/if}}
                                    {{#if publisher_name}}: <span>{{{publisher_name}}}</span>{{/if}}
                                    <span>)</span>
                                    <span>.</span>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            {{/with}}
        </div>

        {{#with article}}
            {{> ArticleSidebar}}
        {{/with}}
    </div>
</template>

<template name="ArticleFullText">
    {{#if advanceContent}}
        {{{advanceContent}}}
    {{else}}
        {{#each sections}}
            <div class="section-container" id="{{#if equals headerLevel 1}}{{convertToID title}}{{/if}}">
                <h3 class="article-header-{{headerLevel}}">{{#if label}} {{{label}}}} {{/if}} {{{title}}}</h3>
                {{#each content}}
                    {{#if equals contentType 'p'}}
                    <p>{{{content}}}</p>
                    {{/if}}

                    {{#if equals contentType 'figure'}}
                    <!-- Figure -->
                        {{#with content}}
                        <div class="full-text-image-container" id="{{id}}">
                            {{#if label}}<label>{{{label}}}</label>{{/if}}
                            {{#if url}}<a href="/figure/?article={{articleId .}}&img={{url}}" target="_blank"><img class="full-text-image" src="{{url}}"/></a>{{/if}}
                            {{#if title}}<h4>{{{title}}}</h4>{{/if}}
                            {{#if caption}}<p>{{{caption}}}</p>{{/if}}
                        </div>
                        {{/with}}
                    {{/if}}

                    {{#if equals contentType 'table'}}
                    <!-- Table -->
                        <div class="article-table">
                            {{{content}}}
                        </div>
                    {{/if}}

                    {{#if equals contentType 'supplement'}}
                    <!-- Supplemental -->
                        {{#with content}}
                        {{#if label}}<a href="{{url}}" class="supplemental" id="{{id}}"><span class="icon icon-download"></span> {{label}}</a>
                        {{else}}<a href="{{url}}" class="supplemental" id="{{id}}"><span class="icon icon-download"></span> Supplemental File</a>{{/if}}
                        <br />
                        {{/with}}
                    {{/if}}

                {{/each}}
            </div>
        {{/each}}
    {{/if}}
</template>
