<template name="ArticleHeaderTitle">
    <h5 class="article-header">
        {{>ArticleHeaderPieces}}
    </h5>
    <div id="article-title-and-badge-container" class="valign-wrapper">
        {{#if altMetricReady}}
        {{#if ids.doi}}
        {{#with ids}}
        {{>AltmetricBadge doi=doi}}
        {{/with}}
        {{/if}}
        {{/if}}
        <div id="article-container">
            <h1 id="article-title" class="valign">
                {{{title}}}
            </h1>
        </div>
    </div>
</template>
<!-- <template name="ArticleHeaderTitle">
    <h5 class="article-header">
        {{>ArticleHeaderPieces}}
    </h5>
    <div id="article-title-and-badge-container" class="valign-wrapper">
        <div id="article-container">
            <h1 id="article-title" class="valign">
                {{{title}}}
            </h1>
        </div>
    </div>
</template> -->

<template name="ArticleHeaderPieces">
    {{#if article_type.name}}
        <span class="article-type">{{article_type.name}}</span>
    {{/if}}
    {{#if advance}}
        <span><a href="/advance" style="cursor: pointer;">Advance Articles</a></span>
    {{else}}
    {{#if vi}}
        <span><a href="{{pathFor 'Issue' vi=vi}}" style="cursor: pointer;">Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</a></span>
    {{else}}
    {{#if issue_id}}
    {{#if volume}}
    {{#if issue}}
        <span><a href="/volume/v{{volume}}i{{issue}}" style="cursor: pointer;">Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</a></span>
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}

    {{#if page_start}}<span>{{>ArticlePages}}</span>{{/if}}
</template>

<template name="AltmetricBadge">
    <div data-badge-type="donut" data-doi="{{doi}}" data-hide-no-mentions="true" data-hide-less-than="10" data-condensed="true" class="altmetric-badge valign article-altmetric left-align altmetric-embed" data-uuid="85f0f879-6f2e-dbf5-06d5-ec49e920a3ed"></div>
</template>

<template name="ArticlePages">
    pp {{page_start}}{{#if page_end}}{{#if equals page_end page_start}}{{else}}&mdash;{{page_end}}{{/if}}{{/if}}
</template>

<template name="ArticleHeader">
    {{>ArticleHeaderTitle}}
    {{>AuthorsRefList }}
    {{#if dates}} {{>ArticleDates}} {{/if}}
    {{#if ids.doi}}<span><a href="http://dx.doi.org/{{ids.doi}}">{{ids.doi}}</a></span>{{/if}}


    <!--{{#if ids.pmc}}<span class="right"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC{{ids.pmc}}" target="_BLANK">PMC</a></span>{{/if}}-->

    <!-- todo: implement featured photo -->
    <!-- {{#if featuredPhoto}} -->
    <!-- <div class="featured-photo">
        <img src="/images/example-fig2.png" class="photo">
        <span class="dark tag">From <strong>Figure 2</strong></span>
    </div> -->
    <!-- {{/if}} -->



    <!-- {{#each arrayify ids}}
        {{#if equals name 'doi'}}
            <label>{{name}}:</label> <a href="{{value}}">{{prettyDoi value}}</a>
        {{else}}
            <label>{{name}}:</label> {{value}}
        {{/if}}
    {{/each}} -->


    <!-- {{>ArticleButtons _id=_id abstract=abstract files=files}} -->

    {{#if abstract}}
        <div class="abstract article-text">
            <h3 class="bordered article-header-1" id="abstract">Abstract</h3>
            {{{wrapInParagraphTag abstract}}}
            <div id="fulltext"></div>
        </div>
    {{/if}}
</template>

<template name="AuthorsList">
    <span class="authors">
        {{#each authors}}
            <span class="author">{{name_first}}{{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}<span class="author-comma">, </span></span>
        {{/each}}
    </span>
</template>

<template name="AuthorAffsAndNotes">
    <sup class="author-affiliations">
        {{#each affiliations_numbers}}
        <span><a href="#" class="tooltip--triangle" data-tooltip="{{tooltipAffiliation}}">{{affiliationNumber .}}</a><span class="comma">,</span></span>
        {{/each}}
        {{#each author_notes}}<span>{{label}}<span class="comma">,</span></span>{{/each}}
        {{#if equal_contrib}}<span>{{equal_contrib}}<span class="comma">,</span></span>{{/if}}
    </sup>
</template>

<template name="AuthorsRefList">
    <h4 class="authors">
        {{#each authors }}
            <span class="author">
                {{name_first}} {{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}{{#if name_suffix}} {{name_suffix}}{{/if}}{{#if affiliations_numbers}}{{>AuthorAffsAndNotes}}{{/if}}<span class="author-comma">,</span>
            </span>
        {{/each}}
    </h4>

    <span>
    <ul>
    {{#each affiliations}}
    {{#if notEmpty .}}
    <li>
        <sup>{{affiliationNumber @index affiliations}}</sup> {{.}}
    </li>
    {{/if}}
    {{/each}}
    </ul>
    </span>

    {{#if equal_contribs}}
    <span>{{equal_contribs}} Contributed equally to this work.</span>
    {{/if}}

    {{#if author_notes}}
    {{#each author_notes}}
    <div>{{label}} {{note}}.</div>
    {{/each}}
    {{/if}}



</template>


<template name="ArticleDates">
    <h4 class="dates">
        {{#each arrayify history}}
            <span class="date">
                {{name}}: {{articleDate value}} <span class="comma">; </span>
            </span>
        {{/each}}

        {{#each arrayify dates}}
            <span class="date">
            {{#if equals name 'collection'}}
                published: {{collectionDate value}} <span class="comma">; </span>
                {{else}}
                published: {{articleDate value}} <span class="comma">; </span>
            {{/if}}
            </span>
        {{/each}}
    </h4>
</template>

<template name="ArticleSidebar">
    <div class="page-sidebar col s12 m12 l4">
        {{#with article}}
        {{#if isSubscribed}}

            <!-- for subscribed users -->
            {{#if fullTextView}}
                {{#with files}}
                {{#if pdf.url}}
                    <a href="{{pdf.url}}" class="download-pdf full-width end-cap primary button">
                        <span class="icon icon-download"></span> Download PDF
                    </a>
                {{/if}}
                {{/with}}
            {{/if}}

            {{#if abstractView}}
                {{#if fullTextAvailable}}
                    <a href="{{pathFor 'ArticleText' hash='fulltext'}}" class="view-html full-width end-cap primary button">
                        <span class="icon icon-file"></span> View Full Text
                    </a>
                {{/if}}

                {{#with files}}
                {{#if pdf.url}}
                    <a href="{{pdf.url}}" class="download-pdf full-width end-cap primary button">
                        <span class="icon icon-download"></span> Download PDF
                    </a>
                {{/if}}
                {{/with}}
            {{/if}}
        {{else}}
            <!-- not subscribed -->
            {{#if fullText}}
                {{#with files}}
                {{#if pdf.url}}
                    <a href="{{pdf.url}}" class="full-width end-cap primary button">
                        <span class="icon icon-download"></span> Download PDF
                    </a>
                {{/if}}
                {{/with}}
            {{else}}
                <a href="#subscribe-modal" class="full-width end-cap primary button modal-trigger">
                    <span class="icon icon-file"></span> View Full Text
                </a>
            {{/if}}
        {{/if}}
        {{/with}}

        {{#with article}}
        {{#if correspondence}}
            {{> ArticleCorrespondence}}
        {{/if}}
        {{/with}}


        {{#if related}}
            {{> ArticleRelatedArticles}}
        {{/if}}

        {{#with article}}
        {{#if keywords}}
            {{> ArticleKeywords}}
        {{/if}}
        {{/with}}

        {{#if fullTextReady}}
            {{#if fullTextView}}
                {{#with article}}
                    {{#if showToc}}
                        {{> scrollspyCard title="Table of Contents" items=items abstract=abstract references=references}}
                    {{/if}}
                {{/with}}
            {{/if}}
        {{/if}}
    </div>
</template>

<template name="ArticleCorrespondence">
    <div class="card sidebar-card">
        <h6 class="card-title">Corresponding Author{{#if correspondence.[1]}}s{{/if}}</h6>
        {{#each correspondence}}
        <p class="correspondence">
            {{#if text}}<span class="correspondence-text">{{text}}</span><br /> {{/if}}
            <a class="correspondence-email" href="mailto:{{email}}">{{email}}</a>
        </p>
        {{/each}}
    </div>
</template>

<template name="ArticleRelatedArticles">
    <div class="card sidebar-card">
        <h6 class="card-title">Related Article{{#if related.[1]}}s{{/if}}</h6>
        {{#each related}}
        <p>
        {{#if equals related_article_type 'commentary-article'}}Commentary on: {{/if}}
        {{#if title}}{{{title}}}. {{/if}}
        {{#if source}}{{source}}. {{/if}}
        {{#if pmid}}[<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}/" target="_BLANK">PubMed</a>]{{/if}}
        </p>
        {{/each}}
    </div>
</template>

<template name="ArticleKeywords">
    <div class="card sidebar-card">
        <h6 class="card-title">Keywords / Related Publications</h6>
        <div class="tags">
            {{#each keywords}}
            <a class="keyword tag" href="/search/?terms={{.}}">{{{.}}}</a>
            {{/each}}
        </div>
    </div>
</template>

<template name="ArticleSupplemental">
    <div class="card sidebar-card">
        <h6 class="card-title">Supplemental Files</h6>
        <ul>
            {{#each supplemental}}
                {{#if url}}
                <li><a href="{{url}}" class="supplemental"><span class="icon icon-download"></span> {{#if label}}{{label}}{{else}} Supplemental File{{/if}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="ArticleFigures">
    <div class="owl-carousel">
    {{#each figures}}
        <div>
            <h4 class="center-align">{{{figureTitle}}}</h4>
            {{#each imgURLs}}<a href="/figure/?article={{articleId .}}&img={{.}}" target="_blank"><img src="{{.}}" width="100%;"></a>{{/each}}
            <!-- <p>{{{figureText}}}</p> -->
        </div>
    {{/each}}
    </div>
</template>

<template name="ArticleButtons">
    <div class="article-links">
        {{#if abstract}}<a class="small button" href="{{pathFor 'Article'}}">View Abstract</a>{{/if}}

        {{#if isSubscribed}}
            {{#with files}}

                {{#if pdf.url}}
                {{#if pdf.display}}
                <a target="_BLANK" data-id="{{_id}}" class="download-pdf small button" href="{{pdf.url}}">PDF</a>
                {{/if}}
                {{/if}}

                {{#if xml.url}}
                {{#if xml.display}}
                <a data-id="{{_id}}" class="view-html small button {{isActiveRoute 'ArticleText'}} {{#if isActiveRoute 'ArticleText'}}darken-4{{else}}darken-1{{/if}}" href="{{pathFor 'ArticleText'}}">Full-Text</a>
                {{/if}}
                {{/if}}

            {{/with}}


            {{#if showCrawledText}}
            <a data-id="{{_id}}" class="small button {{isActiveRoute 'ArticleText'}} {{#if isActiveRoute 'ArticleText'}}darken-4{{else}}darken-1{{/if}}" href="{{pathFor 'ArticleText'}}">Full-Text</a>
            {{/if}}


        {{else}}
            {{#with files}}

            {{#if pdf.file}}
                {{#if pdf.display}}
                <a data-id="{{_id}}" class="small button modal-trigger disabled" href="#subscribe-modal">PDF</a>
                {{/if}}
            {{/if}}

            {{#if xml.file}}
                {{#if xml.display}}
                <a data-id="{{_id}}" class="small button disabled modal-trigger" href="#subscribe-modal">Full-Text</a>
                {{/if}}
            {{/if}}

            {{#if advanceContent}}
            <a data-id="{{_id}}" class="small button {{isActiveRoute 'ArticleText'}} {{#if isActiveRoute 'ArticleText'}}darken-4{{else}}darken-1{{/if}}" href="{{pathFor 'ArticleText'}}">Full-Text</a>
            {{/if}}


            {{/with}}
        {{/if}}
    </div>
</template>

<!--admin partials-->
<template name="addArticleBtn">
    <button class="add-article btn waves-effect waves-light btn-add" type="submit" name="action" alt="Add Article"><i class="material-icons">&#xE147;</i> Add</button>
</template>
<template name="updateArticleBtn">
    <button data-mongoid="{{_id}}" class="update-article btn waves-effect waves-light btn-update" type="submit" name="action" alt="Update Article"><i class="material-icons">&#xE254;</i> Update</button>
</template>
