<template name="ArticleText">
	{{#with article}}
		{{>ArticleHeader}}

		{{#if ids.pii}}
		{{else}}
		<div class="row">
			<div class="col s12 red center-align"><h4>Full Text Unavailable.</h4></div>
		</div>

		{{/if}}
	{{/with}}

	{{#if fullText}}
	{{else}}
	{{>Loading}}
	{{/if}}

	{{#with fullText}}
		{{>ArticleFullText}}

		{{#if references}}
			<h3 id="references">References</h3>
			<ul>
				{{#each references}}
					<li id="R{{number}}">
						<b>{{number}}.</b>

						{{#if equals type 'journal'}}
						{{#if authors}}<span> {{authors}}.</span>{{/if}}
						{{#if title}}<span> {{title}}.</span>{{/if}}
						{{#if source}}<span> {{source}}.</span>{{/if}}
						{{#if year}}<span> {{year}};</span>{{/if}}
						{{#if volume}}<span> {{volume}}:</span>{{/if}}
						{{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>.{{/if}}
						{{#if pmid}}<span> [<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}" target="_BLANK">PubMed</a>]</span>{{else}}{{getPmid .}}{{/if}}
						{{/if}}

						{{#if equals type 'book'}}
						{{#if authors}}<span> {{authors}}.</span>{{/if}}
						{{#if year}}<span> {{year}}.</span>{{/if}}
						{{#if chapter_title}}<span> {{chapter_title}}.</span>{{/if}}
						{{#if volume}}<span> {{volume}}:</span>{{/if}}
						{{#if fpage}}<span> {{fpage}}</span>{{/if}}{{#if lpage}}<span>-{{lpage}}</span>{{/if}}
						<span>(</span>
						{{#if source}}<span>{{{source}}}</span>{{/if}}
						{{#if publisher_loc}}<span>{{{publisher_loc}}}</span>{{/if}}
						{{#if publisher_name}}: <span>{{{publisher_name}}}</span>{{/if}}
						<span>)</span>
						<span>.</span>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		{{/if}}
	{{/with}}
</template>

<template name="ArticleFullText">
	<h3 id="main-text">Main Text</h3>
	{{#each sections}}
	<div class="section-container" id="{{sectionId}}">
		<div class="article-header-{{headerLevel}}">{{#if label}}{{{label}}} {{/if}}{{{title}}}</div>
		{{#each content}}
			{{#if equals contentType 'p'}}
			<p>{{{content}}}</p>
			{{/if}}

			{{#if equals contentType 'figure'}}
			{{#with content}}
			<div class="full-text-image-container box border-gray center-align" id="{{id}}">
				{{#if label}}<label>{{{label}}}</label>{{/if}}
				{{#if url}}<a href="/figure/?article={{articleId .}}&img={{url}}" target="_blank"><img class="full-text-image" src="{{url}}"/></a>{{/if}}
				{{#if title}}<h4>{{{title}}}</h4>{{/if}}
				{{#if caption}}<p>{{{caption}}}</p>{{/if}}
			</div>
			{{/with}}
			{{/if}}

			{{#if equals contentType 'table'}}
			<div class="article-table">
				{{{content}}}
			</div>
			{{/if}}
		{{/each}}
	</div>
	{{/each}}
</template>