<template name="Article">
	{{> SubscribeModal}}

	<div class="page-content">
		{{#with article}}
			{{>ArticleHeader}}
		{{/with}}

		{{#if isSubscribed}}
			{{#if files.figures}}
				<h3>Figures</h3>
				{{>ArticleFigures figures=files.figures}}
			{{/if}}
		{{/if}}
	</div>

	<div class="page-sidebar">
		<!-- Todo: Implement views toggle -->
		<div class="button-toggle">
			<a href="#" class="button">Full Text</a>
			<!-- <span>or</span> -->
			<a href="#" class="button active">Abstract</a>
		</div>

		<a href="#" class="full-width button"><span class="btn-cap"></span> Download PDF</a>

		<div class="card sidebar-card">
			<h6 class="card-title">Corresponding Author</h6>
			<p>Laura E. Niklason, MD, PhD<br />
			<a href="#">emailaddress@email.com</a></p>
		</div>

		{{#with article}} {{#if keywords}}
			<div class="card sidebar-card">
				<h6 class="card-title">Keywords</h6>
					<div class="tags">
						{{#each keywords}}
							<a class="keyword tag">{{{.}}}</a>
						{{/each}}
					</div>
			</div>
		{{/if}} {{/with}}

		<div class="card sidebar-card fixed-scroll-card">
			<h6 class="card-title">Table of Contents</h6>
			<ul class="scrollspy toc">
				<a href="#"><li>Abstract</li></a>
				<a href="#"><li class="active">Introduction</li></a>
				<a href="#"><li>Materials and Methods</li></a>
				<a href="#"><li>References</li></a>
			</ul>
		</div>
	</div>
</template>